/* 
  Color Palettes: light-blue
  CSS by: Alan Museljic
  Credit Color Palettes Material Design Colors
*/

/* -- light-blue fill colors -- */

.background--light-blue{
  background: #03a9f4;
}
.background--light-blue-50{
  background: #e1f5fe;
}
.background--light-blue-100{
  background: #b3e5fc;
}
.background--light-blue-200{
  background: #81d4fa;
}
.background--light-blue-300{
  background: #4fc3f7;
}
.background--light-blue-400{
  background: #29b6f6;
}
.background--light-blue-500{
  background: #03a9f4;
}
.background--light-blue-600{
  background: #039be5;
}
.background--light-blue-700{
  background: #0288d1;
}
.background--light-blue-800{
  background: #0277bd;
}
.background--light-blue-900{
  background: #01579b;
}
.background--light-blue-a100{
  background: #80d8ff;
}
.background--light-blue-a200{
  background: #40c4ff;
}
.background--light-blue-a400{
  background:  #00b0ff;
}
.background--light-blue-a700{
  background: #0091ea;
}

/* -- light-blue text / icon colors -- */

.color--light-blue{
  color: #03a9f4;
}
.color--light-blue-50{
  color: #e1f5fe;
}
.color--light-blue-100{
  color: #b3e5fc;
}
.color--light-blue-200{
  color: #81d4fa;
}
.color--light-blue-300{
  color: #4fc3f7;
}
.color--light-blue-400{
  color: #29b6f6;
}
.color--light-blue-500{
  color: #03a9f4;
}
.color--light-blue-600{
  color: #039be5;
}
.color--light-blue-700{
  color: #0288d1;
}
.color--light-blue-800{
  color: #0277bd;
}
.color--light-blue-900{
  color: #01579b;
}
.color--light-blue-a100{
  color: #80d8ff;
}
.color--light-blue-a200{
  color: #40c4ff;
}
.color--light-blue-a400{
  color:  #00b0ff;
}
.color--light-blue-a700{
  color: #0091ea;
}


/* -- light-blue border colors -- */

.border-color--light-blue{
  border-color: #03a9f4;
}
.border-color--light-blue-50{
  border-color: #e1f5fe;
}
.border-color--light-blue-100{
  border-color: #b3e5fc;
}
.border-color--light-blue-200{
  border-color: #81d4fa;
}
.border-color--light-blue-300{
  border-color: #4fc3f7;
}
.border-color--light-blue-400{
  border-color: #29b6f6;
}
.border-color--light-blue-500{
  border-color: #03a9f4;
}
.border-color--light-blue-600{
  border-color: #039be5;
}
.border-color--light-blue-700{
  border-color: #0288d1;
}
.border-color--light-blue-800{
  border-color: #0277bd;
}
.border-color--light-blue-900{
  border-color: #01579b;
}
.border-color--light-blue-a100{
  border-color: #80d8ff;
}
.border-color--light-blue-a200{
  border-color: #40c4ff;
}
.border-color--light-blue-a400{
  border-color:  #00b0ff;
}
.border-color--light-blue-a700{
  border-color: #0091ea;
}