/* 
  Color Palettes: pink - extended 
  CSS by: Alan Museljic
  Credit Color Palettes Material Design Colors
*/


/* -- pink fill colors -- */

[mod-background~="pink"],
[mod-each-child~="background-pink"] > [mod-child],
[mod-background~="on-hover-pink"]:hover,
[mod-background~="on-focus-pink"]:focus,
[mod-each-child~="on-hover-background-pink"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-pink"] > [mod-child]:focus{
  background: #e91e63;
}
[mod-background~="pink-50"],
[mod-each-child~="background-pink-50"] > [mod-child],
[mod-background~="on-hover-pink-50"]:hover,
[mod-background~="on-focus-pink-50"]:focus,
[mod-each-child~="on-hover-background-pink-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-pink-50"] > [mod-child]:focus{
  background: #fce4ec;
}
[mod-background~="pink-100"],
[mod-each-child~="background-pink-100"] > [mod-child],
[mod-background~="on-hover-pink-100"]:hover,
[mod-background~="on-focus-pink-100"]:focus,
[mod-each-child~="on-hover-background-pink-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-pink-100"] > [mod-child]:focus{
  background: #f8bbd0;
}
[mod-background~="pink-200"],
[mod-each-child~="background-pink-200"] > [mod-child],
[mod-background~="on-hover-pink-200"]:hover,
[mod-background~="on-focus-pink-200"]:focus,
[mod-each-child~="on-hover-background-pink-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-pink-200"] > [mod-child]:focus{
  background: #f48fb1;
}
[mod-background~="pink-300"],
[mod-each-child~="background-pink-300"] > [mod-child],
[mod-background~="on-hover-pink-300"]:hover,
[mod-background~="on-focus-pink-300"]:focus,
[mod-each-child~="on-hover-background-pink-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-pink-300"] > [mod-child]:focus{
  background: #f06292;
}
[mod-background~="pink-400"],
[mod-each-child~="background-pink-400"] > [mod-child],
[mod-background~="on-hover-pink-400"]:hover,
[mod-background~="on-focus-pink-400"]:focus,
[mod-each-child~="on-hover-background-pink-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-pink-400"] > [mod-child]:focus{
  background: #ec407a;
}
[mod-background~="pink-500"],
[mod-each-child~="background-pink-500"] > [mod-child],
[mod-background~="on-hover-pink-500"]:hover,
[mod-background~="on-focus-pink-500"]:focus,
[mod-each-child~="on-hover-background-pink-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-pink-500"] > [mod-child]:focus{
  background: #e91e63;
}
[mod-background~="pink-600"],
[mod-each-child~="background-pink-600"] > [mod-child],
[mod-background~="on-hover-pink-600"]:hover,
[mod-background~="on-focus-pink-600"]:focus,
[mod-each-child~="on-hover-background-pink-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-pink-600"] > [mod-child]:focus{
  background: #d81b60;
}
[mod-background~="pink-700"],
[mod-each-child~="background-pink-700"] > [mod-child],
[mod-background~="on-hover-pink-700"]:hover,
[mod-background~="on-focus-pink-700"]:focus,
[mod-each-child~="on-hover-background-pink-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-pink-700"] > [mod-child]:focus{
  background: #c2185b;
}
[mod-background~="pink-800"],
[mod-each-child~="background-pink-800"] > [mod-child],
[mod-background~="on-hover-pink-800"]:hover,
[mod-background~="on-focus-pink-800"]:focus,
[mod-each-child~="on-hover-background-pink-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-pink-800"] > [mod-child]:focus{
  background: #ad1457;
}
[mod-background~="pink-900"],
[mod-each-child~="background-pink-900"] > [mod-child],
[mod-background~="on-hover-pink-900"]:hover,
[mod-background~="on-focus-pink-900"]:focus,
[mod-each-child~="on-hover-background-pink-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-pink-900"] > [mod-child]:focus{
  background: #880e4f;
}
[mod-background~="pink-a100"],
[mod-each-child~="background-pink-a100"] > [mod-child],
[mod-background~="on-hover-pink-a100"]:hover,
[mod-background~="on-focus-pink-a100"]:focus,
[mod-each-child~="on-hover-background-pink-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-pink-a100"] > [mod-child]:focus{
  background: #ff80ab;
}
[mod-background~="pink-a200"],
[mod-each-child~="background-pink-a200"] > [mod-child],
[mod-background~="on-hover-pink-a200"]:hover,
[mod-background~="on-focus-pink-a200"]:focus,
[mod-each-child~="on-hover-background-pink-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-pink-a200"] > [mod-child]:focus{
  background: #ff4081;
}
[mod-background~="pink-a400"],
[mod-each-child~="background-pink-a400"] > [mod-child],
[mod-background~="on-hover-pink-a400"]:hover,
[mod-background~="on-focus-pink-a400"]:focus,
[mod-each-child~="on-hover-background-pink-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-pink-a400"] > [mod-child]:focus{
  background:  #f50057;
}
[mod-background~="pink-a700"],
[mod-each-child~="background-pink-a700"] > [mod-child],
[mod-background~="on-hover-pink-a700"]:hover,
[mod-background~="on-focus-pink-a700"]:focus,
[mod-each-child~="on-hover-background-pink-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-pink-a700"] > [mod-child]:focus{
  background: #c51162;
}

/* -- pink text colors -- */

[mod-text~="pink"],
[mod-each-child~="text-pink"] > [mod-child],
[mod-text~="on-hover-pink"]:hover,
[mod-text~="on-focus-pink"]:focus,
[mod-each-child~="on-hover-text-pink"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-pink"] > [mod-child]:focus{
  color: #e91e63;
}
[mod-text~="pink-50"],
[mod-each-child~="text-pink-50"] > [mod-child],
[mod-text~="on-hover-pink-50"]:hover,
[mod-text~="on-focus-pink-50"]:focus,
[mod-each-child~="on-hover-text-pink-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-pink-50"] > [mod-child]:focus{
  color: #fce4ec;
}
[mod-text~="pink-100"],
[mod-each-child~="text-pink-100"] > [mod-child],
[mod-text~="on-hover-pink-100"]:hover,
[mod-text~="on-focus-pink-100"]:focus,
[mod-each-child~="on-hover-text-pink-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-pink-100"] > [mod-child]:focus{
  color: #f8bbd0;
}
[mod-text~="pink-200"],
[mod-each-child~="text-pink-200"] > [mod-child],
[mod-text~="on-hover-pink-200"]:hover,
[mod-text~="on-focus-pink-200"]:focus,
[mod-each-child~="on-hover-text-pink-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-pink-200"] > [mod-child]:focus{
  color: #f48fb1;
}
[mod-text~="pink-300"],
[mod-each-child~="text-pink-300"] > [mod-child],
[mod-text~="on-hover-pink-300"]:hover,
[mod-text~="on-focus-pink-300"]:focus,
[mod-each-child~="on-hover-text-pink-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-pink-300"] > [mod-child]:focus{
  color: #f06292;
}
[mod-text~="pink-400"],
[mod-each-child~="text-pink-400"] > [mod-child],
[mod-text~="on-hover-pink-400"]:hover,
[mod-text~="on-focus-pink-400"]:focus,
[mod-each-child~="on-hover-text-pink-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-pink-400"] > [mod-child]:focus{
  color: #ec407a;
}
[mod-text~="pink-500"],
[mod-each-child~="text-pink-500"] > [mod-child],
[mod-text~="on-hover-pink-500"]:hover,
[mod-text~="on-focus-pink-500"]:focus,
[mod-each-child~="on-hover-text-pink-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-pink-500"] > [mod-child]:focus{
  color: #e91e63;
}
[mod-text~="pink-600"],
[mod-each-child~="text-pink-600"] > [mod-child],
[mod-text~="on-hover-pink-600"]:hover,
[mod-text~="on-focus-pink-600"]:focus,
[mod-each-child~="on-hover-text-pink-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-pink-600"] > [mod-child]:focus{
  color: #d81b60;
}
[mod-text~="pink-700"],
[mod-each-child~="text-pink-700"] > [mod-child],
[mod-text~="on-hover-pink-700"]:hover,
[mod-text~="on-focus-pink-700"]:focus,
[mod-each-child~="on-hover-text-pink-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-pink-700"] > [mod-child]:focus{
  color: #c2185b;
}
[mod-text~="pink-800"],
[mod-each-child~="text-pink-800"] > [mod-child],
[mod-text~="on-hover-pink-800"]:hover,
[mod-text~="on-focus-pink-800"]:focus,
[mod-each-child~="on-hover-text-pink-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-pink-800"] > [mod-child]:focus{
  color: #ad1457;
}
[mod-text~="pink-900"],
[mod-each-child~="text-pink-900"] > [mod-child],
[mod-text~="on-hover-pink-900"]:hover,
[mod-text~="on-focus-pink-900"]:focus,
[mod-each-child~="on-hover-text-pink-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-pink-900"] > [mod-child]:focus{
  color: #880e4f;
}
[mod-text~="pink-a100"],
[mod-each-child~="text-pink-a100"] > [mod-child],
[mod-text~="on-hover-pink-a100"]:hover,
[mod-text~="on-focus-pink-a100"]:focus,
[mod-each-child~="on-hover-text-pink-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-pink-a100"] > [mod-child]:focus{
  color: #ff80ab;
}
[mod-text~="pink-a200"],
[mod-each-child~="text-pink-a200"] > [mod-child],
[mod-text~="on-hover-pink-a200"]:hover,
[mod-text~="on-focus-pink-a200"]:focus,
[mod-each-child~="on-hover-text-pink-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-pink-a200"] > [mod-child]:focus{
  color: #ff4081;
}
[mod-text~="pink-a400"],
[mod-each-child~="text-pink-a400"] > [mod-child],
[mod-text~="on-hover-pink-a400"]:hover,
[mod-text~="on-focus-pink-a400"]:focus,
[mod-each-child~="on-hover-text-pink-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-pink-a400"] > [mod-child]:focus{
  color:  #f50057;
}
[mod-text~="pink-a700"],
[mod-each-child~="text-pink-a700"] > [mod-child],
[mod-text~="on-hover-pink-a700"]:hover,
[mod-text~="on-focus-pink-a700"]:focus,
[mod-each-child~="on-hover-text-pink-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-pink-a700"] > [mod-child]:focus{
  color: #c51162;
}

/* -- pink border colors -- */

[mod-border~="pink"],
[mod-each-child~="border-pink"] > [mod-child],
[mod-border~="on-hover-pink"]:hover,
[mod-border~="on-focus-pink"]:focus,
[mod-each-child~="on-hover-border-pink"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-pink"] > [mod-child]:focus{
  border-color: #e91e63;
}
[mod-border~="pink-50"],
[mod-each-child~="border-pink-50"] > [mod-child],
[mod-border~="on-hover-pink-50"]:hover,
[mod-border~="on-focus-pink-50"]:focus,
[mod-each-child~="on-hover-border-pink-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-pink-50"] > [mod-child]:focus{
  border-color: #fce4ec;
}
[mod-border~="pink-100"],
[mod-each-child~="border-pink-100"] > [mod-child],
[mod-border~="on-hover-pink-100"]:hover,
[mod-border~="on-focus-pink-100"]:focus,
[mod-each-child~="on-hover-border-pink-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-pink-100"] > [mod-child]:focus{
  border-color: #f8bbd0;
}
[mod-border~="pink-200"],
[mod-each-child~="border-pink-200"] > [mod-child],
[mod-border~="on-hover-pink-200"]:hover,
[mod-border~="on-focus-pink-200"]:focus,
[mod-each-child~="on-hover-border-pink-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-pink-200"] > [mod-child]:focus{
  border-color: #f48fb1;
}
[mod-border~="pink-300"],
[mod-each-child~="border-pink-300"] > [mod-child],
[mod-border~="on-hover-pink-300"]:hover,
[mod-border~="on-focus-pink-300"]:focus,
[mod-each-child~="on-hover-border-pink-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-pink-300"] > [mod-child]:focus{
  border-color: #f06292;
}
[mod-border~="pink-400"],
[mod-each-child~="border-pink-400"] > [mod-child],
[mod-border~="on-hover-pink-400"]:hover,
[mod-border~="on-focus-pink-400"]:focus,
[mod-each-child~="on-hover-border-pink-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-pink-400"] > [mod-child]:focus{
  border-color: #ec407a;
}
[mod-border~="pink-500"],
[mod-each-child~="border-pink-500"] > [mod-child],
[mod-border~="on-hover-pink-500"]:hover,
[mod-border~="on-focus-pink-500"]:focus,
[mod-each-child~="on-hover-border-pink-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-pink-500"] > [mod-child]:focus{
  border-color: #e91e63;
}
[mod-border~="pink-600"],
[mod-each-child~="border-pink-600"] > [mod-child],
[mod-border~="on-hover-pink-600"]:hover,
[mod-border~="on-focus-pink-600"]:focus,
[mod-each-child~="on-hover-border-pink-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-pink-600"] > [mod-child]:focus{
  border-color: #d81b60;
}
[mod-border~="pink-700"],
[mod-each-child~="border-pink-700"] > [mod-child],
[mod-border~="on-hover-pink-700"]:hover,
[mod-border~="on-focus-pink-700"]:focus,
[mod-each-child~="on-hover-border-pink-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-pink-700"] > [mod-child]:focus{
  border-color: #c2185b;
}
[mod-border~="pink-800"],
[mod-each-child~="border-pink-800"] > [mod-child],
[mod-border~="on-hover-pink-800"]:hover,
[mod-border~="on-focus-pink-800"]:focus,
[mod-each-child~="on-hover-border-pink-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-pink-800"] > [mod-child]:focus{
  border-color: #ad1457;
}
[mod-border~="pink-900"],
[mod-each-child~="border-pink-900"] > [mod-child],
[mod-border~="on-hover-pink-900"]:hover,
[mod-border~="on-focus-pink-900"]:focus,
[mod-each-child~="on-hover-border-pink-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-pink-900"] > [mod-child]:focus{
  border-color: #880e4f;
}
[mod-border~="pink-a100"],
[mod-each-child~="border-pink-a100"] > [mod-child],
[mod-border~="on-hover-pink-a100"]:hover,
[mod-border~="on-focus-pink-a100"]:focus,
[mod-each-child~="on-hover-border-pink-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-pink-a100"] > [mod-child]:focus{
  border-color: #ff80ab;
}
[mod-border~="pink-a200"],
[mod-each-child~="border-pink-a200"] > [mod-child],
[mod-border~="on-hover-pink-a200"]:hover,
[mod-border~="on-focus-pink-a200"]:focus,
[mod-each-child~="on-hover-border-pink-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-pink-a200"] > [mod-child]:focus{
  border-color: #ff4081;
}
[mod-border~="pink-a400"],
[mod-each-child~="border-pink-a400"] > [mod-child],
[mod-border~="on-hover-pink-a400"]:hover,
[mod-border~="on-focus-pink-a400"]:focus,
[mod-each-child~="on-hover-border-pink-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-pink-a400"] > [mod-child]:focus{
  border-color:  #f50057;
}
[mod-border~="pink-a700"],
[mod-each-child~="border-pink-a700"] > [mod-child],
[mod-border~="on-hover-pink-a700"]:hover,
[mod-border~="on-focus-pink-a700"]:focus,
[mod-each-child~="on-hover-border-pink-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-pink-a700"] > [mod-child]:focus{
  border-color: #c51162;
}