/* 
  Color Palettes: grey - extended 
  CSS by: Alan Museljic
  Credit Color Palettes Material Design Colors
*/


/* -- grey fill colors -- */


[mod-background~="transparent"],
[mod-each-child~="background-transparent"] > [mod-child],
[mod-background~="on-hover-transparent"]:hover,
[mod-background~="on-focus-transparent"]:focus,
[mod-each-child~="on-hover-background-transparent"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-transparent"] > [mod-child]:focus{
  background: transparent;
}
[mod-background~="white"],
[mod-each-child~="background-white"] > [mod-child],
[mod-background~="on-hover-white"]:hover,
[mod-background~="on-focus-white"]:focus,
[mod-each-child~="on-hover-background-white"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-white"] > [mod-child]:focus{
  background: #ffffff;
}
[mod-background~="grey"],
[mod-each-child~="background-grey"] > [mod-child],
[mod-background~="on-hover-grey"]:hover,
[mod-background~="on-focus-grey"]:focus,
[mod-each-child~="on-hover-background-grey"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-grey"] > [mod-child]:focus{
  background: #9e9e9e;
}
[mod-background~="grey-50"],
[mod-each-child~="background-grey-50"] > [mod-child],
[mod-background~="on-hover-grey-50"]:hover,
[mod-background~="on-focus-grey-50"]:focus,
[mod-each-child~="on-hover-background-grey-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-grey-50"] > [mod-child]:focus{
  background: #fafafa;
}
[mod-background~="grey-100"],
[mod-each-child~="background-grey-100"] > [mod-child],
[mod-background~="on-hover-grey-100"]:hover,
[mod-background~="on-focus-grey-100"]:focus,
[mod-each-child~="on-hover-background-grey-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-grey-100"] > [mod-child]:focus{
  background: #f5f5f5;
}
[mod-background~="grey-200"],
[mod-each-child~="background-grey-200"] > [mod-child],
[mod-background~="on-hover-grey-200"]:hover,
[mod-background~="on-focus-grey-200"]:focus,
[mod-each-child~="on-hover-background-grey-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-grey-200"] > [mod-child]:focus{
  background: #eeeeee;
}
[mod-background~="grey-300"],
[mod-each-child~="background-grey-300"] > [mod-child],
[mod-background~="on-hover-grey-300"]:hover,
[mod-background~="on-focus-grey-300"]:focus,
[mod-each-child~="on-hover-background-grey-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-grey-300"] > [mod-child]:focus{
  background: #e0e0e0;
}
[mod-background~="grey-400"],
[mod-each-child~="background-grey-400"] > [mod-child],
[mod-background~="on-hover-grey-400"]:hover,
[mod-background~="on-focus-grey-400"]:focus,
[mod-each-child~="on-hover-background-grey-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-grey-400"] > [mod-child]:focus{
  background: #bdbdbd;
}
[mod-background~="grey-500"],
[mod-each-child~="background-grey-500"] > [mod-child],
[mod-background~="on-hover-grey-500"]:hover,
[mod-background~="on-focus-grey-500"]:focus,
[mod-each-child~="on-hover-background-grey-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-grey-500"] > [mod-child]:focus{
  background: #9e9e9e;
}
[mod-background~="grey-600"],
[mod-each-child~="background-grey-600"] > [mod-child],
[mod-background~="on-hover-grey-600"]:hover,
[mod-background~="on-focus-grey-600"]:focus,
[mod-each-child~="on-hover-background-grey-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-grey-600"] > [mod-child]:focus{
  background: #757575;
}
[mod-background~="grey-700"],
[mod-each-child~="background-grey-700"] > [mod-child],
[mod-background~="on-hover-grey-700"]:hover,
[mod-background~="on-focus-grey-700"]:focus,
[mod-each-child~="on-hover-background-grey-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-grey-700"] > [mod-child]:focus{
  background: #616161;
}
[mod-background~="grey-800"],
[mod-each-child~="background-grey-800"] > [mod-child],
[mod-background~="on-hover-grey-800"]:hover,
[mod-background~="on-focus-grey-800"]:focus,
[mod-each-child~="on-hover-background-grey-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-grey-800"] > [mod-child]:focus{
  background: #424242;
}
[mod-background~="grey-900"],
[mod-each-child~="background-grey-900"] > [mod-child],
[mod-background~="on-hover-grey-900"]:hover,
[mod-background~="on-focus-grey-900"]:focus,
[mod-each-child~="on-hover-background-grey-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-grey-900"] > [mod-child]:focus{
  background: #212121;
}
[mod-background~="black"],
[mod-each-child~="background-black"] > [mod-child],
[mod-background~="on-hover-black"]:hover,
[mod-background~="on-focus-black"]:focus,
[mod-each-child~="on-hover-background-black"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-black"] > [mod-child]:focus{
  background: #000000;
}

/* -- grey text colors -- */

[mod-text~="transparent"],
[mod-style~="transparent"],
[mod-each-child~="text-transparent"] > [mod-child],
[mod-text~="on-hover-transparent"]:hover,
[mod-text~="on-focus-transparent"]:focus,
[mod-each-child~="on-hover-text-transparent"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-transparent"] > [mod-child]:focus{
  color: transparent;
}
[mod-text~="white"],
[mod-style~="white"],
[mod-each-child~="text-white"] > [mod-child],
[mod-text~="on-hover-white"]:hover,
[mod-text~="on-focus-white"]:focus,
[mod-each-child~="on-hover-text-white"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-white"] > [mod-child]:focus{
  color: #ffffff;
}
[mod-text~="grey"],
[mod-style~="grey"],
[mod-each-child~="text-grey"] > [mod-child],
[mod-text~="on-hover-grey"]:hover,
[mod-text~="on-focus-grey"]:focus,
[mod-each-child~="on-hover-text-grey"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-grey"] > [mod-child]:focus{
  color: #9e9e9e;
}
[mod-text~="grey-50"],
[mod-style~="grey-50"],
[mod-each-child~="text-grey-50"] > [mod-child],
[mod-text~="on-hover-grey-50"]:hover,
[mod-text~="on-focus-grey-50"]:focus,
[mod-each-child~="on-hover-text-grey-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-grey-50"] > [mod-child]:focus{
  color: #fafafa;
}
[mod-text~="grey-100"],
[mod-style~="grey-100"],
[mod-each-child~="text-grey-100"] > [mod-child],
[mod-text~="on-hover-grey-100"]:hover,
[mod-text~="on-focus-grey-100"]:focus,
[mod-each-child~="on-hover-text-grey-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-grey-100"] > [mod-child]:focus{
  color: #f5f5f5;
}
[mod-text~="grey-200"],
[mod-style~="grey-200"],
[mod-each-child~="text-grey-200"] > [mod-child],
[mod-text~="on-hover-grey-200"]:hover,
[mod-text~="on-focus-grey-200"]:focus,
[mod-each-child~="on-hover-text-grey-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-grey-200"] > [mod-child]:focus{
  color: #eeeeee;
}
[mod-text~="grey-300"],
[mod-style~="grey-300"],
[mod-each-child~="text-grey-300"] > [mod-child],
[mod-text~="on-hover-grey-300"]:hover,
[mod-text~="on-focus-grey-300"]:focus,
[mod-each-child~="on-hover-text-grey-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-grey-300"] > [mod-child]:focus{
  color: #e0e0e0;
}
[mod-text~="grey-400"],
[mod-style~="grey-400"],
[mod-each-child~="text-grey-400"] > [mod-child],
[mod-text~="on-hover-grey-400"]:hover,
[mod-text~="on-focus-grey-400"]:focus,
[mod-each-child~="on-hover-text-grey-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-grey-400"] > [mod-child]:focus{
  color: #bdbdbd;
}
[mod-text~="grey-500"],
[mod-style~="grey-500"],
[mod-each-child~="text-grey-500"] > [mod-child],
[mod-text~="on-hover-grey-500"]:hover,
[mod-text~="on-focus-grey-500"]:focus,
[mod-each-child~="on-hover-text-grey-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-grey-500"] > [mod-child]:focus{
  color: #9e9e9e;
}
[mod-text~="grey-600"],
[mod-style~="grey-600"],
[mod-each-child~="text-grey-600"] > [mod-child],
[mod-text~="on-hover-grey-600"]:hover,
[mod-text~="on-focus-grey-600"]:focus,
[mod-each-child~="on-hover-text-grey-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-grey-600"] > [mod-child]:focus{
  color: #757575;
}
[mod-text~="grey-700"],
[mod-style~="grey-700"],
[mod-each-child~="text-grey-700"] > [mod-child],
[mod-text~="on-hover-grey-700"]:hover,
[mod-text~="on-focus-grey-700"]:focus,
[mod-each-child~="on-hover-text-grey-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-grey-700"] > [mod-child]:focus{
  color: #616161;
}
[mod-text~="grey-800"],
[mod-style~="grey-800"],
[mod-each-child~="text-grey-800"] > [mod-child],
[mod-text~="on-hover-grey-800"]:hover,
[mod-text~="on-focus-grey-800"]:focus,
[mod-each-child~="on-hover-text-grey-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-grey-800"] > [mod-child]:focus{
  color: #424242;
}
[mod-text~="grey-900"],
[mod-style~="grey-900"],
[mod-each-child~="text-grey-900"] > [mod-child],
[mod-text~="on-hover-grey-900"]:hover,
[mod-text~="on-focus-grey-900"]:focus,
[mod-each-child~="on-hover-text-grey-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-grey-900"] > [mod-child]:focus{
  color: #212121;
}
[mod-text~="black"],
[mod-style~="black"],
[mod-each-child~="text-black"] > [mod-child],
[mod-text~="on-hover-black"]:hover,
[mod-text~="on-focus-black"]:focus,
[mod-each-child~="on-hover-text-black"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-black"] > [mod-child]:focus{
  color: #000000;
}

/* -- grey border colors -- */

[mod-border~="transparent"],
[mod-each-child~="border-transparent"] > [mod-child],
[mod-border~="on-hover-transparent"]:hover,
[mod-border~="on-focus-transparent"]:focus,
[mod-each-child~="on-hover-border-transparent"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-transparent"] > [mod-child]:focus{
  border-color: transparent;
}
[mod-border~="white"],
[mod-each-child~="border-white"] > [mod-child],
[mod-border~="on-hover-white"]:hover,
[mod-border~="on-focus-white"]:focus,
[mod-each-child~="on-hover-border-white"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-white"] > [mod-child]:focus{
  border-color: #ffffff;
}
[mod-border~="grey"],
[mod-each-child~="border-grey"] > [mod-child],
[mod-border~="on-hover-grey"]:hover,
[mod-border~="on-focus-grey"]:focus,
[mod-each-child~="on-hover-border-grey"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-grey"] > [mod-child]:focus{
  border-color: #9e9e9e;
}
[mod-border~="grey-50"],
[mod-each-child~="border-grey-50"] > [mod-child],
[mod-border~="on-hover-grey-50"]:hover,
[mod-border~="on-focus-grey-50"]:focus,
[mod-each-child~="on-hover-border-grey-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-grey-50"] > [mod-child]:focus{
  border-color: #fafafa;
}
[mod-border~="grey-100"],
[mod-each-child~="border-grey-100"] > [mod-child],
[mod-border~="on-hover-grey-100"]:hover,
[mod-border~="on-focus-grey-100"]:focus,
[mod-each-child~="on-hover-border-grey-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-grey-100"] > [mod-child]:focus{
  border-color: #f5f5f5;
}
[mod-border~="grey-200"],
[mod-each-child~="border-grey-200"] > [mod-child],
[mod-border~="on-hover-grey-200"]:hover,
[mod-border~="on-focus-grey-200"]:focus,
[mod-each-child~="on-hover-border-grey-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-grey-200"] > [mod-child]:focus{
  border-color: #eeeeee;
}
[mod-border~="grey-300"],
[mod-each-child~="border-grey-300"] > [mod-child],
[mod-border~="on-hover-grey-300"]:hover,
[mod-border~="on-focus-grey-300"]:focus,
[mod-each-child~="on-hover-border-grey-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-grey-300"] > [mod-child]:focus{
  border-color: #e0e0e0;
}
[mod-border~="grey-400"],
[mod-each-child~="border-grey-400"] > [mod-child],
[mod-border~="on-hover-grey-400"]:hover,
[mod-border~="on-focus-grey-400"]:focus,
[mod-each-child~="on-hover-border-grey-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-grey-400"] > [mod-child]:focus{
  border-color: #bdbdbd;
}
[mod-border~="grey-500"],
[mod-each-child~="border-grey-500"] > [mod-child],
[mod-border~="on-hover-grey-500"]:hover,
[mod-border~="on-focus-grey-500"]:focus,
[mod-each-child~="on-hover-border-grey-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-grey-500"] > [mod-child]:focus{
  border-color: #9e9e9e;
}
[mod-border~="grey-600"],
[mod-each-child~="border-grey-600"] > [mod-child],
[mod-border~="on-hover-grey-600"]:hover,
[mod-border~="on-focus-grey-600"]:focus,
[mod-each-child~="on-hover-border-grey-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-grey-600"] > [mod-child]:focus{
  border-color: #757575;
}
[mod-border~="grey-700"],
[mod-each-child~="border-grey-700"] > [mod-child],
[mod-border~="on-hover-grey-700"]:hover,
[mod-border~="on-focus-grey-700"]:focus,
[mod-each-child~="on-hover-border-grey-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-grey-700"] > [mod-child]:focus{
  border-color: #616161;
}
[mod-border~="grey-800"],
[mod-each-child~="border-grey-800"] > [mod-child],
[mod-border~="on-hover-grey-800"]:hover,
[mod-border~="on-focus-grey-800"]:focus,
[mod-each-child~="on-hover-border-grey-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-grey-800"] > [mod-child]:focus{
  border-color: #424242;
}
[mod-border~="grey-900"],
[mod-each-child~="border-grey-900"] > [mod-child],
[mod-border~="on-hover-grey-900"]:hover,
[mod-border~="on-focus-grey-900"]:focus,
[mod-each-child~="on-hover-border-grey-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-grey-900"] > [mod-child]:focus{
  border-color: #212121;
}
[mod-border~="black"],
[mod-each-child~="border-black"] > [mod-child],
[mod-border~="on-hover-black"]:hover,
[mod-border~="on-focus-black"]:focus,
[mod-each-child~="on-hover-border-black"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-black"] > [mod-child]:focus{
  border-color: #000000;
}