/* 
	Color Palettes: yellow - extended 
	CSS by: Alan Museljic
	Credit Color Palettes Material Design Colors
*/


/* -- yellow fill colors -- */

[mod-background~="yellow"],
[mod-each-child~="background-yellow"] > [mod-child],
[mod-background~="on-hover-yellow"]:hover,
[mod-background~="on-focus-yellow"]:focus,
[mod-each-child~="on-hover-background-yellow"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-yellow"] > [mod-child]:focus{
	background: #ffeb3b;
}
[mod-background~="yellow-50"],
[mod-each-child~="background-yellow-50"] > [mod-child],
[mod-background~="on-hover-yellow-50"]:hover,
[mod-background~="on-focus-yellow-50"]:focus,
[mod-each-child~="on-hover-background-yellow-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-yellow-50"] > [mod-child]:focus{
	background: #fffde7;
}
[mod-background~="yellow-100"],
[mod-each-child~="background-yellow-100"] > [mod-child],
[mod-background~="on-hover-yellow-100"]:hover,
[mod-background~="on-focus-yellow-100"]:focus,
[mod-each-child~="on-hover-background-yellow-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-yellow-100"] > [mod-child]:focus{
	background: #fff9c4;
}
[mod-background~="yellow-200"],
[mod-each-child~="background-yellow-200"] > [mod-child],
[mod-background~="on-hover-yellow-200"]:hover,
[mod-background~="on-focus-yellow-200"]:focus,
[mod-each-child~="on-hover-background-yellow-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-yellow-200"] > [mod-child]:focus{
	background: #fff59d;
}
[mod-background~="yellow-300"],
[mod-each-child~="background-yellow-300"] > [mod-child],
[mod-background~="on-hover-yellow-300"]:hover,
[mod-background~="on-focus-yellow-300"]:focus,
[mod-each-child~="on-hover-background-yellow-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-yellow-300"] > [mod-child]:focus{
	background: #fff176;
}
[mod-background~="yellow-400"],
[mod-each-child~="background-yellow-400"] > [mod-child],
[mod-background~="on-hover-yellow-400"]:hover,
[mod-background~="on-focus-yellow-400"]:focus,
[mod-each-child~="on-hover-background-yellow-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-yellow-400"] > [mod-child]:focus{
	background: #ffee58;
}
[mod-background~="yellow-500"],
[mod-each-child~="background-yellow-500"] > [mod-child],
[mod-background~="on-hover-yellow-500"]:hover,
[mod-background~="on-focus-yellow-500"]:focus,
[mod-each-child~="on-hover-background-yellow-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-yellow-500"] > [mod-child]:focus{
	background: #ffeb3b;
}
[mod-background~="yellow-600"],
[mod-each-child~="background-yellow-600"] > [mod-child],
[mod-background~="on-hover-yellow-600"]:hover,
[mod-background~="on-focus-yellow-600"]:focus,
[mod-each-child~="on-hover-background-yellow-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-yellow-600"] > [mod-child]:focus{
	background: #fdd835;
}
[mod-background~="yellow-700"],
[mod-each-child~="background-yellow-700"] > [mod-child],
[mod-background~="on-hover-yellow-700"]:hover,
[mod-background~="on-focus-yellow-700"]:focus,
[mod-each-child~="on-hover-background-yellow-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-yellow-700"] > [mod-child]:focus{
	background: #fbc02d;
}
[mod-background~="yellow-800"],
[mod-each-child~="background-yellow-800"] > [mod-child],
[mod-background~="on-hover-yellow-800"]:hover,
[mod-background~="on-focus-yellow-800"]:focus,
[mod-each-child~="on-hover-background-yellow-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-yellow-800"] > [mod-child]:focus{
	background: #f9a825;
}
[mod-background~="yellow-900"],
[mod-each-child~="background-yellow-900"] > [mod-child],
[mod-background~="on-hover-yellow-900"]:hover,
[mod-background~="on-focus-yellow-900"]:focus,
[mod-each-child~="on-hover-background-yellow-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-yellow-900"] > [mod-child]:focus{
	background: #f57f17;
}
[mod-background~="yellow-a100"],
[mod-each-child~="background-yellow-a100"] > [mod-child],
[mod-background~="on-hover-yellow-a100"]:hover,
[mod-background~="on-focus-yellow-a100"]:focus,
[mod-each-child~="on-hover-background-yellow-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-yellow-a100"] > [mod-child]:focus{
	background: #ffff8d;
}
[mod-background~="yellow-a200"],
[mod-each-child~="background-yellow-a200"] > [mod-child],
[mod-background~="on-hover-yellow-a200"]:hover,
[mod-background~="on-focus-yellow-a200"]:focus,
[mod-each-child~="on-hover-background-yellow-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-yellow-a200"] > [mod-child]:focus{
	background: #ffff00;
}
[mod-background~="yellow-a400"],
[mod-each-child~="background-yellow-a400"] > [mod-child],
[mod-background~="on-hover-yellow-a400"]:hover,
[mod-background~="on-focus-yellow-a400"]:focus,
[mod-each-child~="on-hover-background-yellow-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-yellow-a400"] > [mod-child]:focus{
	background:  #ffea00;
}
[mod-background~="yellow-a700"],
[mod-each-child~="background-yellow-a700"] > [mod-child],
[mod-background~="on-hover-yellow-a700"]:hover,
[mod-background~="on-focus-yellow-a700"]:focus,
[mod-each-child~="on-hover-background-yellow-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-yellow-a700"] > [mod-child]:focus{
	background: #ffd600;
}

/* -- yellow text  colors -- */

[mod-text~="yellow"],
[mod-style~="yellow"],
[mod-each-child~="text-yellow"] > [mod-child],
[mod-text~="on-hover-yellow"]:hover,
[mod-text~="on-focus-yellow"]:focus,
[mod-each-child~="on-hover-text-yellow"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-yellow"] > [mod-child]:focus{
	color: #ffeb3b;
}
[mod-text~="yellow-50"],
[mod-style~="yellow-50"],
[mod-each-child~="text-yellow-50"] > [mod-child],
[mod-text~="on-hover-yellow-50"]:hover,
[mod-text~="on-focus-yellow-50"]:focus,
[mod-each-child~="on-hover-text-yellow-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-yellow-50"] > [mod-child]:focus{
	color: #fffde7;
}
[mod-text~="yellow-100"],
[mod-style~="yellow-100"],
[mod-each-child~="text-yellow-100"] > [mod-child],
[mod-text~="on-hover-yellow-100"]:hover,
[mod-text~="on-focus-yellow-100"]:focus,
[mod-each-child~="on-hover-text-yellow-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-yellow-100"] > [mod-child]:focus{
	color: #fff9c4;
}
[mod-text~="yellow-200"],
[mod-style~="yellow-200"],
[mod-each-child~="text-yellow-200"] > [mod-child],
[mod-text~="on-hover-yellow-200"]:hover,
[mod-text~="on-focus-yellow-200"]:focus,
[mod-each-child~="on-hover-text-yellow-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-yellow-200"] > [mod-child]:focus{
	color: #fff59d;
}
[mod-text~="yellow-300"],
[mod-style~="yellow-300"],
[mod-each-child~="text-yellow-300"] > [mod-child],
[mod-text~="on-hover-yellow-300"]:hover,
[mod-text~="on-focus-yellow-300"]:focus,
[mod-each-child~="on-hover-text-yellow-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-yellow-300"] > [mod-child]:focus{
	color: #fff176;
}
[mod-text~="yellow-400"],
[mod-style~="yellow-400"],
[mod-each-child~="text-yellow-400"] > [mod-child],
[mod-text~="on-hover-yellow-400"]:hover,
[mod-text~="on-focus-yellow-400"]:focus,
[mod-each-child~="on-hover-text-yellow-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-yellow-400"] > [mod-child]:focus{
	color: #ffee58;
}
[mod-text~="yellow-500"],
[mod-style~="yellow-500"],
[mod-each-child~="text-yellow-500"] > [mod-child],
[mod-text~="on-hover-yellow-500"]:hover,
[mod-text~="on-focus-yellow-500"]:focus,
[mod-each-child~="on-hover-text-yellow-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-yellow-500"] > [mod-child]:focus{
	color: #ffeb3b;
}
[mod-text~="yellow-600"],
[mod-style~="yellow-600"],
[mod-each-child~="text-yellow-600"] > [mod-child],
[mod-text~="on-hover-yellow-600"]:hover,
[mod-text~="on-focus-yellow-600"]:focus,
[mod-each-child~="on-hover-text-yellow-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-yellow-600"] > [mod-child]:focus{
	color: #fdd835;
}
[mod-text~="yellow-700"],
[mod-style~="yellow-700"]
[mod-each-child~="text-yellow-700"] > [mod-child],
[mod-text~="on-hover-yellow-700"]:hover,
[mod-text~="on-focus-yellow-700"]:focus,
[mod-each-child~="on-hover-text-yellow-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-yellow-700"] > [mod-child]:focus{
	color: #fbc02d;
}
[mod-text~="yellow-800"],
[mod-style~="yellow-800"],
[mod-each-child~="text-yellow-800"] > [mod-child],
[mod-text~="on-hover-yellow-800"]:hover,
[mod-text~="on-focus-yellow-800"]:focus,
[mod-each-child~="on-hover-text-yellow-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-yellow-800"] > [mod-child]:focus{
	color: #f9a825;
}
[mod-text~="yellow-900"],
[mod-style~="yellow-900"],
[mod-each-child~="text-yellow-900"] > [mod-child],
[mod-text~="on-hover-yellow-900"]:hover,
[mod-text~="on-focus-yellow-900"]:focus,
[mod-each-child~="on-hover-text-yellow-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-yellow-900"] > [mod-child]:focus{
	color: #f57f17;
}
[mod-text~="yellow-a100"],
[mod-style~="yellow-a100"],
[mod-each-child~="text-yellow-a100"] > [mod-child],
[mod-text~="on-hover-yellow-a100"]:hover,
[mod-text~="on-focus-yellow-a100"]:focus,
[mod-each-child~="on-hover-text-yellow-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-yellow-a100"] > [mod-child]:focus{
	color: #ffff8d;
}
[mod-text~="yellow-a200"],
[mod-style~="yellow-a200"],
[mod-each-child~="text-yellow-a200"] > [mod-child],
[mod-text~="on-hover-yellow-a200"]:hover,
[mod-text~="on-focus-yellow-a200"]:focus,
[mod-each-child~="on-hover-text-yellow-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-yellow-a200"] > [mod-child]:focus{
	color: #ffff00;
}
[mod-text~="yellow-a400"],
[mod-style~="yellow-a400"],
[mod-each-child~="text-yellow-a400"] > [mod-child],
[mod-text~="on-hover-yellow-a400"]:hover,
[mod-text~="on-focus-yellow-a400"]:focus,
[mod-each-child~="on-hover-text-yellow-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-yellow-a400"] > [mod-child]:focus{
	color:  #ffea00;
}
[mod-text~="yellow-a700"],
[mod-style~="yellow-a700"],
[mod-each-child~="text-yellow-a700"] > [mod-child],
[mod-text~="on-hover-yellow-a700"]:hover,
[mod-text~="on-focus-yellow-a700"]:focus,
[mod-each-child~="on-hover-text-yellow-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-yellow-a700"] > [mod-child]:focus{
	color: #ffd600;
}


/* -- yellow border colors -- */

[mod-border~="yellow"],
[mod-each-child~="border-yellow"] > [mod-child],
[mod-border~="on-hover-yellow"]:hover,
[mod-border~="on-focus-yellow"]:focus,
[mod-each-child~="on-hover-border-yellow"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-yellow"] > [mod-child]:focus{
	border-color: #ffeb3b;
}
[mod-border~="yellow-50"],
[mod-each-child~="border-yellow-50"] > [mod-child],
[mod-border~="on-hover-yellow-50"]:hover,
[mod-border~="on-focus-yellow-50"]:focus,
[mod-each-child~="on-hover-border-yellow-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-yellow-50"] > [mod-child]:focus{
	border-color: #fffde7;
}
[mod-border~="yellow-100"],
[mod-each-child~="border-yellow-100"] > [mod-child],
[mod-border~="on-hover-yellow-100"]:hover,
[mod-border~="on-focus-yellow-100"]:focus,
[mod-each-child~="on-hover-border-yellow-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-yellow-100"] > [mod-child]:focus{
	border-color: #fff9c4;
}
[mod-border~="yellow-200"],
[mod-each-child~="border-yellow-200"] > [mod-child],
[mod-border~="on-hover-yellow-200"]:hover,
[mod-border~="on-focus-yellow-200"]:focus,
[mod-each-child~="on-hover-border-yellow-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-yellow-200"] > [mod-child]:focus{
	border-color: #fff59d;
}
[mod-border~="yellow-300"],
[mod-each-child~="border-yellow-300"] > [mod-child],
[mod-border~="on-hover-yellow-300"]:hover,
[mod-border~="on-focus-yellow-300"]:focus,
[mod-each-child~="on-hover-border-yellow-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-yellow-300"] > [mod-child]:focus{
	border-color: #fff176;
}
[mod-border~="yellow-400"],
[mod-each-child~="border-yellow-400"] > [mod-child],
[mod-border~="on-hover-yellow-400"]:hover,
[mod-border~="on-focus-yellow-400"]:focus,
[mod-each-child~="on-hover-border-yellow-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-yellow-400"] > [mod-child]:focus{
	border-color: #ffee58;
}
[mod-border~="yellow-500"],
[mod-each-child~="border-yellow-500"] > [mod-child],
[mod-border~="on-hover-yellow-500"]:hover,
[mod-border~="on-focus-yellow-500"]:focus,
[mod-each-child~="on-hover-border-yellow-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-yellow-500"] > [mod-child]:focus{
	border-color: #ffeb3b;
}
[mod-border~="yellow-600"],
[mod-each-child~="border-yellow-600"] > [mod-child],
[mod-border~="on-hover-yellow-600"]:hover,
[mod-border~="on-focus-yellow-600"]:focus,
[mod-each-child~="on-hover-border-yellow-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-yellow-600"] > [mod-child]:focus{
	border-color: #fdd835;
}
[mod-border~="yellow-700"],
[mod-each-child~="border-yellow-700"] > [mod-child],
[mod-border~="on-hover-yellow-700"]:hover,
[mod-border~="on-focus-yellow-700"]:focus,
[mod-each-child~="on-hover-border-yellow-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-yellow-700"] > [mod-child]:focus{
	border-color: #fbc02d;
}
[mod-border~="yellow-800"],
[mod-each-child~="border-yellow-800"] > [mod-child],
[mod-border~="on-hover-yellow-800"]:hover,
[mod-border~="on-focus-yellow-800"]:focus,
[mod-each-child~="on-hover-border-yellow-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-yellow-800"] > [mod-child]:focus{
	border-color: #f9a825;
}
[mod-border~="yellow-900"],
[mod-each-child~="border-yellow-900"] > [mod-child],
[mod-border~="on-hover-yellow-900"]:hover,
[mod-border~="on-focus-yellow-900"]:focus,
[mod-each-child~="on-hover-border-yellow-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-yellow-900"] > [mod-child]:focus{
	border-color: #f57f17;
}
[mod-border~="yellow-a100"],
[mod-each-child~="border-yellow-a100"] > [mod-child],
[mod-border~="on-hover-yellow-a100"]:hover,
[mod-border~="on-focus-yellow-a100"]:focus,
[mod-each-child~="on-hover-border-yellow-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-yellow-a100"] > [mod-child]:focus{
	border-color: #ffff8d;
}
[mod-border~="yellow-a200"],
[mod-each-child~="border-yellow-a200"] > [mod-child],
[mod-border~="on-hover-yellow-a200"]:hover,
[mod-border~="on-focus-yellow-a200"]:focus,
[mod-each-child~="on-hover-border-yellow-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-yellow-a200"] > [mod-child]:focus{
	border-color: #ffff00;
}
[mod-border~="yellow-a400"],
[mod-each-child~="border-yellow-a400"] > [mod-child],
[mod-border~="on-hover-yellow-a400"]:hover,
[mod-border~="on-focus-yellow-a400"]:focus,
[mod-each-child~="on-hover-border-yellow-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-yellow-a400"] > [mod-child]:focus{
	border-color:  #ffea00;
}
[mod-border~="yellow-a700"],
[mod-each-child~="border-yellow-a700"] > [mod-child],
[mod-border~="on-hover-yellow-a700"]:hover,
[mod-border~="on-focus-yellow-a700"]:focus,
[mod-each-child~="on-hover-border-yellow-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-yellow-a700"] > [mod-child]:focus{
	border-color: #ffd600;
}
