/* 
  Color Palettes: yellow
  CSS by: Alan Museljic
  Color Color Palettes Material Design Colors
*/

/* -- yellow fill colors -- */

.background--yellow{
  background: #ffeb3b;
}
.background--yellow-50{
  background: #fffde7;
}
.background--yellow-100{
  background: #fff9c4;
}
.background--yellow-200{
  background: #fff59d;
}
.background--yellow-300{
  background: #fff176;
}
.background--yellow-400{
  background: #ffee58;
}
.background--yellow-500{
  background: #ffeb3b;
}
.background--yellow-600{
  background: #fdd835;
}
.background--yellow-700{
  background: #fbc02d;
}
.background--yellow-800{
  background: #f9a825;
}
.background--yellow-900{
  background: #f57f17;
}
.background--yellow-a100{
  background: #ffff8d;
}
.background--yellow-a200{
  background: #ffff00;
}
.background--yellow-a400{
  background:  #ffea00;
}
.background--yellow-a700{
  background: #ffd600;
}

/* -- yellow text / icon colors -- */

.color--yellow{
  color: #ffeb3b;
}
.color--yellow-50{
  color: #fffde7;
}
.color--yellow-100{
  color: #fff9c4;
}
.color--yellow-200{
  color: #fff59d;
}
.color--yellow-300{
  color: #fff176;
}
.color--yellow-400{
  color: #ffee58;
}
.color--yellow-500{
  color: #ffeb3b;
}
.color--yellow-600{
  color: #fdd835;
}
.color--yellow-700{
  color: #fbc02d;
}
.color--yellow-800{
  color: #f9a825;
}
.color--yellow-900{
  color: #f57f17;
}
.color--yellow-a100{
  color: #ffff8d;
}
.color--yellow-a200{
  color: #ffff00;
}
.color--yellow-a400{
  color:  #ffea00;
}
.color--yellow-a700{
  color: #ffd600;
}


/* -- yellow border colors -- */

.border-color--yellow{
  border-color: #ffeb3b;
}
.border-color--yellow-50{
  border-color: #fffde7;
}
.border-color--yellow-100{
  border-color: #fff9c4;
}
.border-color--yellow-200{
  border-color: #fff59d;
}
.border-color--yellow-300{
  border-color: #fff176;
}
.border-color--yellow-400{
  border-color: #ffee58;
}
.border-color--yellow-500{
  border-color: #ffeb3b;
}
.border-color--yellow-600{
  border-color: #fdd835;
}
.border-color--yellow-700{
  border-color: #fbc02d;
}
.border-color--yellow-800{
  border-color: #f9a825;
}
.border-color--yellow-900{
  border-color: #f57f17;
}
.border-color--yellow-a100{
  border-color: #ffff8d;
}
.border-color--yellow-a200{
  border-color: #ffff00;
}
.border-color--yellow-a400{
  border-color:  #ffea00;
}
.border-color--yellow-a700{
  border-color: #ffd600;
}