/* 
  Color Palettes: amber
  CSS by: Alan Museljic
  Credit Color Palettes Material Design Colors
*/

/*
  [mod-background~="amber"]
  [mod-text~="amber 17 on-hover-21 on-hover-red on-hover-underline"]
  [mod-icon~="amber"]
  [mod-border~="amber 2 solid"]
  [mod-button]
  [mod-form]
  [mod-input]
  [mod-extend]
  [mod-implement]
*/

/* -- amber fill colors -- */

[mod-background~="amber"],
[mod-each-href~="background--amber"] a,
[mod-each-paragraph~="background--amber"] p,
[mod-each-span~="background--amber"] span,
[mod-each-i~="background--amber"] i,
[mod-each-div~="background--amber"] div,
[mod-each-item~="background--amber"] .item,
[mod-each-row~="background--amber"] .row,
[mod-each-col~="background--amber"] [mod-col],
[mod-each-is-active~="background--amber"] [mod-active],

[mod-each-input~="background--amber"] input,
[mod-each-input~="background--amber"] select,
[mod-each-input~="background--amber"] textarea,

[mod-each-input-hover~="background--amber"] input:hover,
[mod-each-input-hover~="background--amber"] select:hover,
[mod-each-input-hover~="background--amber"] textarea:hover,
[mod-each-input-focus~="background--amber"] input:focus,
[mod-each-input-focus~="background--amber"] select:focus,
[mod-each-input-focus~="background--amber"] textarea:focus,

[mod-hover~="background--amber"]:hover,
[mod-focus~="background--amber"]:focus,
[mod-focus~="background--amber"]:active{
  background: #ffc107;
}
.background--amber-50,
[mod-each-href~="background--amber-50"] a,
[mod-each-paragraph~="background--amber-50"] p,
[mod-each-span~="background--amber-50"] span,
[mod-each-i~="background--amber-50"] i,
[mod-each-div~="background--amber-50"] div,
[mod-each-item~="background--amber-50"] .item,
[mod-each-row~="background--amber-50"] .row,
[mod-each-col~="background--amber-50"] [class^="col-"],
[mod-each-is-active~="background--amber-50"] [mod-active]{
  background: #fff8e1;
}
.background--amber-100,
[mod-each-href~="background--amber-100"] a,
[mod-each-paragraph~="background--amber-100"] p,
[mod-each-span~="background--amber-100"] span,
[mod-each-i~="background--amber-100"] i,
[mod-each-div~="background--amber-100"] div,
[mod-each-item~="background--amber-100"] .item,
[mod-each-row~="background--amber-100"] .row,
[mod-each-col~="background--amber-100"] [class^="col-"],
[mod-each-is-active~="background--amber-100"] [mod-active]{
  background: #ffecb3;
}
.background--amber-200,
[mod-each-href~="background--amber-200"] a,
[mod-each-paragraph~="background--amber-200"] p,
[mod-each-span~="background--amber-200"] span,
[mod-each-i~="background--amber-200"] i,
[mod-each-div~="background--amber-200"] div,
[mod-each-item~="background--amber-200"] .item,
[mod-each-row~="background--amber-200"] .row,
[mod-each-col~="background--amber-200"] [class^="col-"],
[mod-each-is-active~="background--amber-200"] [mod-active]{
  background: #ffe082;
}
.background--amber-300,
[mod-each-href~="background--amber-300"] a,
[mod-each-paragraph~="background--amber-300"] p,
[mod-each-span~="background--amber-300"] span,
[mod-each-i~="background--amber-300"] i,
[mod-each-div~="background--amber-300"] div,
[mod-each-item~="background--amber-300"] .item,
[mod-each-row~="background--amber-300"] .row,
[mod-each-col~="background--amber-300"] [class^="col-"],
[mod-each-is-active~="background--amber-300"] [mod-active]{
  background: #ffd54f;
}
.background--amber-400,
[mod-each-href~="background--amber-400"] a,
[mod-each-paragraph~="background--amber-400"] p,
[mod-each-span~="background--amber-400"] span,
[mod-each-i~="background--amber-400"] i,
[mod-each-div~="background--amber-400"] div,
[mod-each-item~="background--amber-400"] .item,
[mod-each-row~="background--amber-400"] .row,
[mod-each-col~="background--amber-400"] [class^="col-"],
[mod-each-is-active~="background--amber-400"] [mod-active]{
  background: #ffca28;
}
.background--amber-500,
[mod-each-href~="background--amber-500"] a,
[mod-each-paragraph~="background--amber-500"] p,
[mod-each-span~="background--amber-500"] span,
[mod-each-i~="background--amber-500"] i,
[mod-each-div~="background--amber-500"] div,
[mod-each-item~="background--amber-500"] .item,
[mod-each-row~="background--amber-500"] .row,
[mod-each-col~="background--amber-500"] [class^="col-"],
[mod-each-is-active~="background--amber-500"] [mod-active]{
  background: #ffc107;
}
.background--amber-600,
[mod-each-href~="background--amber-600"] a,
[mod-each-paragraph~="background--amber-600"] p,
[mod-each-span~="background--amber-600"] span,
[mod-each-i~="background--amber-600"] i,
[mod-each-div~="background--amber-600"] div,
[mod-each-item~="background--amber-600"] .item,
[mod-each-row~="background--amber-600"] .row,
[mod-each-col~="background--amber-600"] [class^="col-"],
[mod-each-is-active~="background--amber-600"] [mod-active]{
  background: #ffb300;
}
.background--amber-700,
[mod-each-href~="background--amber-700"] a,
[mod-each-paragraph~="background--amber-700"] p,
[mod-each-span~="background--amber-700"] span,
[mod-each-i~="background--amber-700"] i,
[mod-each-div~="background--amber-700"] div,
[mod-each-item~="background--amber-700"] .item,
[mod-each-row~="background--amber-700"] .row,
[mod-each-col~="background--amber-700"] [class^="col-"],
[mod-each-is-active~="background--amber-700"] [mod-active]{
  background: #ffa000;
}
.background--amber-800,
[mod-each-href~="background--amber-800"] a,
[mod-each-paragraph~="background--amber-800"] p,
[mod-each-span~="background--amber-800"] span,
[mod-each-i~="background--amber-800"] i,
[mod-each-div~="background--amber-800"] div,
[mod-each-item~="background--amber-800"] .item,
[mod-each-row~="background--amber-800"] .row,
[mod-each-col~="background--amber-800"] [class^="col-"],
[mod-each-is-active~="background--amber-800"] [mod-active]{
  background: #ff8f00;
}
.background--amber-900,
[mod-each-href~="background--amber-800"] a,
[mod-each-paragraph~="background--amber-800"] p,
[mod-each-span~="background--amber-800"] span,
[mod-each-i~="background--amber-800"] i,
[mod-each-div~="background--amber-800"] div,
[mod-each-item~="background--amber-800"] .item,
[mod-each-row~="background--amber-800"] .row,
[mod-each-col~="background--amber-800"] [class^="col-"],
[mod-each-is-active~="background--amber-800"] [mod-active]{
  background: #ff6f00;
}
.background--amber-a100{
  background: #ffe57f;
}
.background--amber-a200{
  background: #ffd740;
}
.background--amber-a400{
  background:  #ffc400;
}
.background--amber-a700{
  background: #ffab00;
}

/* -- amber text / icon colors -- */

.color--amber{
  color: #ffc107;
}
.color--amber-50{
  color: #fff8e1;
}
.color--amber-100{
  color: #ffecb3;
}
.color--amber-200{
  color: #ffe082;
}
.color--amber-300{
  color: #ffd54f;
}
.color--amber-400{
  color: #ffca28;
}
.color--amber-500{
  color: #ffc107;
}
.color--amber-600{
  color: #ffb300;
}
.color--amber-700{
  color: #ffa000;
}
.color--amber-800{
  color: #ff8f00;
}
.color--amber-900{
  color: #ff6f00;
}
.color--amber-a100{
  color: #ffe57f;
}
.color--amber-a200{
  color: #ffd740;
}
.color--amber-a400{
  color:  #ffc400;
}
.color--amber-a700{
  color: #ffab00;
}


/* -- amber border colors -- */

.border-color--amber{
  border-color: #ffc107;
}
.border-color--amber-50{
  border-color: #fff8e1;
}
.border-color--amber-100{
  border-color: #ffecb3;
}
.border-color--amber-200{
  border-color: #ffe082;
}
.border-color--amber-300{
  border-color: #ffd54f;
}
.border-color--amber-400{
  border-color: #ffca28;
}
.border-color--amber-500{
  border-color: #ffc107;
}
.border-color--amber-600{
  border-color: #ffb300;
}
.border-color--amber-700{
  border-color: #ffa000;
}
.border-color--amber-800{
  border-color: #ff8f00;
}
.border-color--amber-900{
  border-color: #ff6f00;
}
.border-color--amber-a100{
  border-color: #ffe57f;
}
.border-color--amber-a200{
  border-color: #ffd740;
}
.border-color--amber-a400{
  border-color:  #ffc400;
}
.border-color--amber-a700{
  border-color: #ffab00;
}