/* 
	Color Palettes: teal - extended 
	CSS by: Alan Museljic
	Credit Color Palettes Material Design Colors
*/


/* -- teal fill colors -- */

[mod-background~="teal"],
[mod-each-child~="background-teal"] > [mod-child],
[mod-background~="on-hover-teal"]:hover,
[mod-background~="on-focus-teal"]:focus,
[mod-each-child~="on-hover-background-teal"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-teal"] > [mod-child]:focus{
	background: #009688;
}
[mod-background~="teal-50"],
[mod-each-child~="background-teal-50"] > [mod-child],
[mod-background~="on-hover-teal-50"]:hover,
[mod-background~="on-focus-teal-50"]:focus,
[mod-each-child~="on-hover-background-teal-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-teal-50"] > [mod-child]:focus{
	background: #e0f2f1;
}
[mod-background~="teal-100"],
[mod-each-child~="background-teal-100"] > [mod-child],
[mod-background~="on-hover-teal-100"]:hover,
[mod-background~="on-focus-teal-100"]:focus,
[mod-each-child~="on-hover-background-teal-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-teal-100"] > [mod-child]:focus{
	background: #b2dfdb;
}
[mod-background~="teal-200"],
[mod-each-child~="background-teal-200"] > [mod-child],
[mod-background~="on-hover-teal-200"]:hover,
[mod-background~="on-focus-teal-200"]:focus,
[mod-each-child~="on-hover-background-teal-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-teal-200"] > [mod-child]:focus{
	background: #80cbc4;
}
[mod-background~="teal-300"],
[mod-each-child~="background-teal-300"] > [mod-child],
[mod-background~="on-hover-teal-300"]:hover,
[mod-background~="on-focus-teal-300"]:focus,
[mod-each-child~="on-hover-background-teal-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-teal-300"] > [mod-child]:focus{
	background: #4db6ac;
}
[mod-background~="teal-400"],
[mod-each-child~="background-teal-400"] > [mod-child],
[mod-background~="on-hover-teal-400"]:hover,
[mod-background~="on-focus-teal-400"]:focus,
[mod-each-child~="on-hover-background-teal-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-teal-400"] > [mod-child]:focus{
	background: #26a69a;
}
[mod-background~="teal-500"],
[mod-each-child~="background-teal-500"] > [mod-child],
[mod-background~="on-hover-teal-500"]:hover,
[mod-background~="on-focus-teal-500"]:focus,
[mod-each-child~="on-hover-background-teal-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-teal-500"] > [mod-child]:focus{
	background: #009688;
}
[mod-background~="teal-600"],
[mod-each-child~="background-teal-600"] > [mod-child],
[mod-background~="on-hover-teal-600"]:hover,
[mod-background~="on-focus-teal-600"]:focus,
[mod-each-child~="on-hover-background-teal-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-teal-600"] > [mod-child]:focus{
	background: #00897b;
}
[mod-background~="teal-700"],
[mod-each-child~="background-teal-700"] > [mod-child],
[mod-background~="on-hover-teal-700"]:hover,
[mod-background~="on-focus-teal-700"]:focus,
[mod-each-child~="on-hover-background-teal-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-teal-700"] > [mod-child]:focus{
	background: #00796b;
}
[mod-background~="teal-800"],
[mod-each-child~="background-teal-800"] > [mod-child],
[mod-background~="on-hover-teal-800"]:hover,
[mod-background~="on-focus-teal-800"]:focus,
[mod-each-child~="on-hover-background-teal-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-teal-800"] > [mod-child]:focus{
	background: #00695c;
}
[mod-background~="teal-900"],
[mod-each-child~="background-teal-900"] > [mod-child],
[mod-background~="on-hover-teal-900"]:hover,
[mod-background~="on-focus-teal-900"]:focus,
[mod-each-child~="on-hover-background-teal-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-teal-900"] > [mod-child]:focus{
	background: #004d40;
}
[mod-background~="teal-a100"],
[mod-each-child~="background-teal-a100"] > [mod-child],
[mod-background~="on-hover-teal-a100"]:hover,
[mod-background~="on-focus-teal-a100"]:focus,
[mod-each-child~="on-hover-background-teal-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-teal-a100"] > [mod-child]:focus{
	background: #a7ffeb;
}
[mod-background~="teal-a200"],
[mod-each-child~="background-teal-a200"] > [mod-child],
[mod-background~="on-hover-teal-a200"]:hover,
[mod-background~="on-focus-teal-a200"]:focus,
[mod-each-child~="on-hover-background-teal-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-teal-a200"] > [mod-child]:focus{
	background: #64ffda;
}
[mod-background~="teal-a400"],
[mod-each-child~="background-teal-a400"] > [mod-child],
[mod-background~="on-hover-teal-a400"]:hover,
[mod-background~="on-focus-teal-a400"]:focus,
[mod-each-child~="on-hover-background-teal-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-teal-a400"] > [mod-child]:focus{
	background:  #1de9b6;
}
[mod-background~="teal-a700"],
[mod-each-child~="background-teal-a700"] > [mod-child],
[mod-background~="on-hover-teal-a700"]:hover,
[mod-background~="on-focus-teal-a700"]:focus,
[mod-each-child~="on-hover-background-teal-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-teal-a700"] > [mod-child]:focus{
	background: #00bfa5;
}

/* -- teal text colors -- */

[mod-text~="teal"],
[mod-style~="teal"],
[mod-each-child~="text-teal"] > [mod-child],
[mod-text~="on-hover-teal"]:hover,
[mod-text~="on-focus-teal"]:focus,
[mod-each-child~="on-hover-text-teal"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-teal"] > [mod-child]:focus{
	color: #009688;
}
[mod-text~="teal-50"],
[mod-style~="teal-50"],
[mod-each-child~="text-teal-50"] > [mod-child],
[mod-text~="on-hover-teal-50"]:hover,
[mod-text~="on-focus-teal-50"]:focus,
[mod-each-child~="on-hover-text-teal-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-teal-50"] > [mod-child]:focus{
	color: #e0f2f1;
}
[mod-text~="teal-100"],
[mod-style~="teal-100"],
[mod-each-child~="text-teal-100"] > [mod-child],
[mod-text~="on-hover-teal-100"]:hover,
[mod-text~="on-focus-teal-100"]:focus,
[mod-each-child~="on-hover-text-teal-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-teal-100"] > [mod-child]:focus{
	color: #b2dfdb;
}
[mod-text~="teal-200"],
[mod-style~="teal-200"],
[mod-each-child~="text-teal-200"] > [mod-child],
[mod-text~="on-hover-teal-200"]:hover,
[mod-text~="on-focus-teal-200"]:focus,
[mod-each-child~="on-hover-text-teal-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-teal-200"] > [mod-child]:focus{
	color: #80cbc4;
}
[mod-text~="teal-300"],
[mod-style~="teal-300"],
[mod-each-child~="text-teal-300"] > [mod-child],
[mod-text~="on-hover-teal-300"]:hover,
[mod-text~="on-focus-teal-300"]:focus,
[mod-each-child~="on-hover-text-teal-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-teal-300"] > [mod-child]:focus{
	color: #4db6ac;
}
[mod-text~="teal-400"],
[mod-style~="teal-400"],
[mod-each-child~="text-teal-400"] > [mod-child],
[mod-text~="on-hover-teal-400"]:hover,
[mod-text~="on-focus-teal-400"]:focus,
[mod-each-child~="on-hover-text-teal-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-teal-400"] > [mod-child]:focus{
	color: #26a69a;
}
[mod-text~="teal-500"],
[mod-style~="teal-500"],
[mod-each-child~="text-teal-500"] > [mod-child],
[mod-text~="on-hover-teal-500"]:hover,
[mod-text~="on-focus-teal-500"]:focus,
[mod-each-child~="on-hover-text-teal-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-teal-500"] > [mod-child]:focus{
	color: #009688;
}
[mod-text~="teal-600"],
[mod-style~="teal-600"],
[mod-each-child~="text-teal-600"] > [mod-child],
[mod-text~="on-hover-teal-600"]:hover,
[mod-text~="on-focus-teal-600"]:focus,
[mod-each-child~="on-hover-text-teal-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-teal-600"] > [mod-child]:focus{
	color: #00897b;
}
[mod-text~="teal-700"],
[mod-style~="teal-700"],
[mod-each-child~="text-teal-700"] > [mod-child],
[mod-text~="on-hover-teal-700"]:hover,
[mod-text~="on-focus-teal-700"]:focus,
[mod-each-child~="on-hover-text-teal-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-teal-700"] > [mod-child]:focus{
	color: #00796b;
}
[mod-text~="teal-800"],
[mod-style~="teal-800"],
[mod-each-child~="text-teal-800"] > [mod-child],
[mod-text~="on-hover-teal-800"]:hover,
[mod-text~="on-focus-teal-800"]:focus,
[mod-each-child~="on-hover-text-teal-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-teal-800"] > [mod-child]:focus{
	color: #00695c;
}
[mod-text~="teal-900"],
[mod-style~="teal-900"],
[mod-each-child~="text-teal-900"] > [mod-child],
[mod-text~="on-hover-teal-900"]:hover,
[mod-text~="on-focus-teal-900"]:focus,
[mod-each-child~="on-hover-text-teal-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-teal-900"] > [mod-child]:focus{
	color: #004d40;
}
[mod-text~="teal-a100"],
[mod-style~="teal-a100"],
[mod-each-child~="text-teal-a100"] > [mod-child],
[mod-text~="on-hover-teal-a100"]:hover,
[mod-text~="on-focus-teal-a100"]:focus,
[mod-each-child~="on-hover-text-teal-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-teal-a100"] > [mod-child]:focus{
	color: #a7ffeb;
}
[mod-text~="teal-a200"],
[mod-style~="teal-a200"],
[mod-each-child~="text-teal-a200"] > [mod-child],
[mod-text~="on-hover-teal-a200"]:hover,
[mod-text~="on-focus-teal-a200"]:focus,
[mod-each-child~="on-hover-text-teal-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-teal-a200"] > [mod-child]:focus{
	color: #64ffda;
}
[mod-text~="teal-a400"],
[mod-style~="teal-a400"],
[mod-each-child~="text-teal-a400"] > [mod-child],
[mod-text~="on-hover-teal-a400"]:hover,
[mod-text~="on-focus-teal-a400"]:focus,
[mod-each-child~="on-hover-text-teal-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-teal-a400"] > [mod-child]:focus{
	color:  #1de9b6;
}
[mod-text~="teal-a700"],
[mod-style~="teal-a700"],
[mod-each-child~="text-teal-a700"] > [mod-child],
[mod-text~="on-hover-teal-a700"]:hover,
[mod-text~="on-focus-teal-a700"]:focus,
[mod-each-child~="on-hover-text-teal-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-teal-a700"] > [mod-child]:focus{
	color: #00bfa5;
}


/* -- teal border colors -- */

[mod-border~="teal"],
[mod-each-child~="border-teal"] > [mod-child],
[mod-border~="on-hover-teal"]:hover,
[mod-border~="on-focus-teal"]:focus,
[mod-each-child~="on-hover-border-teal"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-teal"] > [mod-child]:focus{
	border-color: #009688;
}
[mod-border~="teal-50"],
[mod-each-child~="border-teal-50"] > [mod-child],
[mod-border~="on-hover-teal-50"]:hover,
[mod-border~="on-focus-teal-50"]:focus,
[mod-each-child~="on-hover-border-teal-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-teal-50"] > [mod-child]:focus{
	border-color: #e0f2f1;
}
[mod-border~="teal-100"],
[mod-each-child~="border-teal-100"] > [mod-child],
[mod-border~="on-hover-teal-100"]:hover,
[mod-border~="on-focus-teal-100"]:focus,
[mod-each-child~="on-hover-border-teal-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-teal-100"] > [mod-child]:focus{
	border-color: #b2dfdb;
}
[mod-border~="teal-200"],
[mod-each-child~="border-teal-200"] > [mod-child],
[mod-border~="on-hover-teal-200"]:hover,
[mod-border~="on-focus-teal-200"]:focus,
[mod-each-child~="on-hover-border-teal-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-teal-200"] > [mod-child]:focus{
	border-color: #80cbc4;
}
[mod-border~="teal-300"],
[mod-each-child~="border-teal-300"] > [mod-child],
[mod-border~="on-hover-teal-300"]:hover,
[mod-border~="on-focus-teal-300"]:focus,
[mod-each-child~="on-hover-border-teal-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-teal-300"] > [mod-child]:focus{
	border-color: #4db6ac;
}
[mod-border~="teal-400"],
[mod-each-child~="border-teal-400"] > [mod-child],
[mod-border~="on-hover-teal-400"]:hover,
[mod-border~="on-focus-teal-400"]:focus,
[mod-each-child~="on-hover-border-teal-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-teal-400"] > [mod-child]:focus{
	border-color: #26a69a;
}
[mod-border~="teal-500"],
[mod-each-child~="border-teal-500"] > [mod-child],
[mod-border~="on-hover-teal-500"]:hover,
[mod-border~="on-focus-teal-500"]:focus,
[mod-each-child~="on-hover-border-teal-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-teal-500"] > [mod-child]:focus{
	border-color: #009688;
}
[mod-border~="teal-600"],
[mod-each-child~="border-teal-600"] > [mod-child],
[mod-border~="on-hover-teal-600"]:hover,
[mod-border~="on-focus-teal-600"]:focus,
[mod-each-child~="on-hover-border-teal-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-teal-600"] > [mod-child]:focus{
	border-color: #00897b;
}
[mod-border~="teal-700"],
[mod-each-child~="border-teal-700"] > [mod-child],
[mod-border~="on-hover-teal-700"]:hover,
[mod-border~="on-focus-teal-700"]:focus,
[mod-each-child~="on-hover-border-teal-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-teal-700"] > [mod-child]:focus{
	border-color: #00796b;
}
[mod-border~="teal-800"],
[mod-each-child~="border-teal-800"] > [mod-child],
[mod-border~="on-hover-teal-800"]:hover,
[mod-border~="on-focus-teal-800"]:focus,
[mod-each-child~="on-hover-border-teal-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-teal-800"] > [mod-child]:focus{
	border-color: #00695c;
}
[mod-border~="teal-900"],
[mod-each-child~="border-teal-900"] > [mod-child],
[mod-border~="on-hover-teal-900"]:hover,
[mod-border~="on-focus-teal-900"]:focus,
[mod-each-child~="on-hover-border-teal-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-teal-900"] > [mod-child]:focus{
	border-color: #004d40;
}
[mod-border~="teal-a100"],
[mod-each-child~="border-teal-a100"] > [mod-child],
[mod-border~="on-hover-teal-a100"]:hover,
[mod-border~="on-focus-teal-a100"]:focus,
[mod-each-child~="on-hover-border-teal-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-teal-a100"] > [mod-child]:focus{
	border-color: #a7ffeb;
}
[mod-border~="teal-a200"],
[mod-each-child~="border-teal-a200"] > [mod-child],
[mod-border~="on-hover-teal-a200"]:hover,
[mod-border~="on-focus-teal-a200"]:focus,
[mod-each-child~="on-hover-border-teal-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-teal-a200"] > [mod-child]:focus{
	border-color: #64ffda;
}
[mod-border~="teal-a400"],
[mod-each-child~="border-teal-a400"] > [mod-child],
[mod-border~="on-hover-teal-a400"]:hover,
[mod-border~="on-focus-teal-a400"]:focus,
[mod-each-child~="on-hover-border-teal-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-teal-a400"] > [mod-child]:focus{
	border-color:  #1de9b6;
}
[mod-border~="teal-a700"],
[mod-each-child~="border-teal-a700"] > [mod-child],
[mod-border~="on-hover-teal-a700"]:hover,
[mod-border~="on-focus-teal-a700"]:focus,
[mod-each-child~="on-hover-border-teal-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-teal-a700"] > [mod-child]:focus{
	border-color: #00bfa5;
}