/* 
  Color Palettes: teal
  CSS by: Alan Museljic
  Credit Color Palettes Material Design Colors
*/

/* -- teal fill colors -- */

.background--teal{
  background: #009688;
}
.background--teal-50{
  background: #e0f2f1;
}
.background--teal-100{
  background: #b2dfdb;
}
.background--teal-200{
  background: #80cbc4;
}
.background--teal-300{
  background: #4db6ac;
}
.background--teal-400{
  background: #26a69a;
}
.background--teal-500{
  background: #009688;
}
.background--teal-600{
  background: #00897b;
}
.background--teal-700{
  background: #00796b;
}
.background--teal-800{
  background: #00695c;
}
.background--teal-900{
  background: #004d40;
}
.background--teal-a100{
  background: #a7ffeb;
}
.background--teal-a200{
  background: #64ffda;
}
.background--teal-a400{
  background:  #1de9b6;
}
.background--teal-a700{
  background: #00bfa5;
}

/* -- teal text / icon colors -- */

.color--teal{
  color: #009688;
}
.color--teal-50{
  color: #e0f2f1;
}
.color--teal-100{
  color: #b2dfdb;
}
.color--teal-200{
  color: #80cbc4;
}
.color--teal-300{
  color: #4db6ac;
}
.color--teal-400{
  color: #26a69a;
}
.color--teal-500{
  color: #009688;
}
.color--teal-600{
  color: #00897b;
}
.color--teal-700{
  color: #00796b;
}
.color--teal-800{
  color: #00695c;
}
.color--teal-900{
  color: #004d40;
}
.color--teal-a100{
  color: #a7ffeb;
}
.color--teal-a200{
  color: #64ffda;
}
.color--teal-a400{
  color:  #1de9b6;
}
.color--teal-a700{
  color: #00bfa5;
}


/* -- teal border colors -- */

.border-color--teal{
  border-color: #009688;
}
.border-color--teal-50{
  border-color: #e0f2f1;
}
.border-color--teal-100{
  border-color: #b2dfdb;
}
.border-color--teal-200{
  border-color: #80cbc4;
}
.border-color--teal-300{
  border-color: #4db6ac;
}
.border-color--teal-400{
  border-color: #26a69a;
}
.border-color--teal-500{
  border-color: #009688;
}
.border-color--teal-600{
  border-color: #00897b;
}
.border-color--teal-700{
  border-color: #00796b;
}
.border-color--teal-800{
  border-color: #00695c;
}
.border-color--teal-900{
  border-color: #004d40;
}
.border-color--teal-a100{
  border-color: #a7ffeb;
}
.border-color--teal-a200{
  border-color: #64ffda;
}
.border-color--teal-a400{
  border-color:  #1de9b6;
}
.border-color--teal-a700{
  border-color: #00bfa5;
}