/* 
  Color Palettes: blue-grey - extended 
  CSS by: Alan Museljic
  Credit Color Palettes Material Design Colors
*/


/* -- blue-grey fill colors -- */

[mod-background~="blue-grey"],
[mod-each-child~="background-blue-grey"] > [mod-child],
[mod-background~="on-hover-blue-grey"]:hover,
[mod-background~="on-focus-blue-grey"]:focus,
[mod-each-child~="on-hover-background-blue-grey"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-grey"] > [mod-child]:focus{
  background: #607d8b;
}
[mod-background~="blue-grey-50"],
[mod-each-child~="background-blue-grey-50"] > [mod-child],
[mod-background~="on-hover-blue-grey-50"]:hover,
[mod-background~="on-focus-blue-grey-50"]:focus,
[mod-each-child~="on-hover-background-blue-grey-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-grey-50"] > [mod-child]:focus{
  background: #eceff1;
}
[mod-background~="blue-grey-100"],
[mod-each-child~="background-blue-grey-100"] > [mod-child],
[mod-background~="on-hover-blue-grey-100"]:hover,
[mod-background~="on-focus-blue-grey-100"]:focus,
[mod-each-child~="on-hover-background-blue-grey-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-grey-100"] > [mod-child]:focus{
  background: #cfd8dc;
}
[mod-background~="blue-grey-200"],
[mod-each-child~="background-blue-grey-200"] > [mod-child],
[mod-background~="on-hover-blue-grey-200"]:hover,
[mod-background~="on-focus-blue-grey-200"]:focus,
[mod-each-child~="on-hover-background-blue-grey-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-grey-200"] > [mod-child]:focus{
  background: #b0bec5;
}
[mod-background~="blue-grey-300"],
[mod-each-child~="background-blue-grey-300"] > [mod-child],
[mod-background~="on-hover-blue-grey-300"]:hover,
[mod-background~="on-focus-blue-grey-300"]:focus,
[mod-each-child~="on-hover-background-blue-grey-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-grey-300"] > [mod-child]:focus{
  background: #90a4ae;
}
[mod-background~="blue-grey-400"],
[mod-each-child~="background-blue-grey-400"] > [mod-child],
[mod-background~="on-hover-blue-grey-400"]:hover,
[mod-background~="on-focus-blue-grey-400"]:focus,
[mod-each-child~="on-hover-background-blue-grey-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-grey-400"] > [mod-child]:focus{
  background: #78909c;
}
[mod-background~="blue-grey-500"],
[mod-each-child~="background-blue-grey-500"] > [mod-child],
[mod-background~="on-hover-blue-grey-500"]:hover,
[mod-background~="on-focus-blue-grey-500"]:focus,
[mod-each-child~="on-hover-background-blue-grey-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-grey-500"] > [mod-child]:focus{
  background: #607d8b;
}
[mod-background~="blue-grey-600"],
[mod-each-child~="background-blue-grey-600"] > [mod-child],
[mod-background~="on-hover-blue-grey-600"]:hover,
[mod-background~="on-focus-blue-grey-600"]:focus,
[mod-each-child~="on-hover-background-blue-grey-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-grey-600"] > [mod-child]:focus{
  background: #546e7a;
}
[mod-background~="blue-grey-700"],
[mod-each-child~="background-blue-grey-700"] > [mod-child],
[mod-background~="on-hover-blue-grey-700"]:hover,
[mod-background~="on-focus-blue-grey-700"]:focus,
[mod-each-child~="on-hover-background-blue-grey-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-grey-700"] > [mod-child]:focus{
  background: #455a64;
}
[mod-background~="blue-grey-800"],
[mod-each-child~="background-blue-grey-800"] > [mod-child],
[mod-background~="on-hover-blue-grey-800"]:hover,
[mod-background~="on-focus-blue-grey-800"]:focus,
[mod-each-child~="on-hover-background-blue-grey-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-grey-800"] > [mod-child]:focus{
  background: #37474f;
}
[mod-background~="blue-grey-900"],
[mod-each-child~="background-blue-grey-900"] > [mod-child],
[mod-background~="on-hover-blue-grey-900"]:hover,
[mod-background~="on-focus-blue-grey-900"]:focus,
[mod-each-child~="on-hover-background-blue-grey-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-grey-900"] > [mod-child]:focus{
  background: #263238;
}


/* -- blue-grey text colors -- */


[mod-text~="blue-grey"],
[mod-style~="blue-grey"],
[mod-each-child~="text-blue-grey"] > [mod-child],
[mod-text~="on-hover-blue-grey"]:hover,
[mod-text~="on-focus-blue-grey"]:focus,
[mod-each-child~="on-hover-text-blue-grey"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-grey"] > [mod-child]:focus{
  color: #607d8b;
}
[mod-text~="blue-grey-50"],
[mod-style~="blue-grey-50"],
[mod-each-child~="text-blue-grey-50"] > [mod-child],
[mod-text~="on-hover-blue-grey-50"]:hover,
[mod-text~="on-focus-blue-grey-50"]:focus,
[mod-each-child~="on-hover-text-blue-grey-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-grey-50"] > [mod-child]:focus{
  color: #eceff1;
}
[mod-text~="blue-grey-100"],
[mod-style~="blue-grey-100"],
[mod-each-child~="text-blue-grey-100"] > [mod-child],
[mod-text~="on-hover-blue-grey-100"]:hover,
[mod-text~="on-focus-blue-grey-100"]:focus,
[mod-each-child~="on-hover-text-blue-grey-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-grey-100"] > [mod-child]:focus{
  color: #cfd8dc;
}
[mod-text~="blue-grey-200"],
[mod-style~="blue-grey-200"],
[mod-each-child~="text-blue-grey-200"] > [mod-child],
[mod-text~="on-hover-blue-grey-200"]:hover,
[mod-text~="on-focus-blue-grey-200"]:focus,
[mod-each-child~="on-hover-text-blue-grey-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-grey-200"] > [mod-child]:focus{
  color: #b0bec5;
}
[mod-text~="blue-grey-300"],
[mod-style~="blue-grey-300"],
[mod-each-child~="text-blue-grey-300"] > [mod-child],
[mod-text~="on-hover-blue-grey-300"]:hover,
[mod-text~="on-focus-blue-grey-300"]:focus,
[mod-each-child~="on-hover-text-blue-grey-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-grey-300"] > [mod-child]:focus{
  color: #90a4ae;
}
[mod-text~="blue-grey-400"],
[mod-style~="blue-grey-400"],
[mod-each-child~="text-blue-grey-400"] > [mod-child],
[mod-text~="on-hover-blue-grey-400"]:hover,
[mod-text~="on-focus-blue-grey-400"]:focus,
[mod-each-child~="on-hover-text-blue-grey-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-grey-400"] > [mod-child]:focus{
  color: #78909c;
}
[mod-text~="blue-grey-500"],
[mod-style~="blue-grey-500"],
[mod-each-child~="text-blue-grey-500"] > [mod-child],
[mod-text~="on-hover-blue-grey-500"]:hover,
[mod-text~="on-focus-blue-grey-500"]:focus,
[mod-each-child~="on-hover-text-blue-grey-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-grey-500"] > [mod-child]:focus{
  color: #607d8b;
}
[mod-text~="blue-grey-600"],
[mod-style~="blue-grey-600"],
[mod-each-child~="text-blue-grey-600"] > [mod-child],
[mod-text~="on-hover-blue-grey-600"]:hover,
[mod-text~="on-focus-blue-grey-600"]:focus,
[mod-each-child~="on-hover-text-blue-grey-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-grey-600"] > [mod-child]:focus{
  color: #546e7a;
}
[mod-text~="blue-grey-700"],
[mod-style~="blue-grey-700"],
[mod-each-child~="text-blue-grey-700"] > [mod-child],
[mod-text~="on-hover-blue-grey-700"]:hover,
[mod-text~="on-focus-blue-grey-700"]:focus,
[mod-each-child~="on-hover-text-blue-grey-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-grey-700"] > [mod-child]:focus{
  color: #455a64;
}
[mod-text~="blue-grey-800"],
[mod-style~="blue-grey-800"],
[mod-each-child~="text-blue-grey-800"] > [mod-child],
[mod-text~="on-hover-blue-grey-800"]:hover,
[mod-text~="on-focus-blue-grey-800"]:focus,
[mod-each-child~="on-hover-text-blue-grey-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-grey-800"] > [mod-child]:focus{
  color: #37474f;
}
[mod-text~="blue-grey-900"],
[mod-style~="blue-grey-900"],
[mod-each-child~="text-blue-grey-900"] > [mod-child],
[mod-text~="on-hover-blue-grey-900"]:hover,
[mod-text~="on-focus-blue-grey-900"]:focus,
[mod-each-child~="on-hover-text-blue-grey-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-grey-900"] > [mod-child]:focus{
  color: #263238;
}

/* -- blue-grey border colors -- */

[mod-border~="blue-grey"],
[mod-each-child~="border-blue-grey"] > [mod-child],
[mod-border~="on-hover-blue-grey"]:hover,
[mod-border~="on-focus-blue-grey"]:focus,
[mod-each-child~="on-hover-border-blue-grey"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-grey"] > [mod-child]:focus{
  border-color: #607d8b;
}
[mod-border~="blue-grey-50"],
[mod-each-child~="border-blue-grey-50"] > [mod-child],
[mod-border~="on-hover-blue-grey-50"]:hover,
[mod-border~="on-focus-blue-grey-50"]:focus,
[mod-each-child~="on-hover-border-blue-grey-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-grey-50"] > [mod-child]:focus{
  border-color: #eceff1;
}
[mod-border~="blue-grey-100"],
[mod-each-child~="border-blue-grey-100"] > [mod-child],
[mod-border~="on-hover-blue-grey-100"]:hover,
[mod-border~="on-focus-blue-grey-100"]:focus,
[mod-each-child~="on-hover-border-blue-grey-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-grey-100"] > [mod-child]:focus{
  border-color: #cfd8dc;
}
[mod-border~="blue-grey-200"],
[mod-each-child~="border-blue-grey-200"] > [mod-child],
[mod-border~="on-hover-blue-grey-200"]:hover,
[mod-border~="on-focus-blue-grey-200"]:focus,
[mod-each-child~="on-hover-border-blue-grey-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-grey-200"] > [mod-child]:focus{
  border-color: #b0bec5;
}
[mod-border~="blue-grey-300"],
[mod-each-child~="border-blue-grey-300"] > [mod-child],
[mod-border~="on-hover-blue-grey-300"]:hover,
[mod-border~="on-focus-blue-grey-300"]:focus,
[mod-each-child~="on-hover-border-blue-grey-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-grey-300"] > [mod-child]:focus{
  border-color: #90a4ae;
}
[mod-border~="blue-grey-400"],
[mod-each-child~="border-blue-grey-400"] > [mod-child],
[mod-border~="on-hover-blue-grey-400"]:hover,
[mod-border~="on-focus-blue-grey-400"]:focus,
[mod-each-child~="on-hover-border-blue-grey-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-grey-400"] > [mod-child]:focus{
  border-color: #78909c;
}
[mod-border~="blue-grey-500"],
[mod-each-child~="border-blue-grey-500"] > [mod-child],
[mod-border~="on-hover-blue-grey-500"]:hover,
[mod-border~="on-focus-blue-grey-500"]:focus,
[mod-each-child~="on-hover-border-blue-grey-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-grey-500"] > [mod-child]:focus{
  border-color: #607d8b;
}
[mod-border~="blue-grey-600"],
[mod-each-child~="border-blue-grey-600"] > [mod-child],
[mod-border~="on-hover-blue-grey-600"]:hover,
[mod-border~="on-focus-blue-grey-600"]:focus,
[mod-each-child~="on-hover-border-blue-grey-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-grey-600"] > [mod-child]:focus{
  border-color: #546e7a;
}
[mod-border~="blue-grey-700"],
[mod-each-child~="border-blue-grey-700"] > [mod-child],
[mod-border~="on-hover-blue-grey-700"]:hover,
[mod-border~="on-focus-blue-grey-700"]:focus,
[mod-each-child~="on-hover-border-blue-grey-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-grey-700"] > [mod-child]:focus{
  border-color: #455a64;
}
[mod-border~="blue-grey-800"],
[mod-each-child~="border-blue-grey-800"] > [mod-child],
[mod-border~="on-hover-blue-grey-800"]:hover,
[mod-border~="on-focus-blue-grey-800"]:focus,
[mod-each-child~="on-hover-border-blue-grey-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-grey-800"] > [mod-child]:focus{
  border-color: #37474f;
}
[mod-border~="blue-grey-900"],
[mod-each-child~="border-blue-grey-900"] > [mod-child],
[mod-border~="on-hover-blue-grey-900"]:hover,
[mod-border~="on-focus-blue-grey-900"]:focus,
[mod-each-child~="on-hover-border-blue-grey-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-grey-900"] > [mod-child]:focus{
  border-color: #263238;
}