/* 
  Color Palettes: blue-grey
  CSS by: Alan Museljic
  Credit Color Palettes Material Design Colors
*/

/* -- blue-grey fill colors -- */

.background--blue-grey{
  background: #607d8b;
}
.background--blue-grey-50{
  background: #eceff1;
}
.background--blue-grey-100{
  background: #cfd8dc;
}
.background--blue-grey-200{
  background: #b0bec5;
}
.background--blue-grey-300{
  background: #90a4ae;
}
.background--blue-grey-400{
  background: #78909c;
}
.background--blue-grey-500{
  background: #607d8b;
}
.background--blue-grey-600{
  background: #546e7a;
}
.background--blue-grey-700{
  background: #455a64;
}
.background--blue-grey-800{
  background: #37474f;
}
.background--blue-grey-900{
  background: #263238;
}

/* -- blue-grey text / icon colors -- */

.color--blue-grey{
  color: #607d8b;
}
.color--blue-grey-50{
  color: #eceff1;
}
.color--blue-grey-100{
  color: #cfd8dc;
}
.color--blue-grey-200{
  color: #b0bec5;
}
.color--blue-grey-300{
  color: #90a4ae;
}
.color--blue-grey-400{
  color: #78909c;
}
.color--blue-grey-500{
  color: #607d8b;
}
.color--blue-grey-600{
  color: #546e7a;
}
.color--blue-grey-700{
  color: #455a64;
}
.color--blue-grey-800{
  color: #37474f;
}
.color--blue-grey-900{
  color: #263238;
}

/* -- blue-grey border colors -- */

.border-color--blue-grey{
  border-color: #607d8b;
}
.border-color--blue-grey-50{
  border-color: #eceff1;
}
.border-color--blue-grey-100{
  border-color: #cfd8dc;
}
.border-color--blue-grey-200{
  border-color: #b0bec5;
}
.border-color--blue-grey-300{
  border-color: #90a4ae;
}
.border-color--blue-grey-400{
  border-color: #78909c;
}
.border-color--blue-grey-500{
  border-color: #607d8b;
}
.border-color--blue-grey-600{
  border-color: #546e7a;
}
.border-color--blue-grey-700{
  border-color: #455a64;
}
.border-color--blue-grey-800{
  border-color: #37474f;
}
.border-color--blue-grey-900{
  border-color: #263238;
}