/* 
  Color Palettes: red - extended 
  CSS by: Alan Museljic
  Credit Color Palettes Material Design Colors
*/


/* -- red fill colors -- */

[mod-background~="red"],
[mod-each-child~="background-red"] > [mod-child],
[mod-background~="on-hover-red"]:hover,
[mod-background~="on-focus-red"]:focus,
[mod-each-child~="on-hover-background-red"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red"] > [mod-child]:focus{
  background: #f44336;
}
[mod-background~="red-50"],
[mod-each-child~="background-red-50"] > [mod-child],
[mod-background~="on-hover-red-50"]:hover,
[mod-background~="on-focus-red-50"]:focus,
[mod-each-child~="on-hover-background-red-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-50"] > [mod-child]:focus{
  background: #ffebee;
}
[mod-background~="red-100"],
[mod-each-child~="background-red-100"] > [mod-child],
[mod-background~="on-hover-red-100"]:hover,
[mod-background~="on-focus-red-100"]:focus,
[mod-each-child~="on-hover-background-red-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-100"] > [mod-child]:focus{
  background: #ffcdd2;
}
[mod-background~="red-200"],
[mod-each-child~="background-red-200"] > [mod-child],
[mod-background~="on-hover-red-200"]:hover,
[mod-background~="on-focus-red-200"]:focus,
[mod-each-child~="on-hover-background-red-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-200"] > [mod-child]:focus{
  background: #ef9a9a;
}
[mod-background~="red-300"],
[mod-each-child~="background-red-300"] > [mod-child],
[mod-background~="on-hover-red-300"]:hover,
[mod-background~="on-focus-red-300"]:focus,
[mod-each-child~="on-hover-background-red-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-300"] > [mod-child]:focus{
  background: #e57373;
}
[mod-background~="red-400"],
[mod-each-child~="background-red-400"] > [mod-child],
[mod-background~="on-hover-red-400"]:hover,
[mod-background~="on-focus-red-400"]:focus,
[mod-each-child~="on-hover-background-red-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-400"] > [mod-child]:focus{
  background: #ef5350;
}
[mod-background~="red-500"],
[mod-each-child~="background-red-500"] > [mod-child],
[mod-background~="on-hover-red-500"]:hover,
[mod-background~="on-focus-red-500"]:focus,
[mod-each-child~="on-hover-background-red-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-500"] > [mod-child]:focus{
  background: #f44336;
}
[mod-background~="red-600"],
[mod-each-child~="background-red-600"] > [mod-child],
[mod-background~="on-hover-red-600"]:hover,
[mod-background~="on-focus-red-600"]:focus,
[mod-each-child~="on-hover-background-red-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-600"] > [mod-child]:focus{
  background: #e53935;
}
[mod-background~="red-700"],
[mod-each-child~="background-red-700"] > [mod-child],
[mod-background~="on-hover-red-700"]:hover,
[mod-background~="on-focus-red-700"]:focus,
[mod-each-child~="on-hover-background-red-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-700"] > [mod-child]:focus{
  background: #d32f2f;
}
[mod-background~="red-800"],
[mod-each-child~="background-red-800"] > [mod-child],
[mod-background~="on-hover-red-800"]:hover,
[mod-background~="on-focus-red-800"]:focus,
[mod-each-child~="on-hover-background-red-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-800"] > [mod-child]:focus{
  background: #c62828;
}
[mod-background~="red-900"],
[mod-each-child~="background-red-900"] > [mod-child],
[mod-background~="on-hover-red-900"]:hover,
[mod-background~="on-focus-red-900"]:focus,
[mod-each-child~="on-hover-background-red-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-900"] > [mod-child]:focus{
  background: #b71c1c;
}
[mod-background~="red-a100"],
[mod-each-child~="background-red-a100"] > [mod-child],
[mod-background~="on-hover-red-a100"]:hover,
[mod-background~="on-focus-red-a100"]:focus,
[mod-each-child~="on-hover-background-red-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-a100"] > [mod-child]:focus{
  background: #ff8a80;
}
[mod-background~="red-a200"],
[mod-each-child~="background-red-a200"] > [mod-child],
[mod-background~="on-hover-red-a200"]:hover,
[mod-background~="on-focus-red-a200"]:focus,
[mod-each-child~="on-hover-background-red-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-a200"] > [mod-child]:focus{
  background: #ff5252;
}
[mod-background~="red-a400"],
[mod-each-child~="background-red-a400"] > [mod-child],
[mod-background~="on-hover-red-a400"]:hover,
[mod-background~="on-focus-red-a400"]:focus,
[mod-each-child~="on-hover-background-red-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-a400"] > [mod-child]:focus{
  background:  #ff1744;
}
[mod-background~="red-a700"],
[mod-each-child~="background-red-a700"] > [mod-child],
[mod-background~="on-hover-red-a700"]:hover,
[mod-background~="on-focus-red-a700"]:focus,
[mod-each-child~="on-hover-background-red-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-a700"] > [mod-child]:focus{
  background: #d50000;
}

/* -- red text / icon colors -- */

[mod-color~="red"],
[mod-each-child~="color-red"] > [mod-child],
[mod-color~="on-hover-red"]:hover,
[mod-color~="on-focus-red"]:focus,
[mod-each-child~="on-hover-color-red"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-red"] > [mod-child]:focus{
  color: #f44336;
}
[mod-color~="red-50"],
[mod-each-child~="color-red-50"] > [mod-child],
[mod-color~="on-hover-red-50"]:hover,
[mod-color~="on-focus-red-50"]:focus,
[mod-each-child~="on-hover-color-red-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-red-50"] > [mod-child]:focus{
  color: #ffebee;
}
[mod-color~="red-100"],
[mod-each-child~="color-red-100"] > [mod-child],
[mod-color~="on-hover-red-100"]:hover,
[mod-color~="on-focus-red-100"]:focus,
[mod-each-child~="on-hover-color-red-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-red-100"] > [mod-child]:focus{
  color: #ffcdd2;
}
[mod-color~="red-200"],
[mod-each-child~="color-red-200"] > [mod-child],
[mod-color~="on-hover-red-200"]:hover,
[mod-color~="on-focus-red-200"]:focus,
[mod-each-child~="on-hover-color-red-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-red-200"] > [mod-child]:focus{
  color: #ef9a9a;
}
[mod-color~="red-300"],
[mod-each-child~="color-red-300"] > [mod-child],
[mod-color~="on-hover-red-300"]:hover,
[mod-color~="on-focus-red-300"]:focus,
[mod-each-child~="on-hover-color-red-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-red-300"] > [mod-child]:focus{
  color: #e57373;
}
[mod-color~="red-400"],
[mod-each-child~="color-red-400"] > [mod-child],
[mod-color~="on-hover-red-400"]:hover,
[mod-color~="on-focus-red-400"]:focus,
[mod-each-child~="on-hover-color-red-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-red-400"] > [mod-child]:focus{
  color: #ef5350;
}
[mod-color~="red-500"],
[mod-each-child~="color-red-500"] > [mod-child],
[mod-color~="on-hover-red-500"]:hover,
[mod-color~="on-focus-red-500"]:focus,
[mod-each-child~="on-hover-color-red-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-red-500"] > [mod-child]:focus{
  color: #f44336;
}
[mod-color~="red-600"],
[mod-each-child~="color-red-600"] > [mod-child],
[mod-color~="on-hover-red-600"]:hover,
[mod-color~="on-focus-red-600"]:focus,
[mod-each-child~="on-hover-color-red-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-red-600"] > [mod-child]:focus{
  color: #e53935;
}
[mod-color~="red-700"],
[mod-each-child~="color-red-700"] > [mod-child],
[mod-color~="on-hover-red-700"]:hover,
[mod-color~="on-focus-red-700"]:focus,
[mod-each-child~="on-hover-color-red-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-red-700"] > [mod-child]:focus{
  color: #d32f2f;
}
[mod-color~="red-800"],
[mod-each-child~="color-red-800"] > [mod-child],
[mod-color~="on-hover-red-800"]:hover,
[mod-color~="on-focus-red-800"]:focus,
[mod-each-child~="on-hover-color-red-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-red-800"] > [mod-child]:focus{
  color: #c62828;
}
[mod-color~="red-900"],
[mod-each-child~="color-red-900"] > [mod-child],
[mod-color~="on-hover-red-900"]:hover,
[mod-color~="on-focus-red-900"]:focus,
[mod-each-child~="on-hover-color-red-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-red-900"] > [mod-child]:focus{
  color: #b71c1c;
}
[mod-color~="red-a100"],
[mod-each-child~="color-red-a100"] > [mod-child],
[mod-color~="on-hover-red-a100"]:hover,
[mod-color~="on-focus-red-a100"]:focus,
[mod-each-child~="on-hover-color-red-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-red-a100"] > [mod-child]:focus{
  color: #ff8a80;
}
[mod-color~="red-a200"],
[mod-each-child~="color-red-a200"] > [mod-child],
[mod-color~="on-hover-red-a200"]:hover,
[mod-color~="on-focus-red-a200"]:focus,
[mod-each-child~="on-hover-color-red-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-red-a200"] > [mod-child]:focus{
  color: #ff5252;
}
[mod-color~="red-a400"],
[mod-each-child~="color-red-a400"] > [mod-child],
[mod-color~="on-hover-red-a400"]:hover,
[mod-color~="on-focus-red-a400"]:focus,
[mod-each-child~="on-hover-color-red-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-red-a400"] > [mod-child]:focus{
  color:  #ff1744;
}
[mod-color~="red-a700"],
[mod-each-child~="color-red-a700"] > [mod-child],
[mod-color~="on-hover-red-a700"]:hover,
[mod-color~="on-focus-red-a700"]:focus,
[mod-each-child~="on-hover-color-red-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-red-a700"] > [mod-child]:focus{
  color: #d50000;
}

/* -- red border colors -- */

[mod-border-color~="red"],
[mod-each-child~="border-color-red"] > [mod-child],
[mod-border-color~="on-hover-red"]:hover,
[mod-border-color~="on-focus-red"]:focus,
[mod-each-child~="on-hover-border-color-red"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-red"] > [mod-child]:focus{
  border-color: #f44336;
}
[mod-border-color~="red-50"],
[mod-each-child~="border-color-red-50"] > [mod-child],
[mod-border-color~="on-hover-red-50"]:hover,
[mod-border-color~="on-focus-red-50"]:focus,
[mod-each-child~="on-hover-border-color-red-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-red-50"] > [mod-child]:focus{
  border-color: #ffebee;
}
[mod-border-color~="red-100"],
[mod-each-child~="border-color-red-100"] > [mod-child],
[mod-border-color~="on-hover-red-100"]:hover,
[mod-border-color~="on-focus-red-100"]:focus,
[mod-each-child~="on-hover-border-color-red-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-red-100"] > [mod-child]:focus{
  border-color: #ffcdd2;
}
[mod-border-color~="red-200"],
[mod-each-child~="border-color-red-200"] > [mod-child],
[mod-border-color~="on-hover-red-200"]:hover,
[mod-border-color~="on-focus-red-200"]:focus,
[mod-each-child~="on-hover-border-color-red-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-red-200"] > [mod-child]:focus{
  border-color: #ef9a9a;
}
[mod-border-color~="red-300"],
[mod-each-child~="border-color-red-300"] > [mod-child],
[mod-border-color~="on-hover-red-300"]:hover,
[mod-border-color~="on-focus-red-300"]:focus,
[mod-each-child~="on-hover-border-color-red-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-red-300"] > [mod-child]:focus{
  border-color: #e57373;
}
[mod-border-color~="red-400"],
[mod-each-child~="border-color-red-400"] > [mod-child],
[mod-border-color~="on-hover-red-400"]:hover,
[mod-border-color~="on-focus-red-400"]:focus,
[mod-each-child~="on-hover-border-color-red-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-red-400"] > [mod-child]:focus{
  border-color: #ef5350;
}
[mod-border-color~="red-500"],
[mod-each-child~="border-color-red-500"] > [mod-child],
[mod-border-color~="on-hover-red-500"]:hover,
[mod-border-color~="on-focus-red-500"]:focus,
[mod-each-child~="on-hover-border-color-red-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-red-500"] > [mod-child]:focus{
  border-color: #f44336;
}
[mod-border-color~="red-600"],
[mod-each-child~="border-color-red-600"] > [mod-child],
[mod-border-color~="on-hover-red-600"]:hover,
[mod-border-color~="on-focus-red-600"]:focus,
[mod-each-child~="on-hover-border-color-red-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-red-600"] > [mod-child]:focus{
  border-color: #e53935;
}
[mod-border-color~="red-700"],
[mod-each-child~="border-color-red-700"] > [mod-child],
[mod-border-color~="on-hover-red-700"]:hover,
[mod-border-color~="on-focus-red-700"]:focus,
[mod-each-child~="on-hover-border-color-red-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-red-700"] > [mod-child]:focus{
  border-color: #d32f2f;
}
[mod-border-color~="red-800"],
[mod-each-child~="border-color-red-800"] > [mod-child],
[mod-border-color~="on-hover-red-800"]:hover,
[mod-border-color~="on-focus-red-800"]:focus,
[mod-each-child~="on-hover-border-color-red-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-red-800"] > [mod-child]:focus{
  border-color: #c62828;
}
[mod-border-color~="red-900"],
[mod-each-child~="border-color-red-900"] > [mod-child],
[mod-border-color~="on-hover-red-900"]:hover,
[mod-border-color~="on-focus-red-900"]:focus,
[mod-each-child~="on-hover-border-color-red-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-red-900"] > [mod-child]:focus{
  border-color: #b71c1c;
}
[mod-border-color~="red-a100"],
[mod-each-child~="border-color-red-a100"] > [mod-child],
[mod-border-color~="on-hover-red-a100"]:hover,
[mod-border-color~="on-focus-red-a100"]:focus,
[mod-each-child~="on-hover-border-color-red-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-red-a100"] > [mod-child]:focus{
  border-color: #ff8a80;
}
[mod-border-color~="red-a200"],
[mod-each-child~="border-color-red-a200"] > [mod-child],
[mod-border-color~="on-hover-red-a200"]:hover,
[mod-border-color~="on-focus-red-a200"]:focus,
[mod-each-child~="on-hover-border-color-red-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-red-a200"] > [mod-child]:focus{
  border-color: #ff5252;
}
[mod-border-color~="red-a400"],
[mod-each-child~="border-color-red-a400"] > [mod-child],
[mod-border-color~="on-hover-red-a400"]:hover,
[mod-border-color~="on-focus-red-a400"]:focus,
[mod-each-child~="on-hover-border-color-red-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-red-a400"] > [mod-child]:focus{
  border-color:  #ff1744;
}
[mod-border-color~="red-a700"],
[mod-each-child~="border-color-red-a700"] > [mod-child],
[mod-border-color~="on-hover-red-a700"]:hover,
[mod-border-color~="on-focus-red-a700"]:focus,
[mod-each-child~="on-hover-border-color-red-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-red-a700"] > [mod-child]:focus{
  border-color: #d50000;
}