/* 
	Color Palettes: red - extended 
	CSS by: Alan Museljic
	Credit Color Palettes Material Design Colors
*/


/* -- red fill colors -- */

[mod-background~="red"],
[mod-each-child~="background-red"] > [mod-child],
[mod-background~="on-hover-red"]:hover,
[mod-background~="on-focus-red"]:focus,
[mod-each-child~="on-hover-background-red"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red"] > [mod-child]:focus{
	background: #f44336;
}
[mod-background~="red-50"],
[mod-each-child~="background-red-50"] > [mod-child],
[mod-background~="on-hover-red-50"]:hover,
[mod-background~="on-focus-red-50"]:focus,
[mod-each-child~="on-hover-background-red-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-50"] > [mod-child]:focus{
	background: #ffebee;
}
[mod-background~="red-100"],
[mod-each-child~="background-red-100"] > [mod-child],
[mod-background~="on-hover-red-100"]:hover,
[mod-background~="on-focus-red-100"]:focus,
[mod-each-child~="on-hover-background-red-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-100"] > [mod-child]:focus{
	background: #ffcdd2;
}
[mod-background~="red-200"],
[mod-each-child~="background-red-200"] > [mod-child],
[mod-background~="on-hover-red-200"]:hover,
[mod-background~="on-focus-red-200"]:focus,
[mod-each-child~="on-hover-background-red-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-200"] > [mod-child]:focus{
	background: #ef9a9a;
}
[mod-background~="red-300"],
[mod-each-child~="background-red-300"] > [mod-child],
[mod-background~="on-hover-red-300"]:hover,
[mod-background~="on-focus-red-300"]:focus,
[mod-each-child~="on-hover-background-red-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-300"] > [mod-child]:focus{
	background: #e57373;
}
[mod-background~="red-400"],
[mod-each-child~="background-red-400"] > [mod-child],
[mod-background~="on-hover-red-400"]:hover,
[mod-background~="on-focus-red-400"]:focus,
[mod-each-child~="on-hover-background-red-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-400"] > [mod-child]:focus{
	background: #ef5350;
}
[mod-background~="red-500"],
[mod-each-child~="background-red-500"] > [mod-child],
[mod-background~="on-hover-red-500"]:hover,
[mod-background~="on-focus-red-500"]:focus,
[mod-each-child~="on-hover-background-red-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-500"] > [mod-child]:focus{
	background: #f44336;
}
[mod-background~="red-600"],
[mod-each-child~="background-red-600"] > [mod-child],
[mod-background~="on-hover-red-600"]:hover,
[mod-background~="on-focus-red-600"]:focus,
[mod-each-child~="on-hover-background-red-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-600"] > [mod-child]:focus{
	background: #e53935;
}
[mod-background~="red-700"],
[mod-each-child~="background-red-700"] > [mod-child],
[mod-background~="on-hover-red-700"]:hover,
[mod-background~="on-focus-red-700"]:focus,
[mod-each-child~="on-hover-background-red-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-700"] > [mod-child]:focus{
	background: #d32f2f;
}
[mod-background~="red-800"],
[mod-each-child~="background-red-800"] > [mod-child],
[mod-background~="on-hover-red-800"]:hover,
[mod-background~="on-focus-red-800"]:focus,
[mod-each-child~="on-hover-background-red-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-800"] > [mod-child]:focus{
	background: #c62828;
}
[mod-background~="red-900"],
[mod-each-child~="background-red-900"] > [mod-child],
[mod-background~="on-hover-red-900"]:hover,
[mod-background~="on-focus-red-900"]:focus,
[mod-each-child~="on-hover-background-red-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-900"] > [mod-child]:focus{
	background: #b71c1c;
}
[mod-background~="red-a100"],
[mod-each-child~="background-red-a100"] > [mod-child],
[mod-background~="on-hover-red-a100"]:hover,
[mod-background~="on-focus-red-a100"]:focus,
[mod-each-child~="on-hover-background-red-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-a100"] > [mod-child]:focus{
	background: #ff8a80;
}
[mod-background~="red-a200"],
[mod-each-child~="background-red-a200"] > [mod-child],
[mod-background~="on-hover-red-a200"]:hover,
[mod-background~="on-focus-red-a200"]:focus,
[mod-each-child~="on-hover-background-red-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-a200"] > [mod-child]:focus{
	background: #ff5252;
}
[mod-background~="red-a400"],
[mod-each-child~="background-red-a400"] > [mod-child],
[mod-background~="on-hover-red-a400"]:hover,
[mod-background~="on-focus-red-a400"]:focus,
[mod-each-child~="on-hover-background-red-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-a400"] > [mod-child]:focus{
	background:  #ff1744;
}
[mod-background~="red-a700"],
[mod-each-child~="background-red-a700"] > [mod-child],
[mod-background~="on-hover-red-a700"]:hover,
[mod-background~="on-focus-red-a700"]:focus,
[mod-each-child~="on-hover-background-red-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-red-a700"] > [mod-child]:focus{
	background: #d50000;
}

/* -- red text colors -- */

[mod-text~="red"],
[mod-style~="red"],
[mod-each-child~="text-red"] > [mod-child],
[mod-text~="on-hover-red"]:hover,
[mod-text~="on-focus-red"]:focus,
[mod-each-child~="on-hover-text-red"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-red"] > [mod-child]:focus{
	color: #f44336;
}
[mod-text~="red-50"],
[mod-style~="red-50"],
[mod-each-child~="text-red-50"] > [mod-child],
[mod-text~="on-hover-red-50"]:hover,
[mod-text~="on-focus-red-50"]:focus,
[mod-each-child~="on-hover-text-red-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-red-50"] > [mod-child]:focus{
	color: #ffebee;
}
[mod-text~="red-100"],
[mod-style~="red-100"],
[mod-each-child~="text-red-100"] > [mod-child],
[mod-text~="on-hover-red-100"]:hover,
[mod-text~="on-focus-red-100"]:focus,
[mod-each-child~="on-hover-text-red-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-red-100"] > [mod-child]:focus{
	color: #ffcdd2;
}
[mod-text~="red-200"],
[mod-style~="red-200"],
[mod-each-child~="text-red-200"] > [mod-child],
[mod-text~="on-hover-red-200"]:hover,
[mod-text~="on-focus-red-200"]:focus,
[mod-each-child~="on-hover-text-red-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-red-200"] > [mod-child]:focus{
	color: #ef9a9a;
}
[mod-text~="red-300"],
[mod-style~="red-300"],
[mod-each-child~="text-red-300"] > [mod-child],
[mod-text~="on-hover-red-300"]:hover,
[mod-text~="on-focus-red-300"]:focus,
[mod-each-child~="on-hover-text-red-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-red-300"] > [mod-child]:focus{
	color: #e57373;
}
[mod-text~="red-400"],
[mod-style~="red-400"],
[mod-each-child~="text-red-400"] > [mod-child],
[mod-text~="on-hover-red-400"]:hover,
[mod-text~="on-focus-red-400"]:focus,
[mod-each-child~="on-hover-text-red-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-red-400"] > [mod-child]:focus{
	color: #ef5350;
}
[mod-text~="red-500"],
[mod-style~="red-500"],
[mod-each-child~="text-red-500"] > [mod-child],
[mod-text~="on-hover-red-500"]:hover,
[mod-text~="on-focus-red-500"]:focus,
[mod-each-child~="on-hover-text-red-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-red-500"] > [mod-child]:focus{
	color: #f44336;
}
[mod-text~="red-600"],
[mod-style~="red-600"],
[mod-each-child~="text-red-600"] > [mod-child],
[mod-text~="on-hover-red-600"]:hover,
[mod-text~="on-focus-red-600"]:focus,
[mod-each-child~="on-hover-text-red-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-red-600"] > [mod-child]:focus{
	color: #e53935;
}
[mod-text~="red-700"],
[mod-style~="red-700"],
[mod-each-child~="text-red-700"] > [mod-child],
[mod-text~="on-hover-red-700"]:hover,
[mod-text~="on-focus-red-700"]:focus,
[mod-each-child~="on-hover-text-red-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-red-700"] > [mod-child]:focus{
	color: #d32f2f;
}
[mod-text~="red-800"],
[mod-style~="red-800"],
[mod-each-child~="text-red-800"] > [mod-child],
[mod-text~="on-hover-red-800"]:hover,
[mod-text~="on-focus-red-800"]:focus,
[mod-each-child~="on-hover-text-red-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-red-800"] > [mod-child]:focus{
	color: #c62828;
}
[mod-text~="red-900"],
[mod-style~="red-900"],
[mod-each-child~="text-red-900"] > [mod-child],
[mod-text~="on-hover-red-900"]:hover,
[mod-text~="on-focus-red-900"]:focus,
[mod-each-child~="on-hover-text-red-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-red-900"] > [mod-child]:focus{
	color: #b71c1c;
}
[mod-text~="red-a100"],
[mod-style~="red-a100"],
[mod-each-child~="text-red-a100"] > [mod-child],
[mod-text~="on-hover-red-a100"]:hover,
[mod-text~="on-focus-red-a100"]:focus,
[mod-each-child~="on-hover-text-red-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-red-a100"] > [mod-child]:focus{
	color: #ff8a80;
}
[mod-text~="red-a200"],
[mod-style~="red-a200"],
[mod-each-child~="text-red-a200"] > [mod-child],
[mod-text~="on-hover-red-a200"]:hover,
[mod-text~="on-focus-red-a200"]:focus,
[mod-each-child~="on-hover-text-red-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-red-a200"] > [mod-child]:focus{
	color: #ff5252;
}
[mod-text~="red-a400"],
[mod-style~="red-a400"],
[mod-each-child~="text-red-a400"] > [mod-child],
[mod-text~="on-hover-red-a400"]:hover,
[mod-text~="on-focus-red-a400"]:focus,
[mod-each-child~="on-hover-text-red-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-red-a400"] > [mod-child]:focus{
	color:  #ff1744;
}
[mod-text~="red-a700"],
[mod-style~="red-a700"],
[mod-each-child~="text-red-a700"] > [mod-child],
[mod-text~="on-hover-red-a700"]:hover,
[mod-text~="on-focus-red-a700"]:focus,
[mod-each-child~="on-hover-text-red-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-red-a700"] > [mod-child]:focus{
	color: #d50000;
}


/* -- red border colors -- */

[mod-border~="red"],
[mod-each-child~="border-red"] > [mod-child],
[mod-border~="on-hover-red"]:hover,
[mod-border~="on-focus-red"]:focus,
[mod-each-child~="on-hover-border-red"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-red"] > [mod-child]:focus{
	border-color: #f44336;
}
[mod-border~="red-50"],
[mod-each-child~="border-red-50"] > [mod-child],
[mod-border~="on-hover-red-50"]:hover,
[mod-border~="on-focus-red-50"]:focus,
[mod-each-child~="on-hover-border-red-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-red-50"] > [mod-child]:focus{
	border-color: #ffebee;
}
[mod-border~="red-100"],
[mod-each-child~="border-red-100"] > [mod-child],
[mod-border~="on-hover-red-100"]:hover,
[mod-border~="on-focus-red-100"]:focus,
[mod-each-child~="on-hover-border-red-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-red-100"] > [mod-child]:focus{
	border-color: #ffcdd2;
}
[mod-border~="red-200"],
[mod-each-child~="border-red-200"] > [mod-child],
[mod-border~="on-hover-red-200"]:hover,
[mod-border~="on-focus-red-200"]:focus,
[mod-each-child~="on-hover-border-red-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-red-200"] > [mod-child]:focus{
	border-color: #ef9a9a;
}
[mod-border~="red-300"],
[mod-each-child~="border-red-300"] > [mod-child],
[mod-border~="on-hover-red-300"]:hover,
[mod-border~="on-focus-red-300"]:focus,
[mod-each-child~="on-hover-border-red-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-red-300"] > [mod-child]:focus{
	border-color: #e57373;
}
[mod-border~="red-400"],
[mod-each-child~="border-red-400"] > [mod-child],
[mod-border~="on-hover-red-400"]:hover,
[mod-border~="on-focus-red-400"]:focus,
[mod-each-child~="on-hover-border-red-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-red-400"] > [mod-child]:focus{
	border-color: #ef5350;
}
[mod-border~="red-500"],
[mod-each-child~="border-red-500"] > [mod-child],
[mod-border~="on-hover-red-500"]:hover,
[mod-border~="on-focus-red-500"]:focus,
[mod-each-child~="on-hover-border-red-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-red-500"] > [mod-child]:focus{
	border-color: #f44336;
}
[mod-border~="red-600"],
[mod-each-child~="border-red-600"] > [mod-child],
[mod-border~="on-hover-red-600"]:hover,
[mod-border~="on-focus-red-600"]:focus,
[mod-each-child~="on-hover-border-red-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-red-600"] > [mod-child]:focus{
	border-color: #e53935;
}
[mod-border~="red-700"],
[mod-each-child~="border-red-700"] > [mod-child],
[mod-border~="on-hover-red-700"]:hover,
[mod-border~="on-focus-red-700"]:focus,
[mod-each-child~="on-hover-border-red-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-red-700"] > [mod-child]:focus{
	border-color: #d32f2f;
}
[mod-border~="red-800"],
[mod-each-child~="border-red-800"] > [mod-child],
[mod-border~="on-hover-red-800"]:hover,
[mod-border~="on-focus-red-800"]:focus,
[mod-each-child~="on-hover-border-red-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-red-800"] > [mod-child]:focus{
	border-color: #c62828;
}
[mod-border~="red-900"],
[mod-each-child~="border-red-900"] > [mod-child],
[mod-border~="on-hover-red-900"]:hover,
[mod-border~="on-focus-red-900"]:focus,
[mod-each-child~="on-hover-border-red-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-red-900"] > [mod-child]:focus{
	border-color: #b71c1c;
}
[mod-border~="red-a100"],
[mod-each-child~="border-red-a100"] > [mod-child],
[mod-border~="on-hover-red-a100"]:hover,
[mod-border~="on-focus-red-a100"]:focus,
[mod-each-child~="on-hover-border-red-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-red-a100"] > [mod-child]:focus{
	border-color: #ff8a80;
}
[mod-border~="red-a200"],
[mod-each-child~="border-red-a200"] > [mod-child],
[mod-border~="on-hover-red-a200"]:hover,
[mod-border~="on-focus-red-a200"]:focus,
[mod-each-child~="on-hover-border-red-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-red-a200"] > [mod-child]:focus{
	border-color: #ff5252;
}
[mod-border~="red-a400"],
[mod-each-child~="border-red-a400"] > [mod-child],
[mod-border~="on-hover-red-a400"]:hover,
[mod-border~="on-focus-red-a400"]:focus,
[mod-each-child~="on-hover-border-red-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-red-a400"] > [mod-child]:focus{
	border-color:  #ff1744;
}
[mod-border~="red-a700"],
[mod-each-child~="border-red-a700"] > [mod-child],
[mod-border~="on-hover-red-a700"]:hover,
[mod-border~="on-focus-red-a700"]:focus,
[mod-each-child~="on-hover-border-red-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-red-a700"] > [mod-child]:focus{
	border-color: #d50000;
}