/* 
  Color Palettes: red
  CSS by: Alan Museljic
  Credit Color Palettes Material Design Colors
*/

/* -- red fill colors -- */

.background--red{
  background: #f44336;
}
.background--red-50{
  background: #ffebee;
}
.background--red-100{
  background: #ffcdd2;
}
.background--red-200{
  background: #ef9a9a;
}
.background--red-300{
  background: #e57373;
}
.background--red-400{
  background: #ef5350;
}
.background--red-500{
  background: #f44336;
}
.background--red-600{
  background: #e53935;
}
.background--red-700{
  background: #d32f2f;
}
.background--red-800{
  background: #c62828;
}
.background--red-900{
  background: #b71c1c;
}
.background--red-a100{
  background: #ff8a80;
}
.background--red-a200{
  background: #ff5252;
}
.background--red-a400{
  background:  #ff1744;
}
.background--red-a700{
  background: #d50000;
}

/* -- red text / icon colors -- */

.color--red{
  color: #f44336;
}
.color--red-50{
  color: #ffebee;
}
.color--red-100{
  color: #ffcdd2;
}
.color--red-200{
  color: #ef9a9a;
}
.color--red-300{
  color: #e57373;
}
.color--red-400{
  color: #ef5350;
}
.color--red-500{
  color: #f44336;
}
.color--red-600{
  color: #e53935;
}
.color--red-700{
  color: #d32f2f;
}
.color--red-800{
  color: #c62828;
}
.color--red-900{
  color: #b71c1c;
}
.color--red-a100
  color: #ff8a80;
}
.color--red-a200{
  color: #ff5252;
}
.color--red-a400{
  color:  #ff1744;
}
.color--red-a700{
  color: #d50000;
}


/* -- red border colors  -- */

.border-color--red{
  border-color: #f44336;
}
.border-color--red-50{
  border-color: #ffebee;
}
.border-color--red-100{
  border-color: #ffcdd2;
}
.border-color--red-200{
  border-color: #ef9a9a;
}
.border-color--red-300{
  border-color: #e57373;
}
.border-color--red-400{
  border-color: #ef5350;
}
.border-color--red-500{
  border-color: #f44336;
}
.border-color--red-600{
  border-color: #e53935;
}
.border-color--red-700{
  border-color: #d32f2f;
}
.border-color--red-800{
  border-color: #c62828;
}
.border-color--red-900{
  border-color: #b71c1c;
}
.border-color--red-a100{
  border-color: #ff8a80;
}
.border-color--red-a200{
  border-color: #ff5252;
}
.border-color--red-a400{
  border-color:  #ff1744;
}
.border-color--red-a700{
  border-color: #d50000;
}