/* 
	Color Palettes: light-green - extended 
	CSS by: Alan Museljic
	Credit Color Palettes Material Design Colors
*/


/* -- light-green fill colors -- */

[mod-background~="light-green"],
[mod-each-child~="background-light-green"] > [mod-child],
[mod-background~="on-hover-light-green"]:hover,
[mod-background~="on-focus-light-green"]:focus,
[mod-each-child~="on-hover-background-light-green"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-light-green"] > [mod-child]:focus{
	background: #8bc34a;
}
[mod-background~="light-green-50"],
[mod-each-child~="background-light-green-50"] > [mod-child],
[mod-background~="on-hover-light-green-50"]:hover,
[mod-background~="on-focus-light-green-50"]:focus,
[mod-each-child~="on-hover-background-light-green-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-light-green-50"] > [mod-child]:focus{
	background: #f1f8e9;
}
[mod-background~="light-green-100"],
[mod-each-child~="background-light-green-100"] > [mod-child],
[mod-background~="on-hover-light-green-100"]:hover,
[mod-background~="on-focus-light-green-100"]:focus,
[mod-each-child~="on-hover-background-light-green-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-light-green-100"] > [mod-child]:focus{
	background: #dcedc8;
}
[mod-background~="light-green-200"],
[mod-each-child~="background-light-green-200"] > [mod-child],
[mod-background~="on-hover-light-green-200"]:hover,
[mod-background~="on-focus-light-green-200"]:focus,
[mod-each-child~="on-hover-background-light-green-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-light-green-200"] > [mod-child]:focus{
	background: #c5e1a5;
}
[mod-background~="light-green-300"],
[mod-each-child~="background-light-green-300"] > [mod-child],
[mod-background~="on-hover-light-green-300"]:hover,
[mod-background~="on-focus-light-green-300"]:focus,
[mod-each-child~="on-hover-background-light-green-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-light-green-300"] > [mod-child]:focus{
	background: #aed581;
}
[mod-background~="light-green-400"],
[mod-each-child~="background-light-green-400"] > [mod-child],
[mod-background~="on-hover-light-green-400"]:hover,
[mod-background~="on-focus-light-green-400"]:focus,
[mod-each-child~="on-hover-background-light-green-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-light-green-400"] > [mod-child]:focus{
	background: #9ccc65;
}
[mod-background~="light-green-500"],
[mod-each-child~="background-light-green-500"] > [mod-child],
[mod-background~="on-hover-light-green-500"]:hover,
[mod-background~="on-focus-light-green-500"]:focus,
[mod-each-child~="on-hover-background-light-green-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-light-green-500"] > [mod-child]:focus{
	background: #8bc34a;
}
[mod-background~="light-green-600"],
[mod-each-child~="background-light-green-600"] > [mod-child],
[mod-background~="on-hover-light-green-600"]:hover,
[mod-background~="on-focus-light-green-600"]:focus,
[mod-each-child~="on-hover-background-light-green-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-light-green-600"] > [mod-child]:focus{
	background: #7cb342;
}
[mod-background~="light-green-700"],
[mod-each-child~="background-light-green-700"] > [mod-child],
[mod-background~="on-hover-light-green-700"]:hover,
[mod-background~="on-focus-light-green-700"]:focus,
[mod-each-child~="on-hover-background-light-green-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-light-green-700"] > [mod-child]:focus{
	background: #689f38;
}
[mod-background~="light-green-800"],
[mod-each-child~="background-light-green-800"] > [mod-child],
[mod-background~="on-hover-light-green-800"]:hover,
[mod-background~="on-focus-light-green-800"]:focus,
[mod-each-child~="on-hover-background-light-green-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-light-green-800"] > [mod-child]:focus{
	background: #558b2f;
}
[mod-background~="light-green-900"],
[mod-each-child~="background-light-green-900"] > [mod-child],
[mod-background~="on-hover-light-green-900"]:hover,
[mod-background~="on-focus-light-green-900"]:focus,
[mod-each-child~="on-hover-background-light-green-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-light-green-900"] > [mod-child]:focus{
	background: #33691e;
}
[mod-background~="light-green-a100"],
[mod-each-child~="background-light-green-a100"] > [mod-child],
[mod-background~="on-hover-light-green-a100"]:hover,
[mod-background~="on-focus-light-green-a100"]:focus,
[mod-each-child~="on-hover-background-light-green-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-light-green-a100"] > [mod-child]:focus{
	background: #ccff90;
}
[mod-background~="light-green-a200"],
[mod-each-child~="background-light-green-a200"] > [mod-child],
[mod-background~="on-hover-light-green-a200"]:hover,
[mod-background~="on-focus-light-green-a200"]:focus,
[mod-each-child~="on-hover-background-light-green-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-light-green-a200"] > [mod-child]:focus{
	background: #b2ff59;
}
[mod-background~="light-green-a400"],
[mod-each-child~="background-light-green-a400"] > [mod-child],
[mod-background~="on-hover-light-green-a400"]:hover,
[mod-background~="on-focus-light-green-a400"]:focus,
[mod-each-child~="on-hover-background-light-green-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-light-green-a400"] > [mod-child]:focus{
	background:  #76ff03;
}
[mod-background~="light-green-a700"],
[mod-each-child~="background-light-green-a700"] > [mod-child],
[mod-background~="on-hover-light-green-a700"]:hover,
[mod-background~="on-focus-light-green-a700"]:focus,
[mod-each-child~="on-hover-background-light-green-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-light-green-a700"] > [mod-child]:focus{
	background: #64dd17;
}

/* -- light-green text colors -- */

[mod-text~="light-green"],
[mod-style~="light-green"],
[mod-each-child~="text-light-green"] > [mod-child],
[mod-text~="on-hover-light-green"]:hover,
[mod-text~="on-focus-light-green"]:focus,
[mod-each-child~="on-hover-text-light-green"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-light-green"] > [mod-child]:focus{
	color: #8bc34a;
}
[mod-text~="light-green-50"],
[mod-style~="light-green-50"],
[mod-each-child~="text-light-green-50"] > [mod-child],
[mod-text~="on-hover-light-green-50"]:hover,
[mod-text~="on-focus-light-green-50"]:focus,
[mod-each-child~="on-hover-text-light-green-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-light-green-50"] > [mod-child]:focus{
	color: #f1f8e9;
}
[mod-text~="light-green-100"],
[mod-style~="light-green-100"],
[mod-each-child~="text-light-green-100"] > [mod-child],
[mod-text~="on-hover-light-green-100"]:hover,
[mod-text~="on-focus-light-green-100"]:focus,
[mod-each-child~="on-hover-text-light-green-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-light-green-100"] > [mod-child]:focus{
	color: #dcedc8;
}
[mod-text~="light-green-200"],
[mod-style~="light-green-200"],
[mod-each-child~="text-light-green-200"] > [mod-child],
[mod-text~="on-hover-light-green-200"]:hover,
[mod-text~="on-focus-light-green-200"]:focus,
[mod-each-child~="on-hover-text-light-green-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-light-green-200"] > [mod-child]:focus{
	color: #c5e1a5;
}
[mod-text~="light-green-300"],
[mod-style~="light-green-300"],
[mod-each-child~="text-light-green-300"] > [mod-child],
[mod-text~="on-hover-light-green-300"]:hover,
[mod-text~="on-focus-light-green-300"]:focus,
[mod-each-child~="on-hover-text-light-green-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-light-green-300"] > [mod-child]:focus{
	color: #aed581;
}
[mod-text~="light-green-400"],
[mod-style~="light-green-400"],
[mod-each-child~="text-light-green-400"] > [mod-child],
[mod-text~="on-hover-light-green-400"]:hover,
[mod-text~="on-focus-light-green-400"]:focus,
[mod-each-child~="on-hover-text-light-green-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-light-green-400"] > [mod-child]:focus{
	color: #9ccc65;
}
[mod-text~="light-green-500"],
[mod-style~="light-green-500"],
[mod-each-child~="text-light-green-500"] > [mod-child],
[mod-text~="on-hover-light-green-500"]:hover,
[mod-text~="on-focus-light-green-500"]:focus,
[mod-each-child~="on-hover-text-light-green-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-light-green-500"] > [mod-child]:focus{
	color: #8bc34a;
}
[mod-text~="light-green-600"],
[mod-style~="light-green-600"],
[mod-each-child~="text-light-green-600"] > [mod-child],
[mod-text~="on-hover-light-green-600"]:hover,
[mod-text~="on-focus-light-green-600"]:focus,
[mod-each-child~="on-hover-text-light-green-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-light-green-600"] > [mod-child]:focus{
	color: #7cb342;
}
[mod-text~="light-green-700"],
[mod-style~="light-green-700"],
[mod-each-child~="text-light-green-700"] > [mod-child],
[mod-text~="on-hover-light-green-700"]:hover,
[mod-text~="on-focus-light-green-700"]:focus,
[mod-each-child~="on-hover-text-light-green-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-light-green-700"] > [mod-child]:focus{
	color: #689f38;
}
[mod-text~="light-green-800"],
[mod-style~="light-green-800"],
[mod-each-child~="text-light-green-800"] > [mod-child],
[mod-text~="on-hover-light-green-800"]:hover,
[mod-text~="on-focus-light-green-800"]:focus,
[mod-each-child~="on-hover-text-light-green-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-light-green-800"] > [mod-child]:focus{
	color: #558b2f;
}
[mod-text~="light-green-900"],
[mod-style~="light-green-900"],
[mod-each-child~="text-light-green-900"] > [mod-child],
[mod-text~="on-hover-light-green-900"]:hover,
[mod-text~="on-focus-light-green-900"]:focus,
[mod-each-child~="on-hover-text-light-green-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-light-green-900"] > [mod-child]:focus{
	color: #33691e;
}
[mod-text~="light-green-a100"],
[mod-style~="light-green-a100"],
[mod-each-child~="text-light-green-a100"] > [mod-child],
[mod-text~="on-hover-light-green-a100"]:hover,
[mod-text~="on-focus-light-green-a100"]:focus,
[mod-each-child~="on-hover-text-light-green-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-light-green-a100"] > [mod-child]:focus{
	color: #ccff90;
}
[mod-text~="light-green-a200"],
[mod-style~="light-green-a200"],
[mod-each-child~="text-light-green-a200"] > [mod-child],
[mod-text~="on-hover-light-green-a200"]:hover,
[mod-text~="on-focus-light-green-a200"]:focus,
[mod-each-child~="on-hover-text-light-green-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-light-green-a200"] > [mod-child]:focus{
	color: #b2ff59;
}
[mod-text~="light-green-a400"],
[mod-style~="light-green-a400"],
[mod-each-child~="text-light-green-a400"] > [mod-child],
[mod-text~="on-hover-light-green-a400"]:hover,
[mod-text~="on-focus-light-green-a400"]:focus,
[mod-each-child~="on-hover-text-light-green-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-light-green-a400"] > [mod-child]:focus{
	color:  #76ff03;
}
[mod-text~="light-green-a700"],
[mod-style~="light-green-a700"],
[mod-each-child~="text-light-green-a700"] > [mod-child],
[mod-text~="on-hover-light-green-a700"]:hover,
[mod-text~="on-focus-light-green-a700"]:focus,
[mod-each-child~="on-hover-text-light-green-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-light-green-a700"] > [mod-child]:focus{
	color: #64dd17;
}

/* -- light-green border colors -- */

[mod-border~="light-green"],
[mod-each-child~="border-light-green"] > [mod-child],
[mod-border~="on-hover-light-green"]:hover,
[mod-border~="on-focus-light-green"]:focus,
[mod-each-child~="on-hover-border-light-green"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-light-green"] > [mod-child]:focus{
	border-color: #8bc34a;
}
[mod-border~="light-green-50"],
[mod-each-child~="border-light-green-50"] > [mod-child],
[mod-border~="on-hover-light-green-50"]:hover,
[mod-border~="on-focus-light-green-50"]:focus,
[mod-each-child~="on-hover-border-light-green-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-light-green-50"] > [mod-child]:focus{
	border-color: #f1f8e9;
}
[mod-border~="light-green-100"],
[mod-each-child~="border-light-green-100"] > [mod-child],
[mod-border~="on-hover-light-green-100"]:hover,
[mod-border~="on-focus-light-green-100"]:focus,
[mod-each-child~="on-hover-border-light-green-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-light-green-100"] > [mod-child]:focus{
	border-color: #dcedc8;
}
[mod-border~="light-green-200"],
[mod-each-child~="border-light-green-200"] > [mod-child],
[mod-border~="on-hover-light-green-200"]:hover,
[mod-border~="on-focus-light-green-200"]:focus,
[mod-each-child~="on-hover-border-light-green-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-light-green-200"] > [mod-child]:focus{
	border-color: #c5e1a5;
}
[mod-border~="light-green-300"],
[mod-each-child~="border-light-green-300"] > [mod-child],
[mod-border~="on-hover-light-green-300"]:hover,
[mod-border~="on-focus-light-green-300"]:focus,
[mod-each-child~="on-hover-border-light-green-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-light-green-300"] > [mod-child]:focus{
	border-color: #aed581;
}
[mod-border~="light-green-400"],
[mod-each-child~="border-light-green-400"] > [mod-child],
[mod-border~="on-hover-light-green-400"]:hover,
[mod-border~="on-focus-light-green-400"]:focus,
[mod-each-child~="on-hover-border-light-green-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-light-green-400"] > [mod-child]:focus{
	border-color: #9ccc65;
}
[mod-border~="light-green-500"],
[mod-each-child~="border-light-green-500"] > [mod-child],
[mod-border~="on-hover-light-green-500"]:hover,
[mod-border~="on-focus-light-green-500"]:focus,
[mod-each-child~="on-hover-border-light-green-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-light-green-500"] > [mod-child]:focus{
	border-color: #8bc34a;
}
[mod-border~="light-green-600"],
[mod-each-child~="border-light-green-600"] > [mod-child],
[mod-border~="on-hover-light-green-600"]:hover,
[mod-border~="on-focus-light-green-600"]:focus,
[mod-each-child~="on-hover-border-light-green-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-light-green-600"] > [mod-child]:focus{
	border-color: #7cb342;
}
[mod-border~="light-green-700"],
[mod-each-child~="border-light-green-700"] > [mod-child],
[mod-border~="on-hover-light-green-700"]:hover,
[mod-border~="on-focus-light-green-700"]:focus,
[mod-each-child~="on-hover-border-light-green-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-light-green-700"] > [mod-child]:focus{
	border-color: #689f38;
}
[mod-border~="light-green-800"],
[mod-each-child~="border-light-green-800"] > [mod-child],
[mod-border~="on-hover-light-green-800"]:hover,
[mod-border~="on-focus-light-green-800"]:focus,
[mod-each-child~="on-hover-border-light-green-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-light-green-800"] > [mod-child]:focus{
	border-color: #558b2f;
}
[mod-border~="light-green-900"],
[mod-each-child~="border-light-green-900"] > [mod-child],
[mod-border~="on-hover-light-green-900"]:hover,
[mod-border~="on-focus-light-green-900"]:focus,
[mod-each-child~="on-hover-border-light-green-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-light-green-900"] > [mod-child]:focus{
	border-color: #33691e;
}
[mod-border~="light-green-a100"],
[mod-each-child~="border-light-green-a100"] > [mod-child],
[mod-border~="on-hover-light-green-a100"]:hover,
[mod-border~="on-focus-light-green-a100"]:focus,
[mod-each-child~="on-hover-border-light-green-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-light-green-a100"] > [mod-child]:focus{
	border-color: #ccff90;
}
[mod-border~="light-green-a200"],
[mod-each-child~="border-light-green-a200"] > [mod-child],
[mod-border~="on-hover-light-green-a200"]:hover,
[mod-border~="on-focus-light-green-a200"]:focus,
[mod-each-child~="on-hover-border-light-green-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-light-green-a200"] > [mod-child]:focus{
	border-color: #b2ff59;
}
[mod-border~="light-green-a400"],
[mod-each-child~="border-light-green-a400"] > [mod-child],
[mod-border~="on-hover-light-green-a400"]:hover,
[mod-border~="on-focus-light-green-a400"]:focus,
[mod-each-child~="on-hover-border-light-green-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-light-green-a400"] > [mod-child]:focus{
	border-color:  #76ff03;
}
[mod-border~="light-green-a700"],
[mod-each-child~="border-light-green-a700"] > [mod-child],
[mod-border~="on-hover-light-green-a700"]:hover,
[mod-border~="on-focus-light-green-a700"]:focus,
[mod-each-child~="on-hover-border-light-green-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-light-green-a700"] > [mod-child]:focus{
	border-color: #64dd17;
}