/* 
  Color Palettes: light-green
  CSS by: Alan Museljic
  Credit Color Palettes Material Design Colors
*/

/* -- light-green fill colors -- */

.background--light-green{
  background: #8bc34a;
}
.background--light-green-50{
  background: #f1f8e9;
}
.background--light-green-100{
  background: #dcedc8;
}
.background--light-green-200{
  background: #c5e1a5;
}
.background--light-green-300{
  background: #aed581;
}
.background--light-green-400{
  background: #9ccc65;
}
.background--light-green-500{
  background: #8bc34a;
}
.background--light-green-600{
  background: #7cb342;
}
.background--light-green-700{
  background: #689f38;
}
.background--light-green-800{
  background: #558b2f;
}
.background--light-green-900{
  background: #33691e;
}
.background--light-green-a100{
  background: #ccff90;
}
.background--light-green-a200{
  background: #b2ff59;
}
.background--light-green-a400{
  background:  #76ff03;
}
.background--light-green-a700{
  background: #64dd17;
}

/* -- light-green text / icon colors -- */

.color--light-green{
  color: #8bc34a;
}
.color--light-green-50{
  color: #f1f8e9;
}
.color--light-green-100{
  color: #dcedc8;
}
.color--light-green-200{
  color: #c5e1a5;
}
.color--light-green-300{
  color: #aed581;
}
.color--light-green-400{
  color: #9ccc65;
}
.color--light-green-500{
  color: #8bc34a;
}
.color--light-green-600{
  color: #7cb342;
}
.color--light-green-700{
  color: #689f38;
}
.color--light-green-800{
  color: #558b2f;
}
.color--light-green-900{
  color: #33691e;
}
.color--light-green-a100{
  color: #ccff90;
}
.color--light-green-a200{
  color: #b2ff59;
}
.color--light-green-a400{
  color:  #76ff03;
}
.color--light-green-a700{
  color: #64dd17;
}


/* -- light-green border colors -- */

.border-color--light-green{
  border-color: #8bc34a;
}
.border-color--light-green-50{
  border-color: #f1f8e9;
}
.border-color--light-green-100{
  border-color: #dcedc8;
}
.border-color--light-green-200{
  border-color: #c5e1a5;
}
.border-color--light-green-300{
  border-color: #aed581;
}
.border-color--light-green-400{
  border-color: #9ccc65;
}
.border-color--light-green-500{
  border-color: #8bc34a;
}
.border-color--light-green-600{
  border-color: #7cb342;
}
.border-color--light-green-700{
  border-color: #689f38;
}
.border-color--light-green-800{
  border-color: #558b2f;
}
.border-color--light-green-900{
  border-color: #33691e;
}
.border-color--light-green-a100{
  border-color: #ccff90;
}
.border-color--light-green-a200{
  border-color: #b2ff59;
}
.border-color--light-green-a400{
  border-color:  #76ff03;
}
.border-color--light-green-a700{
  border-color: #64dd17;
}