/* 
  Color Palettes: green
  CSS by: Alan Museljic
  Credit Color Palettes Material Design Colors
*/

/* -- green fill colors -- */

.background--green{
  background: #4caf50;
}
.background--green-50{
  background: #e8f5e9;
}
.background--green-100{
  background: #c8e6c9;
}
.background--green-200{
  background: #a5d6a7;
}
.background--green-300{
  background: #81c784;
}
.background--green-400{
  background: #66bb6a;
}
.background--green-500{
  background: #4caf50;
}
.background--green-600{
  background: #43a047;
}
.background--green-700{
  background: #388e3c;
}
.background--green-800{
  background: #2e7d32;
}
.background--green-900{
  background: #1b5e20;
}
.background--green-a100{
  background: #b9f6ca;
}
.background--green-a200{
  background: #69f0ae;
}
.background--green-a400{
  background:  #00e676;
}
.background--green-a700{
  background: #00c853;
}

/* -- green text / icon colors -- */

.color--green{
  color: #4caf50;
}
.color--green-50{
  color: #e8f5e9;
}
.color--green-100{
  color: #c8e6c9;
}
.color--green-200{
  color: #a5d6a7;
}
.color--green-300{
  color: #81c784;
}
.color--green-400{
  color: #66bb6a;
}
.color--green-500{
  color: #4caf50;
}
.color--green-600{
  color: #43a047;
}
.color--green-700{
  color: #388e3c;
}
.color--green-800{
  color: #2e7d32;
}
.color--green-900{
  color: #1b5e20;
}
.color--green-a100{
  color: #b9f6ca;
}
.color--green-a200{
  color: #69f0ae;
}
.color--green-a400{
  color:  #00e676;
}
.color--green-a700{
  color: #00c853;
}


/* -- green border colors -- */

.border-color--green{
  border-color: #4caf50;
}
.border-color--green-50{
  border-color: #e8f5e9;
}
.border-color--green-100{
  border-color: #c8e6c9;
}
.border-color--green-200{
  border-color: #a5d6a7;
}
.border-color--green-300{
  border-color: #81c784;
}
.border-color--green-400{
  border-color: #66bb6a;
}
.border-color--green-500{
  border-color: #4caf50;
}
.border-color--green-600{
  border-color: #43a047;
}
.border-color--green-700{
  border-color: #388e3c;
}
.border-color--green-800{
  border-color: #2e7d32;
}
.border-color--green-900{
  border-color: #1b5e20;
}
.border-color--green-a100{
  border-color: #a7ffeb;
}
.border-color--green-a200{
  border-color: #b9f6ca;
}
.border-color--green-a400{
  border-color:  #00e676;
}
.border-color--green-a700{
  border-color: #00c853;
}