/* 
	Color Palettes: blue - extended 
	CSS by: Alan Museljic
	Credit Color Palettes Material Design Colors
*/


/* -- blue fill colors -- */

[mod-background~="blue"],
[mod-each-child~="background-blue"] > [mod-child],
[mod-background~="on-hover-blue"]:hover,
[mod-background~="on-focus-blue"]:focus,
[mod-each-child~="on-hover-background-blue"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue"] > [mod-child]:focus{
	background: #2196f3;
}
[mod-background~="blue-50"],
[mod-each-child~="background-blue-50"] > [mod-child],
[mod-background~="on-hover-blue-50"]:hover,
[mod-background~="on-focus-blue-50"]:focus,
[mod-each-child~="on-hover-background-blue-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-50"] > [mod-child]:focus{
	background: #2196f3;
}
[mod-background~="blue-100"],
[mod-each-child~="background-blue-100"] > [mod-child],
[mod-background~="on-hover-blue-100"]:hover,
[mod-background~="on-focus-blue-100"]:focus,
[mod-each-child~="on-hover-background-blue-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-100"] > [mod-child]:focus{
	background: #bbdefb;
}
[mod-background~="blue-200"],
[mod-each-child~="background-blue-200"] > [mod-child],
[mod-background~="on-hover-blue-200"]:hover,
[mod-background~="on-focus-blue-200"]:focus,
[mod-each-child~="on-hover-background-blue-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-200"] > [mod-child]:focus{
	background: #90caf9;
}
[mod-background~="blue-300"],
[mod-each-child~="background-blue-300"] > [mod-child],
[mod-background~="on-hover-blue-300"]:hover,
[mod-background~="on-focus-blue-300"]:focus,
[mod-each-child~="on-hover-background-blue-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-300"] > [mod-child]:focus{
	background: #64b5f6;
}
[mod-background~="blue-400"],
[mod-each-child~="background-blue-400"] > [mod-child],
[mod-background~="on-hover-blue-400"]:hover,
[mod-background~="on-focus-blue-400"]:focus,
[mod-each-child~="on-hover-background-blue-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-400"] > [mod-child]:focus{
	background: #42a5f5;
}
[mod-background~="blue-500"],
[mod-each-child~="background-blue-500"] > [mod-child],
[mod-background~="on-hover-blue-500"]:hover,
[mod-background~="on-focus-blue-500"]:focus,
[mod-each-child~="on-hover-background-blue-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-500"] > [mod-child]:focus{
	background: #2196f3;
}
[mod-background~="blue-600"],
[mod-each-child~="background-blue-600"] > [mod-child],
[mod-background~="on-hover-blue-600"]:hover,
[mod-background~="on-focus-blue-600"]:focus,
[mod-each-child~="on-hover-background-blue-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-600"] > [mod-child]:focus{
	background: #1e88e5;
}
[mod-background~="blue-700"],
[mod-each-child~="background-blue-700"] > [mod-child],
[mod-background~="on-hover-blue-700"]:hover,
[mod-background~="on-focus-blue-700"]:focus,
[mod-each-child~="on-hover-background-blue-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-700"] > [mod-child]:focus{
	background: #1976d2;
}
[mod-background~="blue-800"],
[mod-each-child~="background-blue-800"] > [mod-child],
[mod-background~="on-hover-blue-800"]:hover,
[mod-background~="on-focus-blue-800"]:focus,
[mod-each-child~="on-hover-background-blue-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-800"] > [mod-child]:focus{
	background: #1565c0;
}
[mod-background~="blue-900"],
[mod-each-child~="background-blue-900"] > [mod-child],
[mod-background~="on-hover-blue-900"]:hover,
[mod-background~="on-focus-blue-900"]:focus,
[mod-each-child~="on-hover-background-blue-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-900"] > [mod-child]:focus{
	background: #0d47a1;
}
[mod-background~="blue-a100"],
[mod-each-child~="background-blue-a100"] > [mod-child],
[mod-background~="on-hover-blue-a100"]:hover,
[mod-background~="on-focus-blue-a100"]:focus,
[mod-each-child~="on-hover-background-blue-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-a100"] > [mod-child]:focus{
	background: #82b1ff;
}
[mod-background~="blue-a200"],
[mod-each-child~="background-blue-a200"] > [mod-child],
[mod-background~="on-hover-blue-a200"]:hover,
[mod-background~="on-focus-blue-a200"]:focus,
[mod-each-child~="on-hover-background-blue-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-a200"] > [mod-child]:focus{
	background: #448aff;
}
[mod-background~="blue-a400"],
[mod-each-child~="background-blue-a400"] > [mod-child],
[mod-background~="on-hover-blue-a400"]:hover,
[mod-background~="on-focus-blue-a400"]:focus,
[mod-each-child~="on-hover-background-blue-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-a400"] > [mod-child]:focus{
	background:  #2979ff;
}
[mod-background~="blue-a700"],
[mod-each-child~="background-blue-a700"] > [mod-child],
[mod-background~="on-hover-blue-a700"]:hover,
[mod-background~="on-focus-blue-a700"]:focus,
[mod-each-child~="on-hover-background-blue-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-blue-a700"] > [mod-child]:focus{
	background: #2962ff;
}

/* -- blue text colors -- */

[mod-text~="blue"],
[mod-style~="blue"],
[mod-each-child~="text-blue"] > [mod-child],
[mod-text~="on-hover-blue"]:hover,
[mod-text~="on-focus-blue"]:focus,
[mod-each-child~="on-hover-text-blue"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue"] > [mod-child]:focus{
	color: #2196f3;
}
[mod-text~="blue-50"],
[mod-style~="blue-50"],
[mod-each-child~="text-blue-50"] > [mod-child],
[mod-text~="on-hover-blue-50"]:hover,
[mod-text~="on-focus-blue-50"]:focus,
[mod-each-child~="on-hover-text-blue-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-50"] > [mod-child]:focus{
	color: #e3f2fd;
}
[mod-text~="blue-100"],
[mod-style~="blue-100"],
[mod-each-child~="text-blue-100"] > [mod-child],
[mod-text~="on-hover-blue-100"]:hover,
[mod-text~="on-focus-blue-100"]:focus,
[mod-each-child~="on-hover-text-blue-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-100"] > [mod-child]:focus{
	color: #bbdefb;
}
[mod-text~="blue-200"],
[mod-style~="blue-200"],
[mod-each-child~="text-blue-200"] > [mod-child],
[mod-text~="on-hover-blue-200"]:hover,
[mod-text~="on-focus-blue-200"]:focus,
[mod-each-child~="on-hover-text-blue-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-200"] > [mod-child]:focus{
	color: #90caf9;
}
[mod-text~="blue-300"],
[mod-style~="blue-300"],
[mod-each-child~="text-blue-300"] > [mod-child],
[mod-text~="on-hover-blue-300"]:hover,
[mod-text~="on-focus-blue-300"]:focus,
[mod-each-child~="on-hover-text-blue-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-300"] > [mod-child]:focus{
	color: #64b5f6;
}
[mod-text~="blue-400"],
[mod-style~="blue-400"],
[mod-each-child~="text-blue-400"] > [mod-child],
[mod-text~="on-hover-blue-400"]:hover,
[mod-text~="on-focus-blue-400"]:focus,
[mod-each-child~="on-hover-text-blue-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-400"] > [mod-child]:focus{
	color: #42a5f5;
}
[mod-text~="blue-500"],
[mod-style~="blue-500"],
[mod-each-child~="text-blue-500"] > [mod-child],
[mod-text~="on-hover-blue-500"]:hover,
[mod-text~="on-focus-blue-500"]:focus,
[mod-each-child~="on-hover-text-blue-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-500"] > [mod-child]:focus{
	color: #2196f3;
}
[mod-text~="blue-600"],
[mod-style~="blue-600"],
[mod-each-child~="text-blue-600"] > [mod-child],
[mod-text~="on-hover-blue-600"]:hover,
[mod-text~="on-focus-blue-600"]:focus,
[mod-each-child~="on-hover-text-blue-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-600"] > [mod-child]:focus{
	color: #1e88e5;
}
[mod-text~="blue-700"],
[mod-style~="blue-700"],
[mod-each-child~="text-blue-700"] > [mod-child],
[mod-text~="on-hover-blue-700"]:hover,
[mod-text~="on-focus-blue-700"]:focus,
[mod-each-child~="on-hover-text-blue-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-700"] > [mod-child]:focus{
	color: #1976d2;
}
[mod-text~="blue-800"],
[mod-style~="blue-800"],
[mod-each-child~="text-blue-800"] > [mod-child],
[mod-text~="on-hover-blue-800"]:hover,
[mod-text~="on-focus-blue-800"]:focus,
[mod-each-child~="on-hover-text-blue-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-800"] > [mod-child]:focus{
	color: #1565c0;
}
[mod-text~="blue-900"],
[mod-style~="blue-900"],
[mod-each-child~="text-blue-900"] > [mod-child],
[mod-text~="on-hover-blue-900"]:hover,
[mod-text~="on-focus-blue-900"]:focus,
[mod-each-child~="on-hover-text-blue-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-900"] > [mod-child]:focus{
	color: #0d47a1;
}
[mod-text~="blue-a100"],
[mod-style~="blue-a100"],
[mod-each-child~="text-blue-a100"] > [mod-child],
[mod-text~="on-hover-blue-a100"]:hover,
[mod-text~="on-focus-blue-a100"]:focus,
[mod-each-child~="on-hover-text-blue-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-a100"] > [mod-child]:focus{
	color: #82b1ff;
}
[mod-text~="blue-a200"],
[mod-style~="blue-a200"],
[mod-each-child~="text-blue-a200"] > [mod-child],
[mod-text~="on-hover-blue-a200"]:hover,
[mod-text~="on-focus-blue-a200"]:focus,
[mod-each-child~="on-hover-text-blue-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-a200"] > [mod-child]:focus{
	color: #448aff;
}
[mod-text~="blue-a400"],
[mod-style~="blue-a400"],
[mod-each-child~="text-blue-a400"] > [mod-child],
[mod-text~="on-hover-blue-a400"]:hover,
[mod-text~="on-focus-blue-a400"]:focus,
[mod-each-child~="on-hover-text-blue-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-a400"] > [mod-child]:focus{
	color:  #2979ff;
}
[mod-text~="blue-a700"],
[mod-style~="blue-a700"],
[mod-each-child~="text-blue-a700"] > [mod-child],
[mod-text~="on-hover-blue-a700"]:hover,
[mod-text~="on-focus-blue-a700"]:focus,
[mod-each-child~="on-hover-text-blue-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-blue-a700"] > [mod-child]:focus{
	color: #2962ff;
}

/* -- blue border colors -- */

[mod-border~="blue"],
[mod-each-child~="border-blue"] > [mod-child],
[mod-border~="on-hover-blue"]:hover,
[mod-border~="on-focus-blue"]:focus,
[mod-each-child~="on-hover-border-blue"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue"] > [mod-child]:focus{
	border-color: #2196f3;
}
[mod-border~="blue-50"],
[mod-each-child~="border-blue-50"] > [mod-child],
[mod-border~="on-hover-blue-50"]:hover,
[mod-border~="on-focus-blue-50"]:focus,
[mod-each-child~="on-hover-border-blue-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-50"] > [mod-child]:focus{
	border-color: #e3f2fd;
}
[mod-border~="blue-100"],
[mod-each-child~="border-blue-100"] > [mod-child],
[mod-border~="on-hover-blue-100"]:hover,
[mod-border~="on-focus-blue-100"]:focus,
[mod-each-child~="on-hover-border-blue-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-100"] > [mod-child]:focus{
	border-color: #bbdefb;
}
[mod-border~="blue-200"],
[mod-each-child~="border-blue-200"] > [mod-child],
[mod-border~="on-hover-blue-200"]:hover,
[mod-border~="on-focus-blue-200"]:focus,
[mod-each-child~="on-hover-border-blue-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-200"] > [mod-child]:focus{
	border-color: #90caf9;
}
[mod-border~="blue-300"],
[mod-each-child~="border-blue-300"] > [mod-child],
[mod-border~="on-hover-blue-300"]:hover,
[mod-border~="on-focus-blue-300"]:focus,
[mod-each-child~="on-hover-border-blue-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-300"] > [mod-child]:focus{
	border-color: #64b5f6;
}
[mod-border~="blue-400"],
[mod-each-child~="border-blue-400"] > [mod-child],
[mod-border~="on-hover-blue-400"]:hover,
[mod-border~="on-focus-blue-400"]:focus,
[mod-each-child~="on-hover-border-blue-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-400"] > [mod-child]:focus{
	border-color: #42a5f5;
}
[mod-border~="blue-500"],
[mod-each-child~="border-blue-500"] > [mod-child],
[mod-border~="on-hover-blue-500"]:hover,
[mod-border~="on-focus-blue-500"]:focus,
[mod-each-child~="on-hover-border-blue-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-500"] > [mod-child]:focus{
	border-color: #2196f3;
}
[mod-border~="blue-600"],
[mod-each-child~="border-blue-600"] > [mod-child],
[mod-border~="on-hover-blue-600"]:hover,
[mod-border~="on-focus-blue-600"]:focus,
[mod-each-child~="on-hover-border-blue-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-600"] > [mod-child]:focus{
	border-color: #1976d2;
}
[mod-border~="blue-700"],
[mod-each-child~="border-blue-700"] > [mod-child],
[mod-border~="on-hover-blue-700"]:hover,
[mod-border~="on-focus-blue-700"]:focus,
[mod-each-child~="on-hover-border-blue-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-700"] > [mod-child]:focus{
	border-color: #ffa000;
}
[mod-border~="blue-800"],
[mod-each-child~="border-blue-800"] > [mod-child],
[mod-border~="on-hover-blue-800"]:hover,
[mod-border~="on-focus-blue-800"]:focus,
[mod-each-child~="on-hover-border-blue-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-800"] > [mod-child]:focus{
	border-color: #1565c0;
}
[mod-border~="blue-900"],
[mod-each-child~="border-blue-900"] > [mod-child],
[mod-border~="on-hover-blue-900"]:hover,
[mod-border~="on-focus-blue-900"]:focus,
[mod-each-child~="on-hover-border-blue-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-900"] > [mod-child]:focus{
	border-color: #0d47a1;
}
[mod-border~="blue-a100"],
[mod-each-child~="border-blue-a100"] > [mod-child],
[mod-border~="on-hover-blue-a100"]:hover,
[mod-border~="on-focus-blue-a100"]:focus,
[mod-each-child~="on-hover-border-blue-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-a100"] > [mod-child]:focus{
	border-color: #82b1ff;
}
[mod-border~="blue-a200"],
[mod-each-child~="border-blue-a200"] > [mod-child],
[mod-border~="on-hover-blue-a200"]:hover,
[mod-border~="on-focus-blue-a200"]:focus,
[mod-each-child~="on-hover-border-blue-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-a200"] > [mod-child]:focus{
	border-color: #448aff;
}
[mod-border~="blue-a400"],
[mod-each-child~="border-blue-a400"] > [mod-child],
[mod-border~="on-hover-blue-a400"]:hover,
[mod-border~="on-focus-blue-a400"]:focus,
[mod-each-child~="on-hover-border-blue-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-a400"] > [mod-child]:focus{
	border-color:  #2979ff;
}
[mod-border~="blue-a700"],
[mod-each-child~="border-blue-a700"] > [mod-child],
[mod-border~="on-hover-blue-a700"]:hover,
[mod-border~="on-focus-blue-a700"]:focus,
[mod-each-child~="on-hover-border-blue-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-blue-a700"] > [mod-child]:focus{
	border-color: #2962ff;
}