/* 
  Color Palettes: orange - extended 
  CSS by: Alan Museljic
  Credit Color Palettes Material Design Colors
*/


/* -- orange fill colors -- */

[mod-background~="orange"],
[mod-each-child~="background-orange"] > [mod-child],
[mod-background~="on-hover-orange"]:hover,
[mod-background~="on-focus-orange"]:focus,
[mod-each-child~="on-hover-background-orange"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-orange"] > [mod-child]:focus{
  background: #ff9800;
}
[mod-background~="orange-50"],
[mod-each-child~="background-orange-50"] > [mod-child],
[mod-background~="on-hover-orange-50"]:hover,
[mod-background~="on-focus-orange-50"]:focus,
[mod-each-child~="on-hover-background-orange-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-orange-50"] > [mod-child]:focus{
  background: #fff3e0;
}
[mod-background~="orange-100"],
[mod-each-child~="background-orange-100"] > [mod-child],
[mod-background~="on-hover-orange-100"]:hover,
[mod-background~="on-focus-orange-100"]:focus,
[mod-each-child~="on-hover-background-orange-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-orange-100"] > [mod-child]:focus{
  background: #ffe0b2;
}
[mod-background~="orange-200"],
[mod-each-child~="background-orange-200"] > [mod-child],
[mod-background~="on-hover-orange-200"]:hover,
[mod-background~="on-focus-orange-200"]:focus,
[mod-each-child~="on-hover-background-orange-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-orange-200"] > [mod-child]:focus{
  background: #ffcc80;
}
[mod-background~="orange-300"],
[mod-each-child~="background-orange-300"] > [mod-child],
[mod-background~="on-hover-orange-300"]:hover,
[mod-background~="on-focus-orange-300"]:focus,
[mod-each-child~="on-hover-background-orange-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-orange-300"] > [mod-child]:focus{
  background: #ffb74d;
}
[mod-background~="orange-400"],
[mod-each-child~="background-orange-400"] > [mod-child],
[mod-background~="on-hover-orange-400"]:hover,
[mod-background~="on-focus-orange-400"]:focus,
[mod-each-child~="on-hover-background-orange-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-orange-400"] > [mod-child]:focus{
  background: #ffa726;
}
[mod-background~="orange-500"],
[mod-each-child~="background-orange-500"] > [mod-child],
[mod-background~="on-hover-orange-500"]:hover,
[mod-background~="on-focus-orange-500"]:focus,
[mod-each-child~="on-hover-background-orange-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-orange-500"] > [mod-child]:focus{
  background: #ff9800;
}
[mod-background~="orange-600"],
[mod-each-child~="background-orange-600"] > [mod-child],
[mod-background~="on-hover-orange-600"]:hover,
[mod-background~="on-focus-orange-600"]:focus,
[mod-each-child~="on-hover-background-orange-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-orange-600"] > [mod-child]:focus{
  background: #fb8c00;
}
[mod-background~="orange-700"],
[mod-each-child~="background-orange-700"] > [mod-child],
[mod-background~="on-hover-orange-700"]:hover,
[mod-background~="on-focus-orange-700"]:focus,
[mod-each-child~="on-hover-background-orange-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-orange-700"] > [mod-child]:focus{
  background: #f57c00;
}
[mod-background~="orange-800"],
[mod-each-child~="background-orange-800"] > [mod-child],
[mod-background~="on-hover-orange-800"]:hover,
[mod-background~="on-focus-orange-800"]:focus,
[mod-each-child~="on-hover-background-orange-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-orange-800"] > [mod-child]:focus{
  background: #ef6c00;
}
[mod-background~="orange-900"],
[mod-each-child~="background-orange-900"] > [mod-child],
[mod-background~="on-hover-orange-900"]:hover,
[mod-background~="on-focus-orange-900"]:focus,
[mod-each-child~="on-hover-background-orange-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-orange-900"] > [mod-child]:focus{
  background: #e65100;
}
[mod-background~="orange-a100"],
[mod-each-child~="background-orange-a100"] > [mod-child],
[mod-background~="on-hover-orange-a100"]:hover,
[mod-background~="on-focus-orange-a100"]:focus,
[mod-each-child~="on-hover-background-orange-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-orange-a100"] > [mod-child]:focus{
  background: #ffd180;
}
[mod-background~="orange-a200"],
[mod-each-child~="background-orange-a200"] > [mod-child],
[mod-background~="on-hover-orange-a200"]:hover,
[mod-background~="on-focus-orange-a200"]:focus,
[mod-each-child~="on-hover-background-orange-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-orange-a200"] > [mod-child]:focus{
  background: #ffab40;
}
[mod-background~="orange-a400"],
[mod-each-child~="background-orange-a400"] > [mod-child],
[mod-background~="on-hover-orange-a400"]:hover,
[mod-background~="on-focus-orange-a400"]:focus,
[mod-each-child~="on-hover-background-orange-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-orange-a400"] > [mod-child]:focus{
  background:  #ff9100;
}
[mod-background~="orange-a700"],
[mod-each-child~="background-orange-a700"] > [mod-child],
[mod-background~="on-hover-orange-a700"]:hover,
[mod-background~="on-focus-orange-a700"]:focus,
[mod-each-child~="on-hover-background-orange-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-orange-a700"] > [mod-child]:focus{
  background: #ff6d00;
}

/* -- orange text colors -- */

[mod-text~="orange"],
[mod-style~="orange"],
[mod-each-child~="text-orange"] > [mod-child],
[mod-text~="on-hover-orange"]:hover,
[mod-text~="on-focus-orange"]:focus,
[mod-each-child~="on-hover-text-orange"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-orange"] > [mod-child]:focus{
  color: #ff9800;
}
[mod-text~="orange-50"],
[mod-style~="orange-50"],
[mod-each-child~="text-orange-50"] > [mod-child],
[mod-text~="on-hover-orange-50"]:hover,
[mod-text~="on-focus-orange-50"]:focus,
[mod-each-child~="on-hover-text-orange-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-orange-50"] > [mod-child]:focus{
  color: #fff3e0;
}
[mod-text~="orange-100"],
[mod-style~="orange-100"],
[mod-each-child~="text-orange-100"] > [mod-child],
[mod-text~="on-hover-orange-100"]:hover,
[mod-text~="on-focus-orange-100"]:focus,
[mod-each-child~="on-hover-text-orange-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-orange-100"] > [mod-child]:focus{
  color: #ffe0b2;
}
[mod-text~="orange-200"],
[mod-style~="orange-200"],
[mod-each-child~="text-orange-200"] > [mod-child],
[mod-text~="on-hover-orange-200"]:hover,
[mod-text~="on-focus-orange-200"]:focus,
[mod-each-child~="on-hover-text-orange-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-orange-200"] > [mod-child]:focus{
  color: #ffcc80;
}
[mod-text~="orange-300"],
[mod-style~="orange-300"],
[mod-each-child~="text-orange-300"] > [mod-child],
[mod-text~="on-hover-orange-300"]:hover,
[mod-text~="on-focus-orange-300"]:focus,
[mod-each-child~="on-hover-text-orange-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-orange-300"] > [mod-child]:focus{
  color: #ffb74d;
}
[mod-text~="orange-400"],
[mod-style~="orange-400"],
[mod-each-child~="text-orange-400"] > [mod-child],
[mod-text~="on-hover-orange-400"]:hover,
[mod-text~="on-focus-orange-400"]:focus,
[mod-each-child~="on-hover-text-orange-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-orange-400"] > [mod-child]:focus{
  color: #ffa726;
}
[mod-text~="orange-500"],
[mod-style~="orange-500"],
[mod-each-child~="text-orange-500"] > [mod-child],
[mod-text~="on-hover-orange-500"]:hover,
[mod-text~="on-focus-orange-500"]:focus,
[mod-each-child~="on-hover-text-orange-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-orange-500"] > [mod-child]:focus{
  color: #ff9800;
}
[mod-text~="orange-600"],
[mod-style~="orange-600"],
[mod-each-child~="text-orange-600"] > [mod-child],
[mod-text~="on-hover-orange-600"]:hover,
[mod-text~="on-focus-orange-600"]:focus,
[mod-each-child~="on-hover-text-orange-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-orange-600"] > [mod-child]:focus{
  color: #fb8c00;
}
[mod-text~="orange-700"],
[mod-style~="orange-700"],
[mod-each-child~="text-orange-700"] > [mod-child],
[mod-text~="on-hover-orange-700"]:hover,
[mod-text~="on-focus-orange-700"]:focus,
[mod-each-child~="on-hover-text-orange-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-orange-700"] > [mod-child]:focus{
  color: #f57c00;
}
[mod-text~="orange-800"],
[mod-style~="orange-800"],
[mod-each-child~="text-orange-800"] > [mod-child],
[mod-text~="on-hover-orange-800"]:hover,
[mod-text~="on-focus-orange-800"]:focus,
[mod-each-child~="on-hover-text-orange-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-orange-800"] > [mod-child]:focus{
  color: #ef6c00;
}
[mod-text~="orange-900"],
[mod-style~="orange-900"],
[mod-each-child~="text-orange-900"] > [mod-child],
[mod-text~="on-hover-orange-900"]:hover,
[mod-text~="on-focus-orange-900"]:focus,
[mod-each-child~="on-hover-text-orange-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-orange-900"] > [mod-child]:focus{
  color: #e65100;
}
[mod-text~="orange-a100"],
[mod-style~="orange-a100"],
[mod-each-child~="text-orange-a100"] > [mod-child],
[mod-text~="on-hover-orange-a100"]:hover,
[mod-text~="on-focus-orange-a100"]:focus,
[mod-each-child~="on-hover-text-orange-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-orange-a100"] > [mod-child]:focus{
  color: #ffd180;
}
[mod-text~="orange-a200"],
[mod-style~="orange-a200"],
[mod-each-child~="text-orange-a200"] > [mod-child],
[mod-text~="on-hover-orange-a200"]:hover,
[mod-text~="on-focus-orange-a200"]:focus,
[mod-each-child~="on-hover-text-orange-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-orange-a200"] > [mod-child]:focus{
  color: #ffab40;
}
[mod-text~="orange-a400"],
[mod-style~="orange-a400"],
[mod-each-child~="text-orange-a400"] > [mod-child],
[mod-text~="on-hover-orange-a400"]:hover,
[mod-text~="on-focus-orange-a400"]:focus,
[mod-each-child~="on-hover-text-orange-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-orange-a400"] > [mod-child]:focus{
  color:  #ff9100;
}
[mod-text~="orange-a700"],
[mod-style~="orange-a700"],
[mod-each-child~="text-orange-a700"] > [mod-child],
[mod-text~="on-hover-orange-a700"]:hover,
[mod-text~="on-focus-orange-a700"]:focus,
[mod-each-child~="on-hover-text-orange-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-orange-a700"] > [mod-child]:focus{
  color: #ff6d00;
}


/* -- orange border colors -- */

[mod-border~="orange"],
[mod-each-child~="border-orange"] > [mod-child],
[mod-border~="on-hover-orange"]:hover,
[mod-border~="on-focus-orange"]:focus,
[mod-each-child~="on-hover-border-orange"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-orange"] > [mod-child]:focus{
  border-color: #ff9800;
}
[mod-border~="orange-50"],
[mod-each-child~="border-orange-50"] > [mod-child],
[mod-border~="on-hover-orange-50"]:hover,
[mod-border~="on-focus-orange-50"]:focus,
[mod-each-child~="on-hover-border-orange-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-orange-50"] > [mod-child]:focus{
  border-color: #fff3e0;
}
[mod-border~="orange-100"],
[mod-each-child~="border-orange-100"] > [mod-child],
[mod-border~="on-hover-orange-100"]:hover,
[mod-border~="on-focus-orange-100"]:focus,
[mod-each-child~="on-hover-border-orange-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-orange-100"] > [mod-child]:focus{
  border-color: #ffe0b2;
}
[mod-border~="orange-200"],
[mod-each-child~="border-orange-200"] > [mod-child],
[mod-border~="on-hover-orange-200"]:hover,
[mod-border~="on-focus-orange-200"]:focus,
[mod-each-child~="on-hover-border-orange-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-orange-200"] > [mod-child]:focus{
  border-color: #ffcc80;
}
[mod-border~="orange-300"],
[mod-each-child~="border-orange-300"] > [mod-child],
[mod-border~="on-hover-orange-300"]:hover,
[mod-border~="on-focus-orange-300"]:focus,
[mod-each-child~="on-hover-border-orange-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-orange-300"] > [mod-child]:focus{
  border-color: #ffb74d;
}
[mod-border~="orange-400"],
[mod-each-child~="border-orange-400"] > [mod-child],
[mod-border~="on-hover-orange-400"]:hover,
[mod-border~="on-focus-orange-400"]:focus,
[mod-each-child~="on-hover-border-orange-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-orange-400"] > [mod-child]:focus{
  border-color: #ffa726;
}
[mod-border~="orange-500"],
[mod-each-child~="border-orange-500"] > [mod-child],
[mod-border~="on-hover-orange-500"]:hover,
[mod-border~="on-focus-orange-500"]:focus,
[mod-each-child~="on-hover-border-orange-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-orange-500"] > [mod-child]:focus{
  border-color: #ff9800;
}
[mod-border~="orange-600"],
[mod-each-child~="border-orange-600"] > [mod-child],
[mod-border~="on-hover-orange-600"]:hover,
[mod-border~="on-focus-orange-600"]:focus,
[mod-each-child~="on-hover-border-orange-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-orange-600"] > [mod-child]:focus{
  border-color: #fb8c00;
}
[mod-border~="orange-700"],
[mod-each-child~="border-orange-700"] > [mod-child],
[mod-border~="on-hover-orange-700"]:hover,
[mod-border~="on-focus-orange-700"]:focus,
[mod-each-child~="on-hover-border-orange-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-orange-700"] > [mod-child]:focus{
  border-color: #f57c00;
}
[mod-border~="orange-800"],
[mod-each-child~="border-orange-800"] > [mod-child],
[mod-border~="on-hover-orange-800"]:hover,
[mod-border~="on-focus-orange-800"]:focus,
[mod-each-child~="on-hover-border-orange-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-orange-800"] > [mod-child]:focus{
  border-color: #ef6c00;
}
[mod-border~="orange-900"],
[mod-each-child~="border-orange-900"] > [mod-child],
[mod-border~="on-hover-orange-900"]:hover,
[mod-border~="on-focus-orange-900"]:focus,
[mod-each-child~="on-hover-border-orange-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-orange-900"] > [mod-child]:focus{
  border-color: #e65100;
}
[mod-border~="orange-a100"],
[mod-each-child~="border-orange-a100"] > [mod-child],
[mod-border~="on-hover-orange-a100"]:hover,
[mod-border~="on-focus-orange-a100"]:focus,
[mod-each-child~="on-hover-border-orange-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-orange-a100"] > [mod-child]:focus{
  border-color: #ffd180;
}
[mod-border~="orange-a200"],
[mod-each-child~="border-orange-a200"] > [mod-child],
[mod-border~="on-hover-orange-a200"]:hover,
[mod-border~="on-focus-orange-a200"]:focus,
[mod-each-child~="on-hover-border-orange-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-orange-a200"] > [mod-child]:focus{
  border-color: #ffab40;
}
[mod-border~="orange-a400"],
[mod-each-child~="border-orange-a400"] > [mod-child],
[mod-border~="on-hover-orange-a400"]:hover,
[mod-border~="on-focus-orange-a400"]:focus,
[mod-each-child~="on-hover-border-orange-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-orange-a400"] > [mod-child]:focus{
  border-color:  #ff9100;
}
[mod-border~="orange-a700"],
[mod-each-child~="border-orange-a700"] > [mod-child],
[mod-border~="on-hover-orange-a700"]:hover,
[mod-border~="on-focus-orange-a700"]:focus,
[mod-each-child~="on-hover-border-orange-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-orange-a700"] > [mod-child]:focus{
  border-color: #ff6d00;
}