/* 
  Color Palettes: amber - extended 
  CSS by: Alan Museljic
  Credit Color Palettes Material Design Colors
*/


/* -- amber fill colors -- */

[mod-background~="amber"],
[mod-each-child~="background-amber"] > [mod-child],
[mod-background~="on-hover-amber"]:hover,
[mod-background~="on-focus-amber"]:focus,
[mod-each-child~="on-hover-background-amber"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber"] > [mod-child]:focus{
  background: #ffc107;
}
[mod-background~="amber-50"],
[mod-each-child~="background-amber-50"] > [mod-child],
[mod-background~="on-hover-amber-50"]:hover,
[mod-background~="on-focus-amber-50"]:focus,
[mod-each-child~="on-hover-background-amber-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-50"] > [mod-child]:focus{
  background: #fff8e1;
}
[mod-background~="amber-100"],
[mod-each-child~="background-amber-100"] > [mod-child],
[mod-background~="on-hover-amber-100"]:hover,
[mod-background~="on-focus-amber-100"]:focus,
[mod-each-child~="on-hover-background-amber-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-100"] > [mod-child]:focus{
  background: #ffecb3;
}
[mod-background~="amber-200"],
[mod-each-child~="background-amber-200"] > [mod-child],
[mod-background~="on-hover-amber-200"]:hover,
[mod-background~="on-focus-amber-200"]:focus,
[mod-each-child~="on-hover-background-amber-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-200"] > [mod-child]:focus{
  background: #ffe082;
}
[mod-background~="amber-300"],
[mod-each-child~="background-amber-300"] > [mod-child],
[mod-background~="on-hover-amber-300"]:hover,
[mod-background~="on-focus-amber-300"]:focus,
[mod-each-child~="on-hover-background-amber-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-300"] > [mod-child]:focus{
  background: #ffd54f;
}
[mod-background~="amber-400"],
[mod-each-child~="background-amber-400"] > [mod-child],
[mod-background~="on-hover-amber-400"]:hover,
[mod-background~="on-focus-amber-400"]:focus,
[mod-each-child~="on-hover-background-amber-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-400"] > [mod-child]:focus{
  background: #ffca28;
}
[mod-background~="amber-500"],
[mod-each-child~="background-amber-500"] > [mod-child],
[mod-background~="on-hover-amber-500"]:hover,
[mod-background~="on-focus-amber-500"]:focus,
[mod-each-child~="on-hover-background-amber-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-500"] > [mod-child]:focus{
  background: #ffc107;
}
[mod-background~="amber-600"],
[mod-each-child~="background-amber-600"] > [mod-child],
[mod-background~="on-hover-amber-600"]:hover,
[mod-background~="on-focus-amber-600"]:focus,
[mod-each-child~="on-hover-background-amber-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-600"] > [mod-child]:focus{
  background: #ffb300;
}
[mod-background~="amber-700"],
[mod-each-child~="background-amber-700"] > [mod-child],
[mod-background~="on-hover-amber-700"]:hover,
[mod-background~="on-focus-amber-700"]:focus,
[mod-each-child~="on-hover-background-amber-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-700"] > [mod-child]:focus{
  background: #ffa000;
}
[mod-background~="amber-800"],
[mod-each-child~="background-amber-800"] > [mod-child],
[mod-background~="on-hover-amber-800"]:hover,
[mod-background~="on-focus-amber-800"]:focus,
[mod-each-child~="on-hover-background-amber-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-800"] > [mod-child]:focus{
  background: #ff8f00;
}
[mod-background~="amber-900"],
[mod-each-child~="background-amber-900"] > [mod-child],
[mod-background~="on-hover-amber-900"]:hover,
[mod-background~="on-focus-amber-900"]:focus,
[mod-each-child~="on-hover-background-amber-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-900"] > [mod-child]:focus{
  background: #ff6f00;
}
[mod-background~="amber-a100"],
[mod-each-child~="background-amber-a100"] > [mod-child],
[mod-background~="on-hover-amber-a100"]:hover,
[mod-background~="on-focus-amber-a100"]:focus,
[mod-each-child~="on-hover-background-amber-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-a100"] > [mod-child]:focus{
  background: #ffe57f;
}
[mod-background~="amber-a200"],
[mod-each-child~="background-amber-a200"] > [mod-child],
[mod-background~="on-hover-amber-a200"]:hover,
[mod-background~="on-focus-amber-a200"]:focus,
[mod-each-child~="on-hover-background-amber-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-a200"] > [mod-child]:focus{
  background: #ffd740;
}
[mod-background~="amber-a400"],
[mod-each-child~="background-amber-a400"] > [mod-child],
[mod-background~="on-hover-amber-a400"]:hover,
[mod-background~="on-focus-amber-a400"]:focus,
[mod-each-child~="on-hover-background-amber-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-a400"] > [mod-child]:focus{
  background:  #ffc400;
}
[mod-background~="amber-a700"],
[mod-each-child~="background-amber-a700"] > [mod-child],
[mod-background~="on-hover-amber-a700"]:hover,
[mod-background~="on-focus-amber-a700"]:focus,
[mod-each-child~="on-hover-background-amber-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-a700"] > [mod-child]:focus{
  background: #ffab00;
}

/* -- amber text / icon colors -- */

[mod-color~="amber"],
[mod-each-child~="color-amber"] > [mod-child],
[mod-color~="on-hover-amber"]:hover,
[mod-color~="on-focus-amber"]:focus,
[mod-each-child~="on-hover-color-amber"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-amber"] > [mod-child]:focus{
  color: #ffc107;
}
[mod-color~="amber-50"],
[mod-each-child~="color-amber-50"] > [mod-child],
[mod-color~="on-hover-amber-50"]:hover,
[mod-color~="on-focus-amber-50"]:focus,
[mod-each-child~="on-hover-color-amber-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-amber-50"] > [mod-child]:focus{
  color: #fff8e1;
}
[mod-color~="amber-100"],
[mod-each-child~="color-amber-100"] > [mod-child],
[mod-color~="on-hover-amber-100"]:hover,
[mod-color~="on-focus-amber-100"]:focus,
[mod-each-child~="on-hover-color-amber-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-amber-100"] > [mod-child]:focus{
  color: #ffecb3;
}
[mod-color~="amber-200"],
[mod-each-child~="color-amber-200"] > [mod-child],
[mod-color~="on-hover-amber-200"]:hover,
[mod-color~="on-focus-amber-200"]:focus,
[mod-each-child~="on-hover-color-amber-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-amber-200"] > [mod-child]:focus{
  color: #ffe082;
}
[mod-color~="amber-300"],
[mod-each-child~="color-amber-300"] > [mod-child],
[mod-color~="on-hover-amber-300"]:hover,
[mod-color~="on-focus-amber-300"]:focus,
[mod-each-child~="on-hover-color-amber-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-amber-300"] > [mod-child]:focus{
  color: #ffd54f;
}
[mod-color~="amber-400"],
[mod-each-child~="color-amber-400"] > [mod-child],
[mod-color~="on-hover-amber-400"]:hover,
[mod-color~="on-focus-amber-400"]:focus,
[mod-each-child~="on-hover-color-amber-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-amber-400"] > [mod-child]:focus{
  color: #ffca28;
}
[mod-color~="amber-500"],
[mod-each-child~="color-amber-500"] > [mod-child],
[mod-color~="on-hover-amber-500"]:hover,
[mod-color~="on-focus-amber-500"]:focus,
[mod-each-child~="on-hover-color-amber-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-amber-500"] > [mod-child]:focus{
  color: #ffc107;
}
[mod-color~="amber-600"],
[mod-each-child~="color-amber-600"] > [mod-child],
[mod-color~="on-hover-amber-600"]:hover,
[mod-color~="on-focus-amber-600"]:focus,
[mod-each-child~="on-hover-color-amber-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-amber-600"] > [mod-child]:focus{
  color: #ffb300;
}
[mod-color~="amber-700"],
[mod-each-child~="color-amber-700"] > [mod-child],
[mod-color~="on-hover-amber-700"]:hover,
[mod-color~="on-focus-amber-700"]:focus,
[mod-each-child~="on-hover-color-amber-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-amber-700"] > [mod-child]:focus{
  color: #ffa000;
}
[mod-color~="amber-800"],
[mod-each-child~="color-amber-800"] > [mod-child],
[mod-color~="on-hover-amber-800"]:hover,
[mod-color~="on-focus-amber-800"]:focus,
[mod-each-child~="on-hover-color-amber-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-amber-800"] > [mod-child]:focus{
  color: #ff8f00;
}
[mod-color~="amber-900"],
[mod-each-child~="color-amber-900"] > [mod-child],
[mod-color~="on-hover-amber-900"]:hover,
[mod-color~="on-focus-amber-900"]:focus,
[mod-each-child~="on-hover-color-amber-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-amber-900"] > [mod-child]:focus{
  color: #ff6f00;
}
[mod-color~="amber-a100"],
[mod-each-child~="color-amber-a100"] > [mod-child],
[mod-color~="on-hover-amber-a100"]:hover,
[mod-color~="on-focus-amber-a100"]:focus,
[mod-each-child~="on-hover-color-amber-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-amber-a100"] > [mod-child]:focus{
  color: #ffe57f;
}
[mod-color~="amber-a200"],
[mod-each-child~="color-amber-a200"] > [mod-child],
[mod-color~="on-hover-amber-a200"]:hover,
[mod-color~="on-focus-amber-a200"]:focus,
[mod-each-child~="on-hover-color-amber-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-amber-a200"] > [mod-child]:focus{
  color: #ffd740;
}
[mod-color~="amber-a400"],
[mod-each-child~="color-amber-a400"] > [mod-child],
[mod-color~="on-hover-amber-a400"]:hover,
[mod-color~="on-focus-amber-a400"]:focus,
[mod-each-child~="on-hover-color-amber-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-amber-a400"] > [mod-child]:focus{
  color:  #ffc400;
}
[mod-color~="amber-a700"],
[mod-each-child~="color-amber-a700"] > [mod-child],
[mod-color~="on-hover-amber-a700"]:hover,
[mod-color~="on-focus-amber-a700"]:focus,
[mod-each-child~="on-hover-color-amber-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-color-amber-a700"] > [mod-child]:focus{
  color: #ffab00;
}

/* -- amber border colors -- */

[mod-border-color~="amber"],
[mod-each-child~="border-color-amber"] > [mod-child],
[mod-border-color~="on-hover-amber"]:hover,
[mod-border-color~="on-focus-amber"]:focus,
[mod-each-child~="on-hover-border-color-amber"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-amber"] > [mod-child]:focus{
  border-color: #ffc107;
}
[mod-border-color~="amber-50"],
[mod-each-child~="border-color-amber-50"] > [mod-child],
[mod-border-color~="on-hover-amber-50"]:hover,
[mod-border-color~="on-focus-amber-50"]:focus,
[mod-each-child~="on-hover-border-color-amber-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-amber-50"] > [mod-child]:focus{
  border-color: #fff8e1;
}
[mod-border-color~="amber-100"],
[mod-each-child~="border-color-amber-100"] > [mod-child],
[mod-border-color~="on-hover-amber-100"]:hover,
[mod-border-color~="on-focus-amber-100"]:focus,
[mod-each-child~="on-hover-border-color-amber-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-amber-100"] > [mod-child]:focus{
  border-color: #ffecb3;
}
[mod-border-color~="amber-200"],
[mod-each-child~="border-color-amber-200"] > [mod-child],
[mod-border-color~="on-hover-amber-200"]:hover,
[mod-border-color~="on-focus-amber-200"]:focus,
[mod-each-child~="on-hover-border-color-amber-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-amber-200"] > [mod-child]:focus{
  border-color: #ffe082;
}
[mod-border-color~="amber-300"],
[mod-each-child~="border-color-amber-300"] > [mod-child],
[mod-border-color~="on-hover-amber-300"]:hover,
[mod-border-color~="on-focus-amber-300"]:focus,
[mod-each-child~="on-hover-border-color-amber-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-amber-300"] > [mod-child]:focus{
  border-color: #ffd54f;
}
[mod-border-color~="amber-400"],
[mod-each-child~="border-color-amber-400"] > [mod-child],
[mod-border-color~="on-hover-amber-400"]:hover,
[mod-border-color~="on-focus-amber-400"]:focus,
[mod-each-child~="on-hover-border-color-amber-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-amber-400"] > [mod-child]:focus{
  border-color: #ffca28;
}
[mod-border-color~="amber-500"],
[mod-each-child~="border-color-amber-500"] > [mod-child],
[mod-border-color~="on-hover-amber-500"]:hover,
[mod-border-color~="on-focus-amber-500"]:focus,
[mod-each-child~="on-hover-border-color-amber-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-amber-500"] > [mod-child]:focus{
  border-color: #ffc107;
}
[mod-border-color~="amber-600"],
[mod-each-child~="border-color-amber-600"] > [mod-child],
[mod-border-color~="on-hover-amber-600"]:hover,
[mod-border-color~="on-focus-amber-600"]:focus,
[mod-each-child~="on-hover-border-color-amber-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-amber-600"] > [mod-child]:focus{
  border-color: #ffb300;
}
[mod-border-color~="amber-700"],
[mod-each-child~="border-color-amber-700"] > [mod-child],
[mod-border-color~="on-hover-amber-700"]:hover,
[mod-border-color~="on-focus-amber-700"]:focus,
[mod-each-child~="on-hover-border-color-amber-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-amber-700"] > [mod-child]:focus{
  border-color: #ffa000;
}
[mod-border-color~="amber-800"],
[mod-each-child~="border-color-amber-800"] > [mod-child],
[mod-border-color~="on-hover-amber-800"]:hover,
[mod-border-color~="on-focus-amber-800"]:focus,
[mod-each-child~="on-hover-border-color-amber-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-amber-800"] > [mod-child]:focus{
  border-color: #ff8f00;
}
[mod-border-color~="amber-900"],
[mod-each-child~="border-color-amber-900"] > [mod-child],
[mod-border-color~="on-hover-amber-900"]:hover,
[mod-border-color~="on-focus-amber-900"]:focus,
[mod-each-child~="on-hover-border-color-amber-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-amber-900"] > [mod-child]:focus{
  border-color: #ff6f00;
}
[mod-border-color~="amber-a100"],
[mod-each-child~="border-color-amber-a100"] > [mod-child],
[mod-border-color~="on-hover-amber-a100"]:hover,
[mod-border-color~="on-focus-amber-a100"]:focus,
[mod-each-child~="on-hover-border-color-amber-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-amber-a100"] > [mod-child]:focus{
  border-color: #ffe57f;
}
[mod-border-color~="amber-a200"],
[mod-each-child~="border-color-amber-a200"] > [mod-child],
[mod-border-color~="on-hover-amber-a200"]:hover,
[mod-border-color~="on-focus-amber-a200"]:focus,
[mod-each-child~="on-hover-border-color-amber-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-amber-a200"] > [mod-child]:focus{
  border-color: #ffd740;
}
[mod-border-color~="amber-a400"],
[mod-each-child~="border-color-amber-a400"] > [mod-child],
[mod-border-color~="on-hover-amber-a400"]:hover,
[mod-border-color~="on-focus-amber-a400"]:focus,
[mod-each-child~="on-hover-border-color-amber-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-amber-a400"] > [mod-child]:focus{
  border-color:  #ffc400;
}
[mod-border-color~="amber-a700"],
[mod-each-child~="border-color-amber-a700"] > [mod-child],
[mod-border-color~="on-hover-amber-a700"]:hover,
[mod-border-color~="on-focus-amber-a700"]:focus,
[mod-each-child~="on-hover-border-color-amber-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-color-amber-a700"] > [mod-child]:focus{
  border-color: #ffab00;
}