/* 
	Color Palettes: amber - extended 
	CSS by: Alan Museljic
	Credit Color Palettes Material Design Colors
*/


/* -- amber fill colors -- */

[mod-background~="amber"],
[mod-each-child~="background-amber"] > [mod-child],
[mod-background~="on-hover-amber"]:hover,
[mod-background~="on-focus-amber"]:focus,
[mod-each-child~="on-hover-background-amber"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber"] > [mod-child]:focus{
	background: #ffc107;
}
[mod-background~="amber-50"],
[mod-each-child~="background-amber-50"] > [mod-child],
[mod-background~="on-hover-amber-50"]:hover,
[mod-background~="on-focus-amber-50"]:focus,
[mod-each-child~="on-hover-background-amber-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-50"] > [mod-child]:focus{
	background: #fff8e1;
}
[mod-background~="amber-100"],
[mod-each-child~="background-amber-100"] > [mod-child],
[mod-background~="on-hover-amber-100"]:hover,
[mod-background~="on-focus-amber-100"]:focus,
[mod-each-child~="on-hover-background-amber-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-100"] > [mod-child]:focus{
	background: #ffecb3;
}
[mod-background~="amber-200"],
[mod-each-child~="background-amber-200"] > [mod-child],
[mod-background~="on-hover-amber-200"]:hover,
[mod-background~="on-focus-amber-200"]:focus,
[mod-each-child~="on-hover-background-amber-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-200"] > [mod-child]:focus{
	background: #ffe082;
}
[mod-background~="amber-300"],
[mod-each-child~="background-amber-300"] > [mod-child],
[mod-background~="on-hover-amber-300"]:hover,
[mod-background~="on-focus-amber-300"]:focus,
[mod-each-child~="on-hover-background-amber-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-300"] > [mod-child]:focus{
	background: #ffd54f;
}
[mod-background~="amber-400"],
[mod-each-child~="background-amber-400"] > [mod-child],
[mod-background~="on-hover-amber-400"]:hover,
[mod-background~="on-focus-amber-400"]:focus,
[mod-each-child~="on-hover-background-amber-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-400"] > [mod-child]:focus{
	background: #ffca28;
}
[mod-background~="amber-500"],
[mod-each-child~="background-amber-500"] > [mod-child],
[mod-background~="on-hover-amber-500"]:hover,
[mod-background~="on-focus-amber-500"]:focus,
[mod-each-child~="on-hover-background-amber-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-500"] > [mod-child]:focus{
	background: #ffc107;
}
[mod-background~="amber-600"],
[mod-each-child~="background-amber-600"] > [mod-child],
[mod-background~="on-hover-amber-600"]:hover,
[mod-background~="on-focus-amber-600"]:focus,
[mod-each-child~="on-hover-background-amber-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-600"] > [mod-child]:focus{
	background: #ffb300;
}
[mod-background~="amber-700"],
[mod-each-child~="background-amber-700"] > [mod-child],
[mod-background~="on-hover-amber-700"]:hover,
[mod-background~="on-focus-amber-700"]:focus,
[mod-each-child~="on-hover-background-amber-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-700"] > [mod-child]:focus{
	background: #ffa000;
}
[mod-background~="amber-800"],
[mod-each-child~="background-amber-800"] > [mod-child],
[mod-background~="on-hover-amber-800"]:hover,
[mod-background~="on-focus-amber-800"]:focus,
[mod-each-child~="on-hover-background-amber-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-800"] > [mod-child]:focus{
	background: #ff8f00;
}
[mod-background~="amber-900"],
[mod-each-child~="background-amber-900"] > [mod-child],
[mod-background~="on-hover-amber-900"]:hover,
[mod-background~="on-focus-amber-900"]:focus,
[mod-each-child~="on-hover-background-amber-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-900"] > [mod-child]:focus{
	background: #ff6f00;
}
[mod-background~="amber-a100"],
[mod-each-child~="background-amber-a100"] > [mod-child],
[mod-background~="on-hover-amber-a100"]:hover,
[mod-background~="on-focus-amber-a100"]:focus,
[mod-each-child~="on-hover-background-amber-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-a100"] > [mod-child]:focus{
	background: #ffe57f;
}
[mod-background~="amber-a200"],
[mod-each-child~="background-amber-a200"] > [mod-child],
[mod-background~="on-hover-amber-a200"]:hover,
[mod-background~="on-focus-amber-a200"]:focus,
[mod-each-child~="on-hover-background-amber-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-a200"] > [mod-child]:focus{
	background: #ffd740;
}
[mod-background~="amber-a400"],
[mod-each-child~="background-amber-a400"] > [mod-child],
[mod-background~="on-hover-amber-a400"]:hover,
[mod-background~="on-focus-amber-a400"]:focus,
[mod-each-child~="on-hover-background-amber-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-a400"] > [mod-child]:focus{
	background:  #ffc400;
}
[mod-background~="amber-a700"],
[mod-each-child~="background-amber-a700"] > [mod-child],
[mod-background~="on-hover-amber-a700"]:hover,
[mod-background~="on-focus-amber-a700"]:focus,
[mod-each-child~="on-hover-background-amber-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-background-amber-a700"] > [mod-child]:focus{
	background: #ffab00;
}

/* -- amber text colors -- */


[mod-text~="amber"],
[mod-style~="amber"],
[mod-each-child~="text-amber"] > [mod-child],
[mod-text~="on-hover-amber"]:hover,
[mod-text~="on-focus-amber"]:focus,
[mod-each-child~="on-hover-text-amber"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-amber"] > [mod-child]:focus{
	color: #ffc107;
}
[mod-text~="amber-50"],
[mod-style~="amber-50"],
[mod-each-child~="text-amber-50"] > [mod-child],
[mod-text~="on-hover-amber-50"]:hover,
[mod-text~="on-focus-amber-50"]:focus,
[mod-each-child~="on-hover-text-amber-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-amber-50"] > [mod-child]:focus{
	color: #fff8e1;
}
[mod-text~="amber-100"],
[mod-style~="amber-100"],
[mod-each-child~="text-amber-100"] > [mod-child],
[mod-text~="on-hover-amber-100"]:hover,
[mod-text~="on-focus-amber-100"]:focus,
[mod-each-child~="on-hover-text-amber-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-amber-100"] > [mod-child]:focus{
	color: #ffecb3;
}
[mod-text~="amber-200"],
[mod-style~="amber-200"],
[mod-each-child~="text-amber-200"] > [mod-child],
[mod-text~="on-hover-amber-200"]:hover,
[mod-text~="on-focus-amber-200"]:focus,
[mod-each-child~="on-hover-text-amber-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-amber-200"] > [mod-child]:focus{
	color: #ffe082;
}
[mod-text~="amber-300"],
[mod-style~="amber-300"],
[mod-each-child~="text-amber-300"] > [mod-child],
[mod-text~="on-hover-amber-300"]:hover,
[mod-text~="on-focus-amber-300"]:focus,
[mod-each-child~="on-hover-text-amber-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-amber-300"] > [mod-child]:focus{
	color: #ffd54f;
}
[mod-text~="amber-400"],
[mod-style~="amber-400"],
[mod-each-child~="text-amber-400"] > [mod-child],
[mod-text~="on-hover-amber-400"]:hover,
[mod-text~="on-focus-amber-400"]:focus,
[mod-each-child~="on-hover-text-amber-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-amber-400"] > [mod-child]:focus{
	color: #ffca28;
}
[mod-text~="amber-500"],
[mod-style~="amber-500"],
[mod-each-child~="text-amber-500"] > [mod-child],
[mod-text~="on-hover-amber-500"]:hover,
[mod-text~="on-focus-amber-500"]:focus,
[mod-each-child~="on-hover-text-amber-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-amber-500"] > [mod-child]:focus{
	color: #ffc107;
}
[mod-text~="amber-600"],
[mod-style~="amber-600"],
[mod-each-child~="text-amber-600"] > [mod-child],
[mod-text~="on-hover-amber-600"]:hover,
[mod-text~="on-focus-amber-600"]:focus,
[mod-each-child~="on-hover-text-amber-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-amber-600"] > [mod-child]:focus{
	color: #ffb300;
}
[mod-text~="amber-700"],
[mod-style~="amber-700"],
[mod-each-child~="text-amber-700"] > [mod-child],
[mod-text~="on-hover-amber-700"]:hover,
[mod-text~="on-focus-amber-700"]:focus,
[mod-each-child~="on-hover-text-amber-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-amber-700"] > [mod-child]:focus{
	color: #ffa000;
}
[mod-text~="amber-800"],
[mod-style~="amber-800"],
[mod-each-child~="text-amber-800"] > [mod-child],
[mod-text~="on-hover-amber-800"]:hover,
[mod-text~="on-focus-amber-800"]:focus,
[mod-each-child~="on-hover-text-amber-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-amber-800"] > [mod-child]:focus{
	color: #ff8f00;
}
[mod-text~="amber-900"],
[mod-style~="amber-900"],
[mod-each-child~="text-amber-900"] > [mod-child],
[mod-text~="on-hover-amber-900"]:hover,
[mod-text~="on-focus-amber-900"]:focus,
[mod-each-child~="on-hover-text-amber-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-amber-900"] > [mod-child]:focus{
	color: #ff6f00;
}
[mod-text~="amber-a100"],
[mod-style~="amber-a100"],
[mod-each-child~="text-amber-a100"] > [mod-child],
[mod-text~="on-hover-amber-a100"]:hover,
[mod-text~="on-focus-amber-a100"]:focus,
[mod-each-child~="on-hover-text-amber-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-amber-a100"] > [mod-child]:focus{
	color: #ffe57f;
}
[mod-text~="amber-a200"],
[mod-style~="amber-a200"],
[mod-each-child~="text-amber-a200"] > [mod-child],
[mod-text~="on-hover-amber-a200"]:hover,
[mod-text~="on-focus-amber-a200"]:focus,
[mod-each-child~="on-hover-text-amber-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-amber-a200"] > [mod-child]:focus{
	color: #ffd740;
}
[mod-text~="amber-a400"],
[mod-style~="amber-a400"],
[mod-each-child~="text-amber-a400"] > [mod-child],
[mod-text~="on-hover-amber-a400"]:hover,
[mod-text~="on-focus-amber-a400"]:focus,
[mod-each-child~="on-hover-text-amber-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-amber-a400"] > [mod-child]:focus{
	color:  #ffc400;
}
[mod-text~="amber-a700"],
[mod-style~="amber-a700"],
[mod-each-child~="text-amber-a700"] > [mod-child],
[mod-text~="on-hover-amber-a700"]:hover,
[mod-text~="on-focus-amber-a700"]:focus,
[mod-each-child~="on-hover-text-amber-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-text-amber-a700"] > [mod-child]:focus{
	color: #ffab00;
}

/* -- amber border colors -- */

[mod-border~="amber"],
[mod-each-child~="border-amber"] > [mod-child],
[mod-border~="on-hover-amber"]:hover,
[mod-border~="on-focus-amber"]:focus,
[mod-each-child~="on-hover-border-amber"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-amber"] > [mod-child]:focus{
	border-color: #ffc107;
}
[mod-border~="amber-50"],
[mod-each-child~="border-amber-50"] > [mod-child],
[mod-border~="on-hover-amber-50"]:hover,
[mod-border~="on-focus-amber-50"]:focus,
[mod-each-child~="on-hover-border-amber-50"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-amber-50"] > [mod-child]:focus{
	border-color: #fff8e1;
}
[mod-border~="amber-100"],
[mod-each-child~="border-amber-100"] > [mod-child],
[mod-border~="on-hover-amber-100"]:hover,
[mod-border~="on-focus-amber-100"]:focus,
[mod-each-child~="on-hover-border-amber-100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-amber-100"] > [mod-child]:focus{
	border-color: #ffecb3;
}
[mod-border~="amber-200"],
[mod-each-child~="border-amber-200"] > [mod-child],
[mod-border~="on-hover-amber-200"]:hover,
[mod-border~="on-focus-amber-200"]:focus,
[mod-each-child~="on-hover-border-amber-200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-amber-200"] > [mod-child]:focus{
	border-color: #ffe082;
}
[mod-border~="amber-300"],
[mod-each-child~="border-amber-300"] > [mod-child],
[mod-border~="on-hover-amber-300"]:hover,
[mod-border~="on-focus-amber-300"]:focus,
[mod-each-child~="on-hover-border-amber-300"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-amber-300"] > [mod-child]:focus{
	border-color: #ffd54f;
}
[mod-border~="amber-400"],
[mod-each-child~="border-amber-400"] > [mod-child],
[mod-border~="on-hover-amber-400"]:hover,
[mod-border~="on-focus-amber-400"]:focus,
[mod-each-child~="on-hover-border-amber-400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-amber-400"] > [mod-child]:focus{
	border-color: #ffca28;
}
[mod-border~="amber-500"],
[mod-each-child~="border-amber-500"] > [mod-child],
[mod-border~="on-hover-amber-500"]:hover,
[mod-border~="on-focus-amber-500"]:focus,
[mod-each-child~="on-hover-border-amber-500"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-amber-500"] > [mod-child]:focus{
	border-color: #ffc107;
}
[mod-border~="amber-600"],
[mod-each-child~="border-amber-600"] > [mod-child],
[mod-border~="on-hover-amber-600"]:hover,
[mod-border~="on-focus-amber-600"]:focus,
[mod-each-child~="on-hover-border-amber-600"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-amber-600"] > [mod-child]:focus{
	border-color: #ffb300;
}
[mod-border~="amber-700"],
[mod-each-child~="border-amber-700"] > [mod-child],
[mod-border~="on-hover-amber-700"]:hover,
[mod-border~="on-focus-amber-700"]:focus,
[mod-each-child~="on-hover-border-amber-700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-amber-700"] > [mod-child]:focus{
	border-color: #ffa000;
}
[mod-border~="amber-800"],
[mod-each-child~="border-amber-800"] > [mod-child],
[mod-border~="on-hover-amber-800"]:hover,
[mod-border~="on-focus-amber-800"]:focus,
[mod-each-child~="on-hover-border-amber-800"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-amber-800"] > [mod-child]:focus{
	border-color: #ff8f00;
}
[mod-border~="amber-900"],
[mod-each-child~="border-amber-900"] > [mod-child],
[mod-border~="on-hover-amber-900"]:hover,
[mod-border~="on-focus-amber-900"]:focus,
[mod-each-child~="on-hover-border-amber-900"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-amber-900"] > [mod-child]:focus{
	border-color: #ff6f00;
}
[mod-border~="amber-a100"],
[mod-each-child~="border-amber-a100"] > [mod-child],
[mod-border~="on-hover-amber-a100"]:hover,
[mod-border~="on-focus-amber-a100"]:focus,
[mod-each-child~="on-hover-border-amber-a100"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-amber-a100"] > [mod-child]:focus{
	border-color: #ffe57f;
}
[mod-border~="amber-a200"],
[mod-each-child~="border-amber-a200"] > [mod-child],
[mod-border~="on-hover-amber-a200"]:hover,
[mod-border~="on-focus-amber-a200"]:focus,
[mod-each-child~="on-hover-border-amber-a200"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-amber-a200"] > [mod-child]:focus{
	border-color: #ffd740;
}
[mod-border~="amber-a400"],
[mod-each-child~="border-amber-a400"] > [mod-child],
[mod-border~="on-hover-amber-a400"]:hover,
[mod-border~="on-focus-amber-a400"]:focus,
[mod-each-child~="on-hover-border-amber-a400"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-amber-a400"] > [mod-child]:focus{
	border-color:  #ffc400;
}
[mod-border~="amber-a700"],
[mod-each-child~="border-amber-a700"] > [mod-child],
[mod-border~="on-hover-amber-a700"]:hover,
[mod-border~="on-focus-amber-a700"]:focus,
[mod-each-child~="on-hover-border-amber-a700"] > [mod-child]:hover,
[mod-each-child~="on-focus-border-amber-a700"] > [mod-child]:focus{
	border-color: #ffab00;
}