/* 
  Color Palettes: cyan
  CSS by: Alan Museljic
  Credit Color Palettes Material Design Colors
*/

/* -- cyan fill colors -- */

.background--cyan{
  background: #00bcd4;
}
.background--cyan-50{
  background: #e0f7fa;
}
.background--cyan-100{
  background: #b2ebf2;
}
.background--cyan-200{
  background: #80deea;
}
.background--cyan-300{
  background: #4dd0e1;
}
.background--cyan-400{
  background: #26c6da;
}
.background--cyan-500{
  background: #00bcd4;
}
.background--cyan-600{
  background: #00acc1;
}
.background--cyan-700{
  background: #0097a7;
}
.background--cyan-800{
  background: #00838f;
}
.background--cyan-900{
  background: #006064;
}
.background--cyan-a100{
  background: #84ffff;
}
.background--cyan-a200{
  background: #18ffff;
}
.background--cyan-a400{
  background:  #00e5ff;
}
.background--cyan-a700{
  background: #00b8d4;
}

/* -- cyan text / icon colors -- */

.color--cyan{
  color: #00bcd4;
}
.color--cyan-50{
  color: #e0f7fa;
}
.color--cyan-100{
  color: #b2ebf2;
}
.color--cyan-200{
  color: #80deea;
}
.color--cyan-300{
  color: #4dd0e1;
}
.color--cyan-400{
  color: #26c6da;
}
.color--cyan-500{
  color: #00bcd4;
}
.color--cyan-600{
  color: #00acc1;
}
.color--cyan-700{
  color: #0097a7;
}
.color--cyan-800{
  color: #00838f;
}
.color--cyan-900{
  color: #006064;
}
.color--cyan-a100{
  color: #84ffff;
}
.color--cyan-a200{
  color: #18ffff;
}
.color--cyan-a400{
  color:  #00e5ff;
}
.color--cyan-a700{
  color: #00b8d4;
}


/* -- cyan border colors -- */

.border-color--cyan{
  border-color: #00bcd4;
}
.border-color--cyan-50{
  border-color: #e0f7fa;
}
.border-color--cyan-100{
  border-color: #b2ebf2;
}
.border-color--cyan-200{
  border-color: #80deea;
}
.border-color--cyan-300{
  border-color: #4dd0e1;
}
.border-color--cyan-400{
  border-color: #26c6da;
}
.border-color--cyan-500{
  border-color: #00bcd4;
}
.border-color--cyan-600{
  border-color: #00acc1;
}
.border-color--cyan-700{
  border-color: #0097a7;
}
.border-color--cyan-800{
  border-color: #00838f;
}
.border-color--cyan-900{
  border-color: #006064;
}
.border-color--cyan-a100{
  border-color: #84ffff;
}
.border-color--cyan-a200{
  border-color: #18ffff;
}
.border-color--cyan-a400{
  border-color:  #00e5ff;
}
.border-color--cyan-a700{
  border-color: #00b8d4;
}